footer {
  position: relative;
  padding: ($u * 3) 0;
  background: $color-bg-dark;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 4px;

    content: '';

    @include linear-gradient(to right, $color-brand-yellow, $color-brand-red);
  }
}

.footer-container {
  @include res(30) {
    display: flex;
    justify-content: center;
  }
}

.footer-left {
  margin-bottom: ($u * 2);

  @include res(30) {
    flex: none;
    margin-bottom: 0;
    margin-right: ($u * 4);
  }

  @include res(50) {
    margin-right: ($u * 8);
  }
}

.footer-links-primary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  a {
    margin-bottom: 2px;
    color: $color-base-white;
    font-family: $font-alternate;
    font-size: 24px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  padding-top: ($u*4);
  padding-bottom: ($u*4);
}

.footer-links-secondary {
  p, a {
    display: block;

    margin: 0 0 ($u/2);

    color: $color-base-light-gray;
    font-family: $font-alternate;
    font-size: 18px;
    line-height: 1.25;
    text-decoration: none;
  }
}

.footer-links-primary {

}

.footer-links__group {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(50% - 16px);

  margin-right: $u;
  margin-bottom: ($u*2);

  &:nth-of-type(even) {
    margin-right: 0;
  }

  @include res(30) {
    flex-basis: calc(33.333% - 16px);

    &:nth-of-type(even) {
      margin-right: $u;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }


  @include res(50) {
    flex-basis: calc(16.667% - 16px);

    &:nth-of-type(3n) {
      margin-right: $u;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  p,
  a {
    display: block;

    margin: 0 0 ($u/2);

    color: $color-base-white;
    font-family: $font-alternate;
    font-size: 20px;
    line-height: 1.25;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .nested {
    margin-left: $u;
  }

  span {
    font-family: $font-display;
    font-weight: 700;
  }

  .footer-links__group-header {
    padding-bottom: $u;
    margin-bottom: $u;

    border-bottom: 2px solid;

    color: $color-base-white;
    font-weight: 700;
    font-family: $font-display;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.footer-bottom {
  padding: 0 $u ($u*2);

  @include res(30) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

  }
}

.footer-bottom__logo {
  width: 250px;
  flex: none;
  margin-bottom: ($u);
}

.footer-bottom__social-links {
  margin-top: ($u/2);

  a {
    display: inline-block;
    margin-right: ($u/4);
    text-decoration: none;

    img {
      @include transition;
      opacity: 0.75;
      width: 32px;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }
}

.footer-bottom__fine-print {
  margin-top: ($u * 2);
  p {
    margin: 0px;
    color: $color-text-neutral;
    font-size: 14px;
  }
}
