// Site Nav

body.overflow {
  overflow: hidden;
}

.nav {
  position: fixed;
  z-index: 1001;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  padding: $u;

  pointer-events: none;

  @include res(36) {
    align-items: flex-start;
    padding: ($u*2);
  }

  &::after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: calc(100% + 24px);

    background: linear-gradient(rgba($color-bg-dark, 0.5), rgba(0, 0, 0, 0));
    mix-blend-mode: multiply;

    pointer-events: none;

    content: '';
  }

  a {
    line-height: 0;
    text-decoration: none;
    pointer-events: auto;
  }
}

.nav-home-logo {
  z-index: 1001;

  display: flex;
  align-items: center;

  width: 216px;
  height: 54px;

  transition: width 0s ease-in-out 0s;

  .switch & {
    width: 80px;
    transition: width 0s ease-in-out 0.2s;
  }

  @include res(32) {
    width: 320px;
    height: 80px;

    .switch & {
      width: 80px;
    }
  }
}

.logo--badge {
  width: 54px;
  height: 54px;

  @include res(32) {
    width: 80px;
    height: 80px;
  }
}

.logo--wordmark {
  width: 162px;
  height: 54px;
  opacity: 1;
  transition: 0.2s ease-in-out 0.2s;

  .switch & {
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out 0s;
  }

  @include res(32) {
    width: 240px;
    height: 80px;
  }
}


.nav__icons {
  position: relative;
  z-index: 1001;
  display: flex;

  a {
    height: 30px;
    width: 30px;
    background-size: 30px;
    background-repeat: no-repeat;

    font-size: 0;
    @include transition;

    &.nav-contact {
      background-image: url('/images/icons/Contact/White.svg');
    }
    &.nav-search {
      background-image: url('/images/icons/Search/White.svg');
    }
    &.nav-pages {
      background-image: url('/images/icons/Hamburger/White.svg');
    }
    &.nav-close {
      background-image: url('/images/icons/X/White.svg');
    }
  }

  a:not(:first-of-type) {
    margin-left: ($u/2);

    @include res(36) {
      margin-left: ($u*0.75);
    }
  }
}

.nav-offscreen {
  position: fixed;
  z-index: 1000;
  overflow-y: scroll;

  width: 100%;
  height: 100%;

  opacity: 0;
  pointer-events: none;

  @include transition;
  background: rgba($color-base-off-white, 0.975);

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  .container {
    padding-top: ($u*10);
    padding-bottom: ($u*3);
  }
}

.nav-container {
  @include res(36) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
//
// .nav-column {
//   @include res(36) {
//     flex: 0 1 calc(50% - 24px);
//     margin-right: 48px;
//
//     &:last-of-type {
//       margin-right: 0;
//     }
//   }
// }

.nav-column + .nav-column {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 2px solid $color-brand-yellow;
}

.nav-page {
  display: block;

  margin-bottom: $u;

  color: $color-text-default;
  font-family: $font-default;
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  text-decoration: none;

  @include transition;

  &:hover {
    // color: $color-brand-dark-blue;
    text-decoration: underline;
  }

  @include res(36) {
    font-size: 36px;
  }

  @include res(60) {
    // font-size: 44px;
  }

  &.nav-page--secondary {
    font-weight: 400;
    font-size: 24px;
  }
}

.nav-search-bar {
  display: flex;
  align-items: center;

  width: 100%;

  input[type="text"] {
    width: 100%;

    padding: 12px 0;

    border: none;
    border-bottom: 2px solid $color-base-light-gray;
    background: none;

    color: $color-text-default;
    font-family: $font-display;
    font-size: 36px;

    outline: none;

    @include transition;

    &:focus, &:active {
      border-color: $color-text-default;
    }

    @include res(40) {
      font-size: 48px;
    }
  }
}

.nav-search-bar-icon {
  flex: none;

  width: 36px;
  height: 36px;

  margin-right: ($u*2);

  border: none;
  background-image: url("/images/icons/Search/Grey.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 36px;

  opacity: 0.75;

  cursor: pointer;

  @include transition;

  &:hover {
    opacity: 1;
  }

  @include res(50) {
    width: 48px;
    height: 48px;
    background-size: 48px;
  }
}

.nav-contact {
  display: flex;
  flex-direction: column;

  @include res(50) {
    flex-direction: row;
  }

  .nav-contact-map {
    position: relative;
    flex: 1 1 50%;
    order: 2;

    @include res(50) {
      order: 0;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 300px;
      background: linear-gradient(rgba($color-bg-dark, 0.5), rgba(0, 0, 0, 0));
      content: '';
    }

    iframe {
      width: 100%;
      height: calc(100vh + 125px);

      @include res(50) {
        height: calc(100vh + 250px);
        margin-top: -125px;
      }
    }
  }

  .container {
    flex: 1 1 50%;
    width: 100%;
  }

  .container--inner-50 {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: 0;

    @include res(50) {
      padding-left: ($u*2);
    }
  }
}

.nav-contact-info {
  margin-bottom: ($u*2);

  p {
    margin: 0;
    color: $color-text-default;
    font-weight: 700;
    font-family: $font-display;
    font-size: 14px;
    letter-spacing: 1px;
  }
}

.nav-contact-form,
.tenant-request-form-container {
  h2 {
    color: $color-text-default;

    img {
      position: relative;
      top: 3px;
      margin-right: ($u/2);
    }
  }

  form {
    input[type="text"],
    input[type="email"],
    input[type="date"],
    input[type="datetime-local"],
    textarea,
    select {
      width: 100%;

      padding: ($u/2) $u;

      border: 2px solid $color-base-off-white;
      border-radius: 5px;
      background: $color-base-white;

      font-family: $color-text-default;
      font-size: 18px;

      @include transition;

      &:focus,
      &:active {
        outline: none;
        border-color: $color-base-light-gray;
      }
    }

    select {
      height: 39px;
      appearance: menulist;
    }
  }

  button {
    position: relative;
    padding: ($u/2) $u;
    margin-top: $u;

    &::before {
      position: relative;
      top: 0;
      left: 0;

      width: 24px;
      height: 24px;

      margin-right: 8px;

      background-image: url('/images/icons/Airplane/Yellow.svg');
      background-repeat: no-repeat;
      background-size: 24px;
      background-position: center;

      content: '';
    }
  }

  label {
    color: $color-text-default;
    font-weight: 700;
    font-family: $font-display;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .form__row {
    margin-top: $u;
  }
}

.errors li {
  margin-top: ($u/2);
  color: $color-text-subtle;
}

.nav-additional-header {
  margin-top: ($u*2);
  color: $color-base-white;
}

.nav-additional {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  padding-top: $u;
  margin-top: ($u/2);

  &::before {
    position: absolute;
    top: 0;
    right: 0;

    width: 300px;
    height: 2px;

    background: $color-base-white;

    content: '';
  }

  a {
    flex: 0 1 380px;
  }
}
