.hero--home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &.slide {

    .hero-arrow.prev {
      display: inherit;
    }

    .hero-arrow.next {
      display: none;
    }
  }

  @include res(48) {
    height: auto;

    &.slide {
      .hero-arrow.prev,
      .hero-arrow.next {
        display: none;
      }
    }
  }
}

.hero--with-image {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 400px;

  &:hover {
    color: $color-text-default;

    .headline-reveal {
      transform: none;

      h2 {
        color: $color-text-default;
      }
    }
  }
}

.hero--home .hero--with-image {
  display: flex;
  align-items: center;
  justify-content: center;

    @include res(48) {
      flex: 1 1 50% !important;
      position: relative;
      justify-content: flex-end;
      height: 70vh;
      min-height: 400px;

      .btn {
        margin-bottom: 32px;
      }
    }
}

.headline-reveal {
  transform: translateY(100%);
  width: 100%;
  padding: $u ($u * 2);
  background: rgba($color-base-white, 0.9);
  text-align: center;
  @include transition;

  h2 {
    color: $color-text-default;
    font-family: $font-display;
    font-weight: 300;
    @include typi($h2-map);
  }

  .hero--with-image & {
    transform: none;

    @include res(48) {
      transform: translateY(100%);
    }
  }
}

.hero--with-image {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  min-height: 480px;

  background-size: cover;
}

.hero-arrow-icon {
  display: none;

  @include res(50) {
    position: absolute;
    z-index: 2;
    display: block;
    bottom: ($u);
    left: 50%;

    transform: translateX(-50%);
    animation: bounce 2s 2s 3;


    img {
      width: 48px;
    }
  }
}

.hero--property-listing .hero__content {
  width: 100%;
}

.featured-slider {
  position: relative;
  height: auto;
  min-height: 600px;

  @include res(50) {
    height: 100vh;
    min-height: 600px;
  }

  .nav-arrow {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    padding: 8px;
    background: $color-brand-yellow;
    cursor: pointer;

    @include transition;

    &.next {
      transform: translateY(-50%) rotate(180deg);
      left: auto;
      right: 16px;
    }

    &:hover {
      background: darken($color-brand-yellow, 10%);
    }
  }
}

.featured-slider-nav {
  // display: none;
  position: absolute;
  bottom: 275px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;

  @include res(42) {
    bottom: 200px;
  }

  @include res(72) {
    bottom: 150px;
  }
}

.featured-slider-nav__item {
  position: relative;
  width: 24px;
  height: 24px;
  transform: none;
  margin-right: 8px;

  border: 4px solid rgba($color-base-white, 0.5);
  // background: rgba($color-base-white,0.5);


  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }

  &.current-slide {
    border-color: $color-brand-yellow;
  }

  @include res(52) {
    width: 12px;
    height: 12px;
    border: none;
    background: $color-base-white;

    &.current-slide {
      background: $color-brand-yellow;
    }
  }


}

.featured-slider__item {
  position: absolute;

  display: flex;
  justify-content: flex-end;

  width: 100%;
  height: 100%;

  background-size: cover;

  opacity: 0;

  pointer-events: none;

  @include transition;

  &.active-slide {
    opacity: 1;
    pointer-events: inherit;
  }

  .hero-arrow {

    @include res(36) {
      display: none;
    }
  }
}

.featured-project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: flex-end;
  width: 100%;
  padding: 0;
  border: 4px solid $color-brand-yellow;
  background: rgba($color-base-white, 0.9);
  text-decoration: none;
  color: $color-text-subtle;

  &:hover {
    color: $color-text-default;

    h1 {
      color: $color-text-default;
    }
    .btn {
      opacity: 1;
    }
  }


  @include res(42) {
    flex-direction: row;
  }

  @include res(50) {
    margin-top: ($u*10);
    // margin-bottom: ($u*5);
    // width: calc(100% - 214px);
    // max-width: 875px;
  }



  h1 {
    position: relative;
    flex: none;


    margin: 0;
    margin-right: ($u*2);

    color: #555;
    text-align: center;
    @include typi($h2-map);


    @include res(42) {
      text-align: left;
    }

    // @include res(56) {
    //   align-self: center;
    //   width: 40%;
    //   max-width: 500px;
    //   padding: $u ($u*2);
    //
    //   text-align: right;
    //   &::after {
    //     content: '';
    //     position: absolute;
    //     top: 1rem;
    //     right: 0;
    //     width: 3px;
    //     height: calc(100% - 2rem);
    //     background: $color-base-off-white;
    //   }
    // }
  }

  .featured-project-description {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
    margin: 0;
    padding: $u;
    text-align: center;

    @include res(42) {
      text-align: left;
      padding: ($u*2);
    }

    // @include res(56) {
    //   flex-direction: row;
    //   align-items: center;
    //   padding: 0;
    //   padding-right: ($u*2);
    // }
  }

}

// .featured-project__info {
//   max-width: calc(992px - 40%);
//
//   h1 {
//     margin: $u 0;
//     color: $color-text-default;
//     line-height: 1.125;
//   }
//
//   @include res(54) {
//     padding-right: 0;
//     padding-left: ($u*3);
//   }
// }

.featured-project__links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  padding: 0 ($u*3);
  border: 1px solid $color-brand-yellow;
  background: $color-brand-yellow;

  .btn {
    align-self: center;
    opacity: 0.75;

    &:hover {
      color: $color-base-white;
    }
  }
}

.band--yellow {
  position: relative;
  padding: $u ($u*2);
  background: $color-brand-yellow;
  text-align: center;

  h6 {
    color: $color-base-white;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  @include res(36) {
    text-align: left;
  }

  @include res(54) {
    padding: ($u*2) ($u*3);
  }

  .container {
    padding: 0 ($u*3);
  }
}

.band--yellow-red {
  @include linear-gradient(to right, $color-brand-yellow, $color-brand-red);
}

.band--large {
  padding: ($u*4) 0;
}

.hero-arrow {
  position: absolute;
  top: 50%;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;
  background: $color-brand-yellow;

  cursor: pointer;

  @include transition;

  .featured-project & {
    background: $color-base-white;
  }

  &:hover {
    img {
      transform: scale(1.15);
    }
  }

  &.prev {
    left: 0;
    transform: translateY(-50%);

    .hero--home & {
      display: none;
    }
  }

  &.next {
    right: 0;
    left: auto;
    transform: translateY(-50%) rotate(180deg);

    .hero--home & {
      @include res(48) {
        display: none;
      }
    }
  }

  img {
    @include transition;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-20px);
  }
  60% {
    transform: translateX(-50%) translateY(-8px);
  }
}

.arrow-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &.arrow-container-construction .hero-arrow-icon {
    left: 60%;
  }
}
