.flexed-default {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flexed-row {
  @include res(40) {
    display: flex;
    justify-content: space-between;
  }
}

.flex-ai-start {
  align-items: flex-start;
}

.flex-ai-end {
  align-items: flex-end;
}

.flex-ai-center {
  align-items: center;
}

.flex-ai-stretch {
  align-items: stretch;
}

.flex-jc-start {
  justify-content: flex-start;
}

.flex-jc-end {
  justify-content: flex-end;
}

.flex-jc-center {
  justify-content: center;
}

.flex-jc-space-around {
  justify-content: space-around;
}

.flex-jc-space-between {
  justify-content: space-between;
}

// Layout class helpers
.full-screen {
  min-height: 100vh;
}

.image-centered {
  margin-right: auto;
  margin-left: auto;
}

.centered {
  text-align: center;
}

.h-padding {
    padding-right: ($u*2);
    padding-left: ($u*2);
}

.v-padding-default {
  padding-top: ($u*3);
  padding-bottom: ($u*3);
}

.v-padding-large {
  padding-top: ($u*5);
  padding-bottom: ($u*5);
}

.v-padding-mega {
  padding-top: ($u*8);
  padding-bottom: ($u*8);
}

.padding-top-large {
  padding-top: ($u*3);
  padding-bottom: ($u*4);

  @include res(36) {
    padding-top: ($u*6);
    padding-bottom: ($u*6);
  }
}

.padding-top-xl {
  padding-top: ($u*10);
  padding-bottom: ($u*4);

  @include res(36) {
    padding-bottom: ($u*6);
  }
}

.padding-top-2xl {
  padding-top: ($u*10);
  padding-bottom: ($u*4);

  @include res(36) {
    padding-top: ($u*12);
    padding-bottom: ($u*6);
  }
}

.bg-off-white {
  background-color: $color-base-off-white;
}
