.btn,
%btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: $u ($u*3);

  border: 4px solid transparent;
  background-color: rgba(255, 255, 255, 0.9);

  color: $color-text-default;
  font-weight: 700;
  font-family: $font-display;
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;

  cursor: pointer;

  @include transition;

  &:hover {
    border-color: $color-brand-yellow;
  }
}

.btn--stacked {
    display: flex;
    flex-direction: column;

    img {
        margin-bottom: 6px;
    }
}

.btn--no-border {
  padding: $u 0;
  border: none;
  background: none;
}

.btn--small {
  padding: $u ($u*2);
  font-size: 12px;
  letter-spacing: 1px;
}

.btn--gray {
  color: $color-text-subtle;

  &:hover {
    color: $color-text-default;
  }
}

.btn--yellow {
  color: $color-brand-yellow;

  &:hover {
    color: darken($color-brand-yellow, 15%);
  }
}

.btn--yellow-border {
  background: transparent;
  color: $color-brand-yellow;
  border: 2px solid $color-brand-yellow;

  &:hover {
    color: darken($color-brand-yellow, 15%);
    border-color: darken($color-brand-yellow, 15%);
  }
}

.btn--neutral {
  color: $color-text-neutral;

  &:hover {
    border-color: $color-text-subtle;
    color: $color-text-subtle;
  }
}

.btn--large {
  font-size: 18px;
}

.btn--white {
  color: $color-base-white;

  &:hover {
    color: $color-base-light-gray;
  }
}

.btn--round {
  border: 2px solid;
  border-radius: 40px;
}

.btn--ghost {
  background: none;
}

.btn--with-icon {
  img {
    margin-right: ($u*0.75);
  }
}

.btn--with-icon-mirrored {
  img {
    margin-left: ($u*0.75);
  }
}

.btn--faded {
  opacity: 0.5;

  img {
    width: 20px;
  }

  &:hover {
    opacity: 0.75;
  }
}

.btn--flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-pages .btn--large {
  font-size: 13px;
  position: relative;
  justify-content: flex-start;

  @include res(36) {
    font-size: 18px;
  }

  // &.first {
  //     padding-top: ($u*3);
  //     margin-top: ($u*2);
  //
  //     &::before {
  //       position: absolute;
  //       top: 0;
  //       right: 0;
  //
  //       width: 300px;
  //       height: 2px;
  //
  //       background: $color-base-white;
  //
  //       content: '';
  //     }
  // }

  // &:last-of-type {
  //     padding: 0;
  //     margin: 0;
  //     &::before {
  //         display: none;
  //     }
  // }
}
