.gradient-radial-blue {
  @include radial-gradient(bottom, $color-brand-blue, $color-bg-dark);

  p {
    color: white;
  }
}

.gradient-radial-blue-sheer {
  @include radial-gradient(top left, rgba($color-bg-dark, 0.9), rgba($color-brand-blue, 0.9));

  p, h1, h2, h3 {
    color: white;
  }
}

.gradient-linear-yellow-red {
  @include linear-gradient (to right, $color-brand-yellow, $color-brand-red);
}

.gradient-linear-yellow-red-sheer {
  @include linear-gradient (to right, rgba($color-brand-yellow, 0.9), rgba($color-brand-red, 0.9));

  p {
    color: white;
  }
}
