@import '../typi/typi';

.search--construction {
  position: relative;
}
.search-form {
  position: relative;
  padding: ($u*3) 0;
}

.search__refinements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__list-toggle {
  span {
    cursor: pointer;
  }

  span + span {
    margin-left: ($u/2);
  }
}

.search__bar {
  display: flex;
  align-items: center;

  padding: ($u/2) 0;

  border-top: 2px solid $color-base-off-white;
  border-bottom: 2px solid $color-base-off-white;

  span {
    flex: none;
    line-height: 0;
  }

  input {
    flex: 1;

    width: 100%;

    margin: 0 $u;
    padding: ($u/2) ($u/4);

    border: none;
    border-bottom: 2px solid transparent;

    font-size: 16px;
    font-family: $font-default;
    line-height: 1.5;

    @include transition;

    &:hover {
      border-color: $color-base-off-white;
    }

    &:focus,
    &:active {
      border-color: $color-base-light-gray;
      outline: none;
    }
  }
}


::-webkit-input-placeholder {
  color: $color-text-neutral;
}
::-moz-placeholder {
  color: $color-text-neutral;
}
:-ms-input-placeholder {
  color: $color-text-neutral;
}
:-moz-placeholder {
  color: $color-text-neutral;
}

.search__filters {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: ($u*2) 0;
}

.search__filters--development {
  flex: 1;
}

.search__filters--type {
  flex: none;
  padding-left: ($u);
  margin-left: ($u);
  border-left: 2px solid $color-base-off-white;

  @include res(45) {
    padding-left: ($u*4);
    margin-left: ($u*2);
  }
}

.filter-list--list-view {
  margin-top: ($u*0.75);
  margin-left: 0;
  list-style: none;

  li {
    position: relative;

    margin-bottom: 0;
    font-size: 18px;
    color: $color-text-subtle;

    cursor: pointer;

    @include transition;

    &:hover {
      color: $color-text-default;
    }

    &::before {
      position: relative;
      top: 2px;
      left: 0;

      display: inline-block;

      width: 16px;
      height: 16px;

      margin-right: ($u/2);

      background: $color-base-off-white;

      content: '';
    }

    &.active {
      color: $color-brand-yellow;

      &:hover {
        color: $color-brand-yellow;
      }

      &::before {
        background: $color-brand-yellow;
      }
    }
  }
}

.search-results-wrapper {

  @include transition;

  &.grid-view {
      display: flex;
      flex-wrap: wrap;

    .search-results__table-header {
      display: none;
    }

    .search-result {
      display: flex;
      flex-direction: column;
      flex: 1 0 100%;
      align-items: center;
      overflow: hidden;
      height: 300px;
      transform: scale(0.75);
      opacity: 0;
      animation: fadein 0.5s forwards;

      @include res(40) {
        flex: 0 1 50%;
        height: 450px;
      }

      @include res(60) {
        &:hover {
          .search-result__info {
            transform: none;
            opacity: 1;
          }
        }
      }

      &:nth-of-type(4n+1) {
        animation-delay: 0.25s;
      }
      &:nth-of-type(4n+2) {
        animation-delay: 0.5s;
      }

      &:nth-of-type(4n+3) {
        animation-delay: 0.75s;
      }

      &:nth-of-type(4n+4) {
        animation-delay: 1s;
      }
    }

    .search-result__info {
      width: calc(100% - (#{$u}*2));

      padding: $u ($u*2);
      margin: auto $u $u;

      background: rgba($color-base-white, 0.9);

      color: $color-text-default;
      text-align: center;


      @include transition;

      @include res(60) {
        transform: translateY(100%);
        width: 100%;
        margin: auto 0 0;
        opacity: 0;
      }

      p {
        margin-top: ($u/4);
      }
    }

    .search-result__title {
      font-family: $font-display;
      font-weight: 300;
      @include typi($h2-map);
    }

    .search-result__location {
      color: $color-text-subtle;
      font-family: $font-display;
      font-weight: 300;
      @include typi($h4-map);
    }

    .search-result__description,
    .search-result__project-type,
    .search-result__tags {
      display: none;
    }
  }

  &.list-view {

    .search-results__table-header {
      display: none;
      flex-wrap: wrap;
      justify-content: space-between;

      max-width: calc(100% - 32px);

      padding: ($u*1.5) $u $u;

      font-weight: 700;
      font-family: $font-display;

      @include res(56) {
        display: flex;
        max-width: calc(100% - 96px);
      }

      @include res(62) {
        padding: ($u*1.5) 0 $u
      }
    }

    .search-result {
      display: block;

      max-width: calc(100% - 32px);

      padding: ($u*1.5) 0;
      margin: 0 auto 0;

      border-top: 2px solid $color-base-off-white;
      background: none !important;

      @include res(56) {
        max-width: calc(100% - 96px);
      }

      &::after {
        display: none;
      }

      &:hover {
        .search-result__title {
          color: $color-brand-yellow;
        }
        .search-result__location,
        .search-result__description p,
        .search-result__project-type,
        .search-result__tags {
          color: $color-text-default;
        }
      }
    }

    .search-result__info {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 $u;

      @include res(56) {
        flex-direction: row;
        padding: 0;
      }

      @include res(62) {
        // padding-bottom: ($u * 3);
      }
    }

    .search-result__title {
      color: $color-text-default;
      font-family: $font-display;
      font-weight: 300;
      // @include typi($h3-map);
      @include transition;
      line-height: 1;
    }

    .search-result__location {
      margin: 0 0 ($u/4);
      color: $color-text-subtle;
      font-family: $font-display;
      font-weight: 300;
      font-size: 16px;
      line-height: 1.25;
      @include transition;

      @include res(48) {
        margin: 0;
      }
    }

    .search-result__description p {
      margin-bottom: ($u/2);
      color: $color-text-subtle;
      font-size: 16px;
      line-height: 1.25;
      // @include typi($body-text-tight);
      @include transition;

      @include res(48) {
        margin: 0;
      }
    }

    .search-result__project-type {
      color: $color-text-subtle;
      font-weight: 700;
      font-family: $font-display;
      font-size: 12px;
      text-transform: uppercase;
      @include transition;
    }

    .search-result__tags {
      color: $color-text-subtle;
      font-weight: 400;
      font-family: $font-display;
      font-size: 13px;
      @include transition;
    }

    .title-cell {
      @include res(48) {
        flex: none;
        width: 300px;
        padding-right: ($u * 2);
      }
    }

    .description-cell {
      @include res(48) {
        flex: 1;
        padding-right: ($u*2);
      }
    }

    .location-cell {
      @include res(48) {
        flex: none;
        width: 100px;
        padding-right: $u;
      }
    }

    .type-cell {
      @include res(48) {
        width: 100px;
        flex: none;
        padding-right: $u;
      }
    }

    .tag-cell {
      @include res(48) {
        width: 100px;
        flex: none;
        // padding-right: $u;
      }
    }
  }
}

.search-results__load-more {
  flex: 1 1 100%;
  padding: ($u*3) 0;
  text-align: center;
}

.search-form--construction {
  margin: ($u*3) 0;

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .search-form-column {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;

    &.column--search {
      flex: 1 1 100%;
      padding-left: 0;
      margin-bottom: ($u*2);
      border-left: 0;

      @include res(50) {
        flex: 1;
        margin-bottom: 0;
      }
    }

    &.column--type, &.column--tag {
      margin-bottom: ($u*2);

      @include res(36) {
        flex: 1;
        margin-bottom: 0;
      }

      @include res(50) {
        padding-left: ($u*2);
        border-left: 2px solid $color-base-off-white;
      }
    }

    &.column--delivery-method {
      @include res(36) {
        flex: 1;
        padding-left: ($u*2);
        border-left: 2px solid $color-base-off-white;
      }
    }
  }

  .search__bar {
    padding: 0;
    margin-top: auto;
    border: none;
    @include transition;

    span {
      opacity: 0.5;
      cursor: pointer;
      @include transition;

      &:hover {
        opacity: 0.8;
      }
    }

    input {
      margin-left: 8px;
    }
  }

  .search-form-toggles {
    margin-top: $u;
    display: flex;

    span {
      cursor: pointer;
      opacity: 0.5;
      filter: grayscale(1);

      @include transition;

      &:hover {
        opacity: 0.75;
      }

      &.active {
        opacity: 1;
        filter: none;
      }
    }
    span + span {
      margin-left: ($u/2);
    }

    @include res(36) {
      flex-direction: column;
      margin-top: 0;
      margin-left: ($u*2);

      span + span {
        margin-left: 0;
      }
    }
  }
}

.search-form-dropdown {
  position: relative;
  margin-top: auto;
  margin-right: $u;

  &::after {
    position: absolute;
    top: 8px;
    right: 0;

    width: 30px;
    height: 30px;

    background-image: url('/images/icons/Down/Yellow.svg');
    background-size: 30px;

    pointer-events: none;

    content: '';

    @include transition;
  }

  &:hover::after {
    transform: scale(1.15);
  }

  select {
    flex: 1;
    padding: ($u/2) 0;
    padding-right: ($u*2);

    width: 100%;

    background: none;
    border: 0;

    color: $color-text-neutral;
    font-family: $font-default;
    font-size: 16px;
    line-height: 1.5;

    outline: 0;
    appearance: none;
    cursor: pointer;
  }

  img {
    flex: none;
    margin: 0 $u;
  }
}


@keyframes fadein {
  0% {
    transform: scale(0.75);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
