.testimonials {
  width: 100%;
  overflow: hidden;
  border-top: 10px solid $color-base-white;
}

.testimonial-content {

  .slick-track {
    height: 600px;
  }
}

.testimonial-quote {
  padding: ($u*3);
  border-top: 2px solid $color-brand-yellow;
  border-bottom: 2px solid $color-brand-yellow;

  @include res(50) {
    flex: 1 0 60%;
    padding: ($u*2) ($u*4);
  }

  @include res(72) {
    flex: 1 0 50%;
    padding: ($u*2) ($u*6);
  }


  .quote {
    position: relative;

    margin-bottom: 0;

    font-weight: 300;
    font-family: $font-display;
    font-size: 14px;
    line-height: 1.35;

    &::after {
      position: relative;

      display: block;
      width: 150px;
      height: 2px;

      margin: ($u*2) 0 $u;

      background: $color-brand-yellow;

      content: '';
    }

    @include res(72) {
      font-size: 18px;
    }
  }

  .quote-author {
    margin: 0;
    font-size: 24px;
    line-height: 1.25;
  }

  .quote-title {
    margin: 0;
    line-height: 1.25;
  }

  .quote-company {
    margin: 0;
    line-height: 1.25;
  }

}

.testimonial-photo {
  position: relative;

  display: flex !important;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 250px;

  background-size: cover;

  @include res(50) {
    flex: 0 0 40%;
    height: auto;
  }

  @include res(72) {
    flex: 0 0 50%;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    opacity: 0.75;
    @include linear-gradient (to right, $color-brand-yellow, $color-brand-red);
  }

  .btn {
    z-index: 5;
  }
}

.testimonial-slide {
  display: flex !important;
  flex-wrap: wrap !important;
  width: 100%;
}


.testimonial-nav {
  position: relative;
  display: flex;
  padding: ($u*3) 0;
}


.testimonial-nav-item {
  flex: 1 0 20%;
  padding: $u ($u*2);
  margin: 0 12px;
  border: 1px solid transparent;
  border-radius: 3px;
  opacity: 0.25;
  cursor: pointer;
  outline: none;

  height: 140px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;

  @include transition;

  &:hover {
    opacity: 0.65;
  }

  &.slick-current {
    border-color: $color-base-light-gray;
    opacity: 1;
  }

   img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 106px;
    margin: auto;
  }
}

.testimonial-nav-item__title {
  font-family: $font-display;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  text-align: center;
}


// Slick specific styles
.slick-next {
  right: 12px !important;
  z-index: 999;
  transform: translate(0, -50%) rotate(180deg) !important;
  width: 30px;
}

.slick-prev {
  left: 12px !important;
  z-index: 999;
  width: 30px;
}

.slick-next::before,
.slick-prev::before {
  display: none;
}


.slick-track {
    margin-left: 0 ;
    margin-right: 0 ;
}
