{% extends "_base" %}
{% set title = "Join Hampton's Team" %}

{% import '_includes/_macros' as icon %}

{% block stylesheets %}
<style>
body {
  min-height: 100vh;
}
</style>
{% endblock %}

{% block content %}

<section class="padding-top-xl">
  <div class="container env-light tenant-request-form-container">
    <h1 class="display-size-h2" style="margin-bottom: 32px">Join Hampton's Team</h1>

    {% set jobOpenings = craft.entries.section('jobOpenings') %}

    {% if jobOpenings.total > 0 %}
      <h3 style="margin: 32px 0 8px;">Job Descriptions</h3>
      <div class="job-openings">
        {% for job in jobOpenings %}
        <a href="#" class="job-popup-trigger" data-job="{{ job.title|kebab }}" style="font-size: 18px">{{ job.title }}</a>
        <div class="popup job-description-popup env-light" data-job="{{ job.title|kebab }}">
          <div class="container v-padding-large">
            <a href="#" class="close-button btn btn--grey btn--with-icon btn--no-border">{{ icon.variation('x', 'grey') }} Close</a>
            <h2 style="margin-bottom: 16px">{{ job.title }}</h2>
            <div class="intro">{{ job.body }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}

    {% set form = craft.amForms.getForm('careers') %}
    <form class="tenant-request-form" method="post" action="" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ getCsrfInput() }}

        {# This should always be here! #}
        <input type="hidden" name="action" value="amForms/submissions/saveSubmission">

        {# Insert your form's handle. #}
        <input type="hidden" name="handle" value="{{ form.handle }}">

        {# This will namespace your inputs (for IDs and such), but it's not required though #}
        <input type="hidden" name="namespace" value="{{ form.getNamespace() }}">
        <input type="hidden" name="redirect" value="/careers-confirmation">

        {# Optional: Anti-spam protection. #}
        {{ craft.amForms.displayAntispam() }}

        {# Optional: Google reCAPTCHA protection. #}
        {{ craft.amForms.displayRecaptcha() }}

        {# Place the HTML of your fields here #}
        <div class="form-fields-container">
            <div class="form-fields-column">
                <p style="width: 600px; max-width: 100%;">Here at Hampton you're more than a name and a number, you're part of the family. Come be a part of our culture today!</p>
                {% if openJobPositions.openJobs|length %}
                  <h6>Current Job Openings:</h6>
                  <ul style="margin: 8px 16px 16px;">
                    {% for job in openJobPositions.openJobs %}
                    <li>{{ job.jobTitle }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
                {{ form.displayField('fullName') }}
                {{ form.displayField('phoneNumber') }}
                {{ form.displayField('emailAddress') }}
                {{ form.displayField('applicationMessage') }}
                <div class="resume-upload">{{ icon.variation('resume', 'grey') }}{{ form.displayField('file') }}</div>
                <p><a href="/images/other/Employment-Application-2023F-1.pdf" download>Click here</a> to download our full application. Please fill it out and upload it along with your resume.</p>
                <div class="resume-upload">{{ icon.variation('resume', 'grey') }}{{ form.displayField('uploadApplication') }}</div>

            </div>
        </div>

        <button class="btn btn--with-icon btn--round btn--ghost btn--yellow" type="submit">Submit</button>
    </form>
  </div>
</section>

{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
  $('.close-button').click(function() {
    $('.popup').removeClass('active');
    $('body').removeClass('overflow');
  })

  $('.job-popup-trigger').click(function() {
    var job = $(this).data('job');
    $('.job-description-popup[data-job='+job+']').addClass('active');
    $('body').addClass('overflow');
  });
});
</script>
{% endblock %}
