<div class="sticky-nav-internal">
  <div class="sticky-nav-container">
    <a class="btn btn--no-border btn--with-icon btn--white{% if 'about-us' in craft.request.url %} active{% endif %}" href="/about/about-us">About Us</a>
    <a class="btn btn--no-border btn--with-icon btn--white{% if 'team' in craft.request.url %} active{% endif %}" href="/about/team">Our Team</a>
    <a class="btn btn--no-border btn--with-icon btn--white{% if 'values' in craft.request.url %} active{% endif %}" href="/about/values">Our Values</a>
    <a class="btn btn--no-border btn--with-icon btn--white{% if 'culture' in craft.request.url %} active{% endif %}" href="/about/culture">Our Culture</a>
    <a class="btn btn--no-border btn--with-icon btn--white{% if 'history' in craft.request.url %} active{% endif %}" href="/about/history">Our History</a>
    <a class="btn btn--no-border btn--with-icon btn--white{% if 'founder' in craft.request.url %} active{% endif %}" href="/about/founder">Our Founder</a>
  </div>
</div>
