{% import '_includes/_macros' as icon %}

{% cache globally using key 'site-footer' %}
<footer>
  <div class="container footer-container">
    <div class="footer-left">
      <img class="footer-bottom__logo" src="/images/logos/Hampton-Logo-Horizontal-White.png" alt="Hampton Logo">
      <div class="footer-links-secondary">
        {% set address = contactInfo.address %}
        <p><span>P</span> {{ contactInfo.phoneNumber }}</p>
        <p><span>F</span> {{ contactInfo.faxNumber }}</p>
        <p>{{ address.addressLine1 }}, {{ address.addressLine2 }}<br>{{ address.cityStateZip }}</p>
      </div>
      <div class="footer-bottom__fine-print">
        <p>&copy; Hampton {{ "now"|date("Y") }}</p>
        <p>All Rights Reserved</p>
        <div class="footer-bottom__social-links">
          <a href="{{ companySocialLinks.facebookUrl }}" target="_blank">{{ icon.variation('facebook', 'white') }}</a>
          <a href="{{ companySocialLinks.linkedinUrl }}" target="_blank">{{ icon.variation('linkedin', 'white') }}</a>
        </div>
      </div>
    </div>

    <div class="footer-right">
      <div class="footer-links-primary">
        <a href="/">Home</a>
        <a href="/about/about-us">About</a>
        <a style="display: none" href="/about/culture">Culture</a>
        <a href="/careers">Careers</a>
        <a href="/properties">Properties</a>
        <a href="/construction">Construction</a>
        <a href="/news">News & Blog</a>
        <a href="#" class="nav-page-contact">Contact</a>
      </div>
    </div>
  </div>

  {# <div class="container footer-links">

    <div class="footer-links__group">
      <a href="/" class="footer-links__group-header">Home</a>
      <a href="/#hampton-way">The Hampton Way</a>
    </div>

    <div class="footer-links__group">
      <a href="/about/about-us" class="footer-links__group-header">About</a>
      <a href="/about/about-us">About Us</a>
      <a href="/about/founder">Our Founder</a>
      <a href="/about/history">Our History</a>
      <a href="/about/values">Our Core Values</a>
      <a href="/about/team">Our Team</a>
    </div>

    <div class="footer-links__group">
      <a href="/properties" class="footer-links__group-header">Properties</a>
      <a href="/properties#available">Available Properties</a>
      <a href="/developments">Developments</a>
      {% set developments = footerDevelopmentsList.developmentsFooterLinks.with(['development']) %}
      {% for link in developments %}
        {% set devLink = link.development[0] ?? null %}
        <a href="{{ devLink.url }}" class="nested">{{ link.developmentLabel }}</a>
      {% endfor %}
      <a href="/request">Tenant Work Order Request</a>
    </div>

    <div class="footer-links__group">
      <a href="/construction" class="footer-links__group-header">Construction</a>
      <a href="/construction#projects">Projects / Portfolio</a>
    </div>

    <div class="footer-links__group">
      <a href="/news" class="footer-links__group-header">News &amp; blog</a>
      <a href="/news">Recent News</a>
    </div>

    <div class="footer-links__group">
      <a href="#" class="footer-links__group-header nav-page-contact">Contact</a>
      {% set address = contactInfo.address %}
      <p><span>P</span> {{ contactInfo.phoneNumber }}</p>
      <p><span>F</span> {{ contactInfo.faxNumber }}</p>
      <p>{{ address.addressLine1 }}, {{ address.addressLine2 }}<br>{{ address.cityStateZip }}</p>
    </div>

  </div>

  <div class="container footer-bottom">
    <img class="footer-bottom__logo" src="/images/logos/Hampton-Logo-Horizontal-White.png" alt="Hampton Logo">
    <div class="footer-links__group">
      <a href="#" class="footer-links__group-header nav-page-contact">Contact</a>
      {% set address = contactInfo.address %}
      <p><span>P</span> {{ contactInfo.phoneNumber }}</p>
      <p><span>F</span> {{ contactInfo.faxNumber }}</p>
      <p>{{ address.addressLine1 }}, {{ address.addressLine2 }}<br>{{ address.cityStateZip }}</p>
    </div>
    <div class="footer-bottom__fine-print">
      <p>&copy; Hampton {{ "now"|date("Y") }}</p>
      <p>All Rights Reserved</p>
      <div class="footer-bottom__social-links">
        <a href="{{ companySocialLinks.facebookUrl }}" target="_blank">{{ icon.variation('facebook', 'white') }}</a>
        <a href="{{ companySocialLinks.linkedinUrl }}" target="_blank">{{ icon.variation('linkedin', 'white') }}</a>
      </div>
    </div>
  </div> #}
</footer>
{% endcache %}
