{% import '_includes/_macros' as icon %}
{% set query = craft.request.getParam('q') ?? null %}

<header>
  <nav class="nav">
    <a href="/" class="nav-home-logo"><img class="logo--badge" src="{{ craft.config.get('baseUrl') }}/images/logos/Hampton-Logo-Badge.png" alt="Hampton Logo Badge"><img class="logo--wordmark" src="{{ craft.config.get('baseUrl') }}/images/logos/hampton-logo-wordmark.png" alt="Hampton Logo Wordmark"></a>
    <div class="nav__icons">
      <a href="#" class="nav-contact" data-nav="nav-contact">Contact</a>
      <a href="#" class="nav-search" data-nav="nav-search">Search</a>
      <a href="#" class="nav-pages" data-nav="nav-pages">Menu</a>
    </div>
  </nav>

  <div class="nav-offscreen nav-pages">
    <div class="container nav-container">
      <div class="nav-column">
        <h6 class="color-text-yellow" style="font-size: 15px; margin-bottom: 32px;">Creating Relationships That Build and Improve Communities</h6>
        <a class="nav-page" href="/">Home</a>
        <a class="nav-page" href="/about/about-us">About</a>
        <a class="nav-page" href="/properties">Properties</a>
        <a class="nav-page" href="/construction">Construction</a>
        <a class="nav-page" href="/news">News</a>
        <a class="nav-page" href="/careers">Careers</a>
        <a class="nav-page nav-page-contact" href="#">Contact</a>
      </div>
      <div class="nav-column">
        <a class="nav-page nav-page--secondary" href="/community-involvement">Community Involvement</a>
        <a class="nav-page nav-page--secondary" href="/request">Tenant Work Order Request </a>
        <a class="nav-page nav-page--secondary" href="/#hamptonway">The Hampton Way</a>
        <a class="nav-page nav-page--secondary search-properties" href="/properties#listings">Search Properties</a>
      </div>
      {# <h6 class="nav-additional-header">Helpful Links</h6> #}
      {# <div class="nav-additional"> #}
        {# <a class="nav-request-form btn btn--large btn--no-border btn--with-icon-mirrored btn--white first" href="/request">Tenant Work Order Request {{ icon.variation('workorder', 'white') }}</a>
        <a class="btn btn--large btn--no-border btn--with-icon-mirrored btn--white hampton-way" href="/#hamptonway">The Hampton Way {{ icon.variation('hw', 'white') }}</a>
        <!-- <a class="btn btn--large btn--no-border btn--with-icon-mirrored btn--white community-involvment" href="/community-involvement">Community Involvement {{ icon.variation('community', 'white') }}</a> -->
        <a class="nav-request-form btn btn--large btn--no-border btn--with-icon-mirrored btn--white search-properties" href="/properties#listings">Search Properties {{ icon.variation('search', 'white') }}</a>
        <a class="nav-request-form btn btn--large btn--no-border btn--with-icon-mirrored btn--white careers" href="/careers">Join Hampton's Team {{ icon.variation('careers', 'white') }}</a> #}
      {# </div> #}
    </div>
  </div>

  <div class="nav-offscreen nav-search" style="background: white">
    <div class="container env-light">
      <form class="nav-search-bar" action="{{ url('search') }}">
        <input type="submit" value="" class="nav-search-bar-icon">
        <input type="text" value="{{ query }}" id="search" name="q" placeholder="Search">
      </form>
    </div>
  </div>

  <div class="nav-offscreen nav-contact" style="background: white">
    <div class="nav-contact-map">
      <div class="nav-contact-map-wrapper">
        <iframe data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12090.17250198757!2d-96.66760410699156!3d40.75007761584992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8796bc5468771c31%3A0x8f74ffedaf0bc3cb!2sHampton+Enterprises+Inc!5e0!3m2!1sen!2sus!4v1508110597604" width="750" height="900" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="container env-light">
      <div class="nav-contact-form container--inner-50">
        <div class="nav-contact-info">
          {% set address = contactInfo.address %}
          <p>P {{ contactInfo.phoneNumber }}</p>
          <p>F {{ contactInfo.faxNumber }}</p>
          <p>{{ address.addressLine1 }}, {{ address.addressLine2 }}<br>{{ address.cityStateZip }}</p>
        </div>
        <div class="nav-contact-form">
          <h2>{{ icon.variation('message', 'grey') }} Leave us a message</h2>
          {% set form = craft.amForms.getForm('contactUs') %}
          <form method="post" action="" accept-charset="UTF-8">
              {{ getCsrfInput() }}

              {# This should always be here! #}
              <input type="hidden" name="action" value="amForms/submissions/saveSubmission">

              {# Insert your form's handle. #}
              <input type="hidden" name="handle" value="{{ form.handle }}">

              {# This will namespace your inputs (for IDs and such), but it's not required though #}
              <input type="hidden" name="namespace" value="{{ form.getNamespace() }}">
              <input type="hidden" name="redirect" value="/confirmation">

              {# Optional: Anti-spam protection. #}
              {{ craft.amForms.displayAntispam() }}

              {# Optional: Google reCAPTCHA protection. #}
              {{ craft.amForms.displayRecaptcha() }}

              {# Place the HTML of your fields here #}
              {{ form.displayField('reasonForContacting') }}
              {{ form.displayField('fullName') }}
              {{ form.displayField('emailAddress') }}
              {{ form.displayField('phoneNumber') }}
              {{ form.displayField('message') }}

              <button class="btn btn--with-icon btn--round btn--ghost btn--yellow" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
