<div class="testimonials" id="testimonials">

  <div class="testimonial-content">
    {% set relatedTestimonials = craft.request.getSegments.0 %}
    {% for t in craft.entries.section('testimonials') if t.projectType.value == relatedTestimonials %}
    {% set author = t.quoteAuthor %}
    {% set defaultImg = '/images/construction/construction-default.jpg' %}
    {% set img = t.featuredImage[0] ?? defaultImg %}
    {% set focusX = img.focusPctX ?? '50' %}
    {% set focusY = img.focusPctY ?? '50' %}
    {% set imgTransformed = craft.imager.transformImage(img, {
      interlace: true,
      width: '1200',
      }) %}
    <div class="testimonial-slide">
      <div class="testimonial-quote flexed-default flex-jc-center">
        <p class="quote">{{ t.testimonialQuote }}</p>
        <div>
          <p class="quote-author">{{ author.authorName }}</p>
          <p class="quote-title">{{ author.titlePosition }}</p>
          <p class="quote-company">{{ t.clientCompanyName }}</p>
        </div>
      </div>
      <div class="testimonial-photo lazyload" style="background-position: {{ focusX }}% {{ focusY }}%" data-bg="{{ imgTransformed.url }}">
        {% if t.constructionProject is not empty %}
        <a class="btn btn--with-icon btn--no-border btn--white" href="{{ t.constructionProject.first.url }}">{{ icon.variation('look', 'white') }} View This Project</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="testimonial-nav">
    {% for t in craft.entries.section('testimonials') if t.projectType.value == relatedTestimonials %}
    {% set logo = t.clientLogo[0] ?? null %}
    <div class="testimonial-nav-item">
      {% if logo %}
      <img src="{{ logo.url }}">
      {% else %}
      <p class="testimonial-nav-item__title">{{ t.title }}</p>
      {% endif %}
    </div>
    {% endfor %}
  </div>

</div>

{% set sliderJs %}
$('.testimonial-content').slick({
  dots: false,
  infinite: false,
  arrows: true,
  asNavFor: '.testimonial-nav',
  prevArrow: '<button type="button" class="slick-prev"><img src="/images/icons/Left/Yellow.svg"></button>',
  nextArrow: '<button type="button" class="slick-next"><img src="/images/icons/Left/Yellow.svg"></button>',
  speed: 500,
  fade: true,
  cssEase: 'ease',
  lazyLoad: 'ondemand',
});
$('.testimonial-nav').slick({
 slidesToShow: 4,
 arrows: true,
 slidesToScroll: 4,
 infinite: false,
 asNavFor: '.testimonial-content',
 focusOnSelect: true,
 centerMode: false,
 dots: true,
 responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    }
  ]
});
{% endset %}
{% includeCssFile '/external/styles/slick.css' %}

{% includeJsFile '/external/js/slick.min.js' first %}
{% includeJs sliderJs %}
