{% extends "_base" %}
{% set title = 'Request More Information' %}

{% import '_includes/_macros' as icon %}

{% block stylesheets %}
<style>
body {
  min-height: 100vh;
}
</style>
{% endblock %}

{% block content %}

<section class="padding-top-xl">
  <div class="container tenant-request-form-container env-light">
    <h1 class="display-size-h2" style="margin-bottom: 32px">Request More Information</h1>

    {% set form = craft.amForms.getForm('requestMoreInfo') %}
    <form class="tenant-request-form" method="post" action="" accept-charset="UTF-8">
        {{ getCsrfInput() }}

        {# This should always be here! #}
        <input type="hidden" name="action" value="amForms/submissions/saveSubmission">

        {# Insert your form's handle. #}
        <input type="hidden" name="handle" value="{{ form.handle }}">

        {# This will namespace your inputs (for IDs and such), but it's not required though #}
        <input type="hidden" name="namespace" value="{{ form.getNamespace() }}">
        <input type="hidden" name="redirect" value="/request-confirmation">

        {# Optional: Anti-spam protection. #}
        {{ craft.amForms.displayAntispam() }}

        {# Optional: Google reCAPTCHA protection. #}
        {{ craft.amForms.displayRecaptcha() }}

        {# Place the HTML of your fields here #}
        <div class="form-fields-container">
            <div class="form-fields-column" style="max-width: 500px">
                {{ form.displayField('fullName') }}
                {{ form.displayField('emailAddress') }}
                {{ form.displayField('phoneNumber') }}
                {{ form.displayField('companyName') }}
                {{ form.displayField('message') }}
            </div>
        </div>

        <button class="btn btn--with-icon btn--round btn--ghost btn--yellow" type="submit">Submit</button>
    </form>
  </div>
</section>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('.tenant-request-form').change(function() {
            var d = $('.text.date');
            console.log(d.val());
        })
    })
</script>
{% endblock %}
