{% extends "_base" %}

{% import '_includes/_macros' as icon %}

{% block stylesheets %}
{# <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css"/> #}

{% endblock %}

{% block content %}

{% cache globally using key craft.request.path %}

{# Querying and setting a bunch of variables to use later #}
{% set featuredImage = entry.featuredImage[0] ?? null %}
{% set propertyType = entry.propertyType[0] ?? null %}
{% set propertySubType = entry.propertySubType[0] ?? null %}
{% set research = entry.propertyResearchLinks %}
{% set rentalRate = '' %}
{% set totalSpace = '' %}
{% set minDivisible = '' %}
{% set maxContiguous = '' %}

<section class="hero hero--with-image hero--property-listing flex-ai-start" style="background-image: url('{{ featuredImage.url }}'); background-position: {{ featuredImage.focusPctX }}% {{ featuredImage.focusPctY }}%">
  <div class="hero__content container">
    <h1 class="text-shadow size-mega">{{ entry.title }}</h1>
    <h3 class="text-shadow">{{ entry.cityStateZip }}</h3>
  </div>
  <div class="hero-arrow-icon">{{ icon.variation('down', 'white') }}</div>
</section>

<section class="property-information container">
  <div class="block property-details-table">

    {% set d = entry.propertyDetails %}

    {% if propertyType %}
    <div class="details-content">
      <div class="details-label"><h6>Property Type</h6></div>
      <div class="details-value"><p>{{ propertyType }}</p></div>
    </div>
    {% endif %}
    {% if propertySubType %}
    <div class="details-content">
      <div class="details-label"><h6>Property Sub-Type</h6></div>
      <div class="details-value"><p>{{ propertySubType }}</p></div>
    </div>
    {% endif %}
    {% if d.lotSize %}
    <div class="details-content">
      <div class="details-label"><h6>Lot Size</h6></div>
      <div class="details-value"><p>{{ d.lotSize }}</p></div>
    </div>
    {% endif %}
    {% if d.buildingSize %}
    <div class="details-content">
      <div class="details-label"><h6>Building Size</h6></div>
      <div class="details-value"><p>{{ d.buildingSize }}</p></div>
    </div>
    {% endif %}
    {% if d.buildingClass %}
    <div class="details-content">
      <div class="details-label"><h6>Building Class</h6></div>
      <div class="details-value"><p>{{ d.buildingClass }}</p></div>
    </div>
    {% endif %}
    {% if d.grossLeasableArea %}
    <div class="details-content">
      <div class="details-label"><h6>Gross Leasable Area</h6></div>
      <div class="details-value"><p>{{ d.grossLeasableArea }}</p></div>
    </div>
    {% endif %}
    {% if d.crossStreets %}
    <div class="details-content">
      <div class="details-label"><h6>Cross Streets</h6></div>
      <div class="details-value"><p>{{ d.crossStreets }}</p></div>
    </div>
    {% endif %}
    {% if d.yearBuilt %}
    <div class="details-content">
      <div class="details-label"><h6>Year Built</h6></div>
      <div class="details-value"><p>{{ d.yearBuilt }}</p></div>
    </div>
    {% endif %}
    {% if d.constructionStatus %}
    <div class="details-content">
      <div class="details-label"><h6>Construction Status</h6></div>
      <div class="details-value"><p>{{ d.constructionStatus }}</p></div>
    </div>
    {% endif %}
    {% if d.buildToSuit %}
    <div class="details-content">
      <div class="details-label"><h6>Build to Suit</h6></div>
      <div class="details-value"><p>{{ d.buildToSuit }}</p></div>
    </div>
    {% endif %}
    {% if d.additionalCustomFields %}
      {% for additional in d.additionalCustomFields %}
      <div class="details-content">
        <div class="details-label"><h6>{{ additional.label }}</h6></div>
        <div class="details-value"><p>{{ additional.value }}</p></div>
      </div>
      {% endfor %}
    {% endif %}

  </div>

  <div class="block property-description">
    <h2>Description</h2>
    {{ entry.descriptionOverview }}
  </div>

  <div class="block property-spaces">
    <h2>Available Spaces</h2>

    {% for block in entry.availableSpacesLots %}
    <div class="space-information">

      {% if block.type == 'addASpace' %}
      {% set s = block.spaceDetails %}

      <h3>{{ block.spaceName }}</h3>
      <div class="property-details-table mb-default">

        {% if s.rentalRate %}
        <div class="details-content">
          <div class="details-label"><h6>Rental Rate</h6></div>
          <div class="details-value"><p>${{ s.rentalRate }} /SF/Year</p></div>
        </div>
        {% endif %}
        {% if s.spaceAvailable %}
        <div class="details-content">
          <div class="details-label"><h6>Space Available</h6></div>
          <div class="details-value"><p>{{ s.spaceAvailable }} SF</p></div>
        </div>
        {% endif %}
        {% if s.leaseType %}
        <div class="details-content">
          <div class="details-label"><h6>Lease Type</h6></div>
          <div class="details-value"><p>{{ s.leaseType }}</p></div>
        </div>
        {% endif %}
        {% if s.minDivisible %}
        <div class="details-content">
          <div class="details-label"><h6>Min. Divisible</h6></div>
          <div class="details-value"><p>{{ s.minDivisible }}</p></div>
        </div>
        {% endif %}
        {% if s.dateAvailable %}
        <div class="details-content">
          <div class="details-label"><h6>Date Available</h6></div>
          <div class="details-value"><p>{{ s.dateAvailable }}</p></div>
        </div>
        {% endif %}
        {% if s.additionalCustomDetails %}
          {% for additional in s.additionalCustomDetails %}
          <div class="details-content">
            <div class="details-label"><h6>{{ additional.label }}</h6></div>
            <div class="details-value"><p>{{ additional.value }}</p></div>
          </div>
          {% endfor %}
        {% endif %}
      </div>
      {% if block.additionalNotes|length %}
      <p>{{ block.additionalNotes }}</p>
      {% endif %}

      {% elseif block.type == 'addALot' %}

      {% endif %}
    </div>
    {% endfor %}

  </div>

  <div class="block property-additionals">

    {% if entry.propertyHighlights|length %}
    <h2>Highlights</h2>
    <ul class="property-highlights">
      {% for bullet in entry.propertyHighlights %}
      <li>{{ bullet.highlight }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <h2>Research</h2>
    <ul class="property-research">
      {% if research.propertyRecordDataUrl %}<li><a href="{{ research.propertyRecordDataUrl }}">Property Record Data</a></li>{% endif %}
      {% if research.marketTrendsUrl %}<li><a href="{{ research.marketTrendsUrl }}">Lincoln Market Trends</a></li>{% endif %}
      {% if research.demographicsUrl %}<li><a href="{{ research.demographicsUrl }}">Demographics</a></li>{% endif %}
    </ul>
  </div>

  <div class="related-listings">
    <h2>Other Listings</h2>

    {% for listing in craft.entries.section('properties').order('RAND()') %}
    {% set listingImage = listing.featuredImage[0] ?? null %}
    {% set transformedImage = craft.imager.transformImage(listingImage, {
      width: 800,
      height: 800,
      mode: 'crop',
      position: listingImage.focusPctX ~ '% ' ~ listingImage.focusPctY ~ '%'
      }) %}
    <a href="{{ listing.url }}" class="related-listings__listing">
      <img class="lozad" data-src="{{ transformedImage.url }}">
      <div class="related-listings__info">
        <p class="related-listing-title">{{ listing.title }}</p>
        <p class="related-listing-city-state-zip">{{ listing.cityStateZip }}</p>
      </div>
    </a>
    {% endfor %}
  </div>

</section>

{% endcache %}

{% endblock %}

{% block scripts %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>

<script>
$(document).ready(function() {
  // Lazy Loading
  const observer = lozad();
  observer.observe();
});
</script>
{% endblock %}
