{% extends "_base" %}

{% import '_includes/_macros' as icon %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css"/>
<link rel="stylesheet" href="/external/styles/YouTubePopUp.css">

<style>
  .logo--wordmark { display: none }
</style>
{% endblock %}

{% block content %}

{% cache globally using key craft.request.path %}

<div class="page-with-sidebar">
  <div class="sticky-nav-internal">
    <div class="sticky-nav-container">
      {% if entry.homePageVideoLinkUrl|length %}
        <a href="{{ entry.homePageVideoLinkUrl }}"class="btn btn--no-border btn--with-icon btn--white video">Message from Michelle Keogh</a>
      {% endif %}
      <a href="#listings" class="btn btn--no-border btn--with-icon btn--white">Search Properties</a>
      <a href="#testimonials" class="btn btn--no-border btn--with-icon btn--white">Testimonials</a>
      <a href="/request" class="btn btn--no-border btn--with-icon btn--white">Tenant Work Order Request</a>
    </div>
  </div>

  <div class="right-side-body">
  {% set featuredImage = entry.featuredImage[0] ?? null %}
  {% set featuredImageTransformed = craft.imager.transformImage(featuredImage, {
    interlace: true,
    width: '2400',
  }) %}
  <section{% if featuredImage %} style="background-image: url('{{ featuredImageTransformed.url }}'); background-position: {{ featuredImage.focusPctX }}% {{ featuredImage.focusPctY }}%"{% endif %} id="scroll" class="properties-page-intro">
    <div class="full-container">
      <div class="col-60">
          <div class="container--inner-60">
              <h6 style="font-size: 15px; margin-bottom: 16px;">Creating Relationships That Build and Improve Communities</h6>
              <h2 class="size-mega color-text-default">Hampton Properties</h2>
              <div class="company-tagline line-underneath">Because Relationships Really Do Matter.</div>
              {{ entry.descriptionOverview }}
              {# <br>
              <div>
                  <a href="#listings" class="btn btn--no-border btn--with-icon btn--yellow">{{ icon.variation('search', 'yellow') }} Search Properties</a>
              </div>
              <div>
                  <a href="#testimonials" class="btn btn--no-border btn--with-icon btn--yellow">{{ icon.variation('customer', 'yellow') }} View Testimonials</a>
              </div>
              {% if entry.homePageVideoLinkUrl|length %}
                <div>
                    <a href="{{ entry.homePageVideoLinkUrl }}"class="btn btn--no-border btn--with-icon btn--yellow video">{{ icon.variation('play', 'yellow') }} Message from Michelle Keogh</a>
                </div>
              {% endif %}
              <div>
                  <a href="/request" class="btn btn--no-border btn--with-icon btn--yellow">{{ icon.variation('workorder', 'yellow') }} Tenant Work Order Request</a>
              </div> #}

          </div>
      </div>
      <div class="col-40 flexed-default">
          {% set randomDevelopment = craft.entries.section('developments').order('RAND()').first %}
          {% set featuredImage = randomDevelopment.featuredImage[0] ?? null %}
          {% set transformedImage = craft.imager.transformImage(featuredImage, {
            width: 2000,
            ratio: 2/3,
            mode: 'crop',
            position: featuredImage.focusPctX ~ '% ' ~ featuredImage.focusPctY ~ '%',
            }) %}
          <a href="/developments" class="development-image hero--with-image image-as-link flexed-default flex-ai-center flex-jc-end" {% if featuredImage %}style="background-image: url('{{ transformedImage.url }}'); background-position: {{ featuredImage.focusPctX }}% {{ featuredImage.focusPctY }}%"{% endif %}>
            <div class="btn" style="margin-bottom: 84px">
              View All Developments
            </div>
          </a>
          <div class="developments-list">
            {% set developments = craft.entries.section('developments').with(['developmentLogo']) %}
            {% for development in developments.order('title') %}
            {% set logo = development.developmentLogo[0] ?? null %}
            <a href="{{ development.url }}">
              {% if logo %}
              <img src="{{ logo.url }}" width="300" alt="{{ development.title }} Logo">
              {% endif %}
              <h5>{{ development.crossStreets }}</h5>
            </a>
            {% endfor %}
          </div>
      </div>
    </div>
    {# <a class="hero-arrow-icon" href="#jump">{{ icon.variation('down', 'white') }}</a> #}

  </section>
  <div class="band--yellow" id="jump">
    <div class="container container--alt">
      <h6>Featured Commercial Properties:</h6>
    </div>
  </div>
  <section class="featured-slider">

    {% for property in entry.featuredProperties %}
    {% set featuredImage = property.featuredImage[0] ?? null %}
    {% set featuredImageTransformed = craft.imager.transformImage(featuredImage, {
      interlace: true,
      width: '2400',
      }) %}

      <div class="featured-slider__item {{ property.address|kebab }}{% if loop.first %} active-slide{% endif %}" data-property="{{ property.address|kebab }}" {% if featuredImage %}style="background-image: url('{{ featuredImageTransformed.url }}'); background-position: {{ featuredImage.focusPctX }}% {{ featuredImage.focusPctY }}%;"{% endif %}>

        <a href="{{ property.mrcieLink|replace('https','http') }}"  class="featured-project">

            <div class="featured-project-description">
                <h1>{{ property.address }}</h1>
                {{ property.description|hacksaw(hack='words', limit='20', allow='<a><p><strong>', append='...') }}
                </div>
            <div class="featured-project__links">
              <div class="btn btn--stacked btn--white btn--no-border btn--with-icon" target="_blank">{{ icon.variation('look', 'white') }} View Full Property</div>
            </div>
          {# </div> #}

      </a>

          {% if not loop.first %}
          <div class="nav-arrow prev">{{ icon.variation('Left', 'White') }}</div>
          {% endif %}
          {% if not loop.last %}
          <div class="nav-arrow next">{{ icon.variation('Left', 'White') }}</div>
          {% endif %}
      </div>

    {% endfor %}

    {# <div class="featured-slider-nav">
      {% for property in entry.featuredProperties %}
        <div class="featured-slider-nav__item {{ property.address|kebab }}{% if loop.first %} current-slide{% endif %}" data-property="{{ property.address|kebab }}">
        </div>
      {% endfor %}
    </div> #}

    {# <a href="#scroll" class="hero-arrow-icon">{{ icon.variation('down', 'white') }}</a> #}
  </section>


  {# <section id="scroll" class="two-col full-screen gradient-radial-blue development-slider">

    <div class="col flexed-default flex-jc-center v-padding-default">
      <div class="container--inner-50">
        <h2 class="size-mega line-underneath">Hampton Properties</h2>
        {{ entry.descriptionOverview }}
        <br>
        <a href="/request" class="btn btn--no-border btn--with-icon btn--white">{{ icon.variation('workorder', 'white') }} Tenant Work Order Request Form</a>
      </div>
    </div>

    <div class="col flexed-default">
        <a href="#" class="development-image image-as-link flexed-default flex-ai-center flex-jc-center">
          <div class="btn btn--with-icon">{{ icon.variation('look', 'grey') }} View Development</div>
        </a>
      <div class="filter-list development-list flex-ai-start flex-jc-center">

        {% for development in craft.entries.section('developments').with(['featuredImage']) %}
        {% set developmentFeaturedImage = development.featuredImage[0] ?? null %}
        {% set transformedImage = craft.imager.transformImage(developmentFeaturedImage, {
          width: 1000,
          ratio: 4/3,
          }) %}

        <span class="filter-list-label{% if loop.first %} active{% endif %}" data-link="{{ development.url }}" data-image="{{ transformedImage.url }}" data-title="{{ development.title }}" data-bg-position="{{ developmentFeaturedImage.focusPctX ~ '% ' ~ developmentFeaturedImage.focusPctY ~ '%' }}">{{ development.title }}</span>
        {% endfor %}

      </div>
    </div>

  </section> #}

  <section class="search search--properties" id="listings">

    <div class="search__header band--yellow-red band--large">
      <div class="container container--alt">
        <h2 class="size-mega" id="available">Available Properties</h2>
      </div>
    </div>

  </section>
  {% endcache %}


  <div class="container container--alt">
    <script src="https://research-embed.catylist.com/research-embed.js" id="catylist_research_embed"
      data-api-key="46b8fbb4c82fe48266dad0d228102c4a" data-default-view="map"></script>
    <!-- <div id="catylist"></div><script type="text/javascript" src="//hampton1.catylist.com/js/sitelink-engine"></script> -->
  </div>

  {# Testiomnials slider include #}
  {% include '_includes/_testimonials' %}

  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/external/js/youtube.js"></script>

<script>
$(document).ready(function() {
  // Featured Properties slider functionality
  // $('.featured-slider-nav__item').click(function() {
  //   var project = $(this).attr('data-property');
  //   $('.featured-slider-nav__item').removeClass('current-slide');
  //   $(this).addClass('current-slide');
  //   $('.featured-slider__item').removeClass('active-slide');
  //   $('.featured-slider__item.'+project).addClass('active-slide');
  // })
  //
  // $('.hero-arrow.next').click(function() {
  //   var next = $(this).closest('.featured-slider__item').next();
  //   var proj = next.attr('data-property');
  //   $('.featured-slider__item').removeClass('active-slide');
  //   next.addClass('active-slide');
  //   $('.featured-slider-nav__item').removeClass('current-slide');
  //   $('.featured-slider-nav__item.'+proj).addClass('current-slide');
  // })
  //
  // $('.hero-arrow.prev').click(function() {
  //   var prev = $(this).closest('.featured-slider__item').prev();
  //   var proj = prev.attr('data-property');
  //   $('.featured-slider__item').removeClass('active-slide');
  //   prev.addClass('active-slide');
  //   $('.featured-slider-nav__item').removeClass('current-slide');
  //   $('.featured-slider-nav__item.'+proj).addClass('current-slide');
  // })

  $('.nav-arrow.next').click(function() {
    $(this).parent().removeClass('active-slide');
    $(this).parent().next('.featured-slider__item').addClass('active-slide');
  })

  $('.nav-arrow.prev').click(function() {
    $(this).parent().removeClass('active-slide');
    $(this).parent().prev('.featured-slider__item').addClass('active-slide');
  })

  // Development list swticher functionality
  // var label = $('.development-list .filter-list-label')
  // var activeLabel = $('.development-list .filter-list-label.active')
  // var image = $('.development-image');
  // var current_img_id = activeLabel.attr('data-image');
  // var current_img_position = activeLabel.attr('data-bg-position');
  // var current_link = activeLabel.attr('data-link');
  //
  // image.css('background-image', 'url('+current_img_id+')');
  // image.css('background-position', current_img_position);
  // image.attr('href', current_link);
  //
  // label.click(function() {
  //   label.removeClass('active');
  //   $(this).addClass('active');
  //   var current_img_id = $(this).attr('data-image');
  //   var current_link = $(this).attr('data-link');
  //   var current_img_position = $(this).attr('data-bg-position');
  //   image.css('background-image', 'url('+current_img_id+')');
  //   image.css('background-position', current_img_position);
  //   image.attr('href', current_link);
  // })
  $(".video").YouTubePopUp();

});
</script>
{% endblock %}
