{% extends "_base" %}

{% set query = craft.request.getParam('q') %}
{% set title = query ~ ' - Hampton News Search' %}
{% set entries = craft.entries({
  section: 'news',
  search: {
      query: query,
      subLeft: true,
      subRight: true
  }
}) %}

{% import '_includes/_macros' as icon %}

{% block content %}

<section class="news-search-page">
  <div class="container env-light">
    <a href="/news" class="btn btn--yellow btn--no-border btn--with-icon btn--faded">{{ icon.variation('left', 'yellow') }} Return to News Home Page</a>

    <form class="search__bar" action="{{ url('news/search') }}">
      <button type="submit" value="" class="search-button">{{ icon.variation('search', 'grey') }}</button>
      <input type="text" value="{{ query }}" name="q" placeholder="Search News Articles">
    </form>
    <p class="results__label news">{% if entries.total == 0 %}We couldn't find any results for "{{ query }}." Try searching for a new term.{% else %}{{ entries.total }} results for "{{ query }}"{% endif %}</p>
  </div>
</section>



<section class="results news container">

  {% for entry in entries.order('score') %}
  {% set firstBlock = entry.newsPostBuilder.type('textBlock').first() %}
  {% set excerpt = firstBlock.text %}
  <div class="results-hit">
    <p class="hit-title"><a href="{{ entry.url }}">{{ entry.title }}</a></p>
    <p class="hit-date">{{ entry.postDate|date('l, F j, Y') }}</p>

    {% if entry.descriptionOverview is defined %}
      <div class="hit-description">{{ excerpt|hacksaw(hack='words', limit='40', append='...') }}</div>
    {% endif %}

  </div>
  {% endfor %}

</section>

{% endblock %}

{% block scripts %}
{% endblock %}
