{% extends "_base" %}

{% import '_includes/_macros' as icon %}

{% block stylesheets %}
<style>
  .logo--wordmark { display: none; }
</style>
{% endblock %}

{% set aboutPagePhoto = entry.aboutPagePhoto[0] ?? null %}
{% set aboutPagePhotoTransformed = craft.imager.transformImage(aboutPagePhoto, {
  interlace: true,
  width: '1500',
}) %}

{% block content %}

{% include '_includes/_about-nav' %}

<section class="padding-top-xl">
  <div class="container container--about env-light">
    <div class="copy-block">
      <h1>About</h1>
      {% if aboutPagePhoto %}
        <img class="team-photo" src="{{ aboutPagePhotoTransformed.url }}" alt="Hampton About Us Page Photo">
      {% endif %}
      {{ entry.descriptionOverview }}
      <a style="margin-top: 24px" href="#" class="btn btn--yellow-border build-popup-trigger">Build or Lease?</a>
    </div>
  </div>
</section>

<div class="popup build-popup env-light">
  <div class="container v-padding-large ">
    <a href="#" class="close-button btn btn--grey btn--with-icon btn--no-border">{{ icon.variation('x', 'grey') }} Close</a>
    <div class="copy-block"><h2>Build or Lease?</h2></div>
    <div class="intro">{{ buildOrLease.simpleRichText }}</div>
    {% for block in buildOrLease.buildOrLeaseContent %}
    <div class="delivery-method">
      <h3 class="delivery-toggle color-text-yellow" style="margin-bottom: 8px;">{{ block.header }} </h3>
      <div>{{ block.copy }}</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function() {
    $('.build-popup-trigger').click(function() {
      $('.build-popup').addClass('active');
      $('body').addClass('overflow');
    });
    $('.close-button').click(function() {
      $('.popup').removeClass('active');
      $('body').removeClass('overflow');
    })
    $('.delivery-toggle').click(function() {
      $(this).toggleClass('expand');
      $(this).next('div').toggleClass('expand');
    })
  })
</script>

{% endblock %}
