{% extends "_base" %}

{% import '_includes/_macros' as icon %}

{% block stylesheets %}
<style>
  .logo--wordmark { display: none; }
</style>
{% endblock %}


{% block content %}

{% cache globally using key craft.request.path %}

{% include '_includes/_about-nav' %}

<section class="padding-top-xl" style="padding-bottom: 124px">
  <div class="container container--about env-light">

    <div class="copy-block">
      <h1>Our History</h1>

      <div class="timeline">
        <div class="timeline-content">
          {% for block in entry.companyHistory %}
          {% set img = block.timelineImage[0] ?? null %}
            <div class="timeline-entry pos-{{ loop.index }}{% if loop.first %} active{% endif %}">
              <div class="timeline-entry-year">{{ block.timelineYear }}</div>
              <div class="timeline-entry-title">{{ block.timelineTitle }}</div>
              <div class="timeline-entry-description"><p>{{ block.timelineDescription }}</p></div>
              {% if img %}
                {% set imgTransformed = craft.imager.transformImage(img, {
                  interlace: true,
                  width: '1100',
                }) %}
                <img style="margin-top: 24px" src="{{ imgTransformed.url }}" alt="{{ img.title }}">
              {% endif %}
            </div>
          {% endfor %}
          <div class="timeline-content-arrow up">{{ icon.variation('down', 'grey') }}</div>
          <div class="timeline-content-arrow down">{{ icon.variation('down', 'grey') }}</div>
        </div>

        <div class="timeline-nav">
          <div class="timeline-nav-wrapper">
        {% for block in entry.companyHistory %}
          <div class="timeline-nav-item{% if loop.first %} active{% endif %}" href="#" data-nav="pos-{{ loop.index }}"><span class="year">{{ block.timelineYear }}</span><span class="title">{{ block.timelineTitle }}</span></div>
        {% endfor %}
      </div>
        </div>
      </div>

    </div>

  </div>
</section>
{% endcache %}

{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
  $('.timeline-nav-item').click(function(e) {
    e.preventDefault();
    var timelinePosition = $(this).attr('data-nav');
    console.log(timelinePosition);
    $('.timeline-nav-item').removeClass('active');
    $(this).addClass('active');
    $('.timeline-entry').removeClass('active');
    $('.timeline-entry.'+timelinePosition).addClass('active');
  })

  var scrolled = 0;
  var totalHeight = $('.timeline-nav-wrapper')[0].scrollHeight-320;
  console.log(totalHeight);

  $(".timeline-content-arrow.up").on("click" ,function(){
     scrolled = scrolled-320;
     if (scrolled < 0) {
       scrolled = 0;
     }
     console.log(scrolled);

        $(".timeline-nav-wrapper").animate({
          scrollTop:  scrolled
     });
   });

   $(".timeline-content-arrow.down").on("click" ,function(){
      scrolled = scrolled+320;
      if (scrolled >= totalHeight) {
        scrolled = totalHeight-32;
      }
      console.log(scrolled);
         $(".timeline-nav-wrapper").animate({
           scrollTop:  scrolled
      });
    });
});
</script>
{#
{% set sliderJs %}
$('.timeline-content').slick({
  dots: false,
  slidesToShow: 1,
  infinite: false,
  arrows: false,
  asNavFor: '.timeline-nav',
  speed: 500,
  fade: true,
  cssEase: 'ease'
});
$('.timeline-nav').slick({
 slidesToShow: 15,
 slidesToScroll: 1,
 asNavFor: '.timeline-content',
 focusOnSelect: true
});
{% endset %}
{% includeCssFile '/external/styles/slick.css' %}

{% includeJsFile '/external/js/slick.min.js' first %}
{% includeJs sliderJs %} #}

{% endblock %}
