{% extends "_base" %}

{% import '_includes/_macros' as icon %}

{% block stylesheets %}
<link rel="stylesheet" href="/external/styles/YouTubePopUp.css">
<style>
  .logo--wordmark { display: none; }
</style>
{% endblock %}


{% block content %}

{% cache globally using key craft.request.path %}

{% include '_includes/_about-nav' %}

<section class="padding-top-xl">
  <div class="container container--about env-light">

    <div class="copy-block">
      <h1>{{ entry.title }}</h1>

      {% for value in entry.companyValues %}
        <div class="value">
          <h2>{{ value.valueName }}</h2>
          <div>{{ value.valueDescription }}</div><p style="margin-top: 8px"><a href="{{ value.valueVideo }}" class="yellow-link {{ value.valueName }}">Watch Video</a></p>
        </div>
      {% endfor %}
    </div>

  </div>
</section>
{% endcache %}

{% endblock %}

{% block scripts %}
<script src="/external/js/youtube.js"></script>
<script>
  $(document).ready(function() {
    $(".values-video").YouTubePopUp();
  })
</script>
{% endblock %}
