{% extends "_base" %}

{% import '_includes/_macros' as icon %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.3/dist/css/lightgallery.min.css">
<link rel="stylesheet" href="/external/styles/YouTubePopUp.css">
<style>
  .logo--wordmark { display: none; }
</style>
{% endblock %}

{% block content %}

  {% if entry.imageGalleryCulturePage is not empty %}
      {% set galleryPreviewImage = entry.imageGalleryCulturePage.first %}
      {% set galleryPreviewImageTransformed = craft.imager.transformImage(galleryPreviewImage, {
        width: 1200,
        ratio: '4:3',
        mode: 'crop',
        position: galleryPreviewImage.focusPctX ~ '% ' ~ galleryPreviewImage.focusPctY ~ '%'
        }) %}
  {% endif %}

{% include '_includes/_about-nav' %}

<section class="padding-top-xl">
  <div class="container container--about env-light">
    <div class="copy-block">
      <h1>{{ entry.title}}</h1>
      {{ entry.richText }}

      <a style="margin-top: 24px" href="/careers" class="btn btn--yellow-border">View Open Positions</a>

      <a class="gallery-preview {% if entry.imageGalleryCulturePage is empty %}no-gallery {% endif %}flexed-default flex-ai-center flex-jc-center" style="background-position: {{ galleryPreviewImage.focusPctX }}% {{ galleryPreviewImage.focusPctY }}%; height: 400px; margin-top: 24px; background-image: url({{ galleryPreviewImageTransformed.url }})">
        {% if entry.imageGalleryCulturePage is not empty %}
          <div class="btn btn--no-border btn--with-icon btn--white">{{ icon.variation('gallery', 'white') }}View More<br>Images</div>
        {% endif %}
      </a>

    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lightgallery@1.2.4/dist/js/lightgallery.min.js"></script><script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lightgallery@1.2.4/dist/js/lg-thumbnail.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  $('.gallery-preview').on('click', function() {
    $(this).lightGallery({
      dynamic: true,
      dynamicEl: [
        {% for i in entry.imageGalleryCulturePage %}
        {% set transformedImage = craft.imager.transformImage(i, { width: 2000, allowUpscale: false, interlace: true }) %}
        {% set transformedThumb = craft.imager.transformImage(i, { width: 200, allowUpscale: false, interlace: true }) %}
        {
        'src': '{{ transformedImage.url }}',
        'thumb': '{{ transformedThumb.url }}',
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
    })
  });
});
</script>
{% endblock %}
