{% extends "_base" %}

{% import '_includes/_macros' as icon %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.3/dist/css/lightgallery.min.css">
<link rel="stylesheet" href="/external/styles/YouTubePopUp.css">
<style>
  .logo--wordmark { display: none; }
</style>
{% endblock %}

{% block content %}

{% set featuredImage = entry.featuredImage[0] ?? null %}
{% set featuredImageTransformed = craft.imager.transformImage(featuredImage, {
  interlace: true,
  width: '720',
  height: '900',
  mode: 'crop',
  position: featuredImage.focusPctX ~ '% ' ~ featuredImage.focusPctY ~ '%'
  }) %}

  {% if entry.joeImageGallery is not empty %}
      {% set galleryPreviewImage = entry.joeImageGallery.first %}
      {% set galleryPreviewImageTransformed = craft.imager.transformImage(galleryPreviewImage, {
        width: 1200,
        ratio: '4:3',
        mode: 'crop',
        position: galleryPreviewImage.focusPctX ~ '% ' ~ galleryPreviewImage.focusPctY ~ '%'
        }) %}
  {% endif %}

{% include '_includes/_about-nav' %}

<section class="padding-top-xl">
  <div class="container container--about env-light">
    <div class="copy-block">
      <h1>{{ entry.title}} <span class="dateline">(1925 - 2017)</span></h1>
      <img class="image--wrap founder-photo" src="{{ featuredImageTransformed.url }}">
      {{ entry.descriptionOverview }}

      <a class="gallery-preview {% if entry.joeImageGallery is empty %}no-gallery {% endif %}flexed-default flex-ai-center flex-jc-center lazyload" style="background-position: {{ galleryPreviewImage.focusPctX }}% {{ galleryPreviewImage.focusPctY }}%; height: 400px; margin-top: 24px;" data-bg="{{ galleryPreviewImageTransformed.url }}">
        {% if entry.joeImageGallery is not empty %}
          <div class="btn btn--no-border btn--with-icon btn--white">{{ icon.variation('gallery', 'white') }}View More<br>Images</div>
        {% endif %}
      </a>

    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lightgallery@1.2.4/dist/js/lightgallery.min.js"></script><script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lightgallery@1.2.4/dist/js/lg-thumbnail.min.js"></script><script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lightgallery@1.2.4/dist/js/lg-thumbnail.min.js"></script>
<script src="/external/js/youtube.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  $('.gallery-preview').on('click', function() {
    $(this).lightGallery({
      dynamic: true,
      dynamicEl: [
        {% for i in entry.joeImageGallery %}
        {% set transformedImage = craft.imager.transformImage(i, { width: 2000, allowUpscale: false, interlace: true }) %}
        {% set transformedThumb = craft.imager.transformImage(i, { width: 200, allowUpscale: false, interlace: true }) %}
        {
        'src': '{{ transformedImage.url }}',
        'thumb': '{{ transformedThumb.url }}',
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
    })
  });
  $(".joe-video").YouTubePopUp();
});
</script>
{% endblock %}
