{% extends "_base" %}
{% set title = 'Our Team' %}

{% import '_includes/_macros' as icon %}

{% block stylesheets %}
<style>
  .logo--wordmark { display: none; }
</style>
{% endblock %}

{% set teamPhoto = teamPagePhoto.teamPhoto[0] ?? null %}
{% set teamPhotoTransformed = craft.imager.transformImage(teamPhoto, {
  interlace: true,
  width: '1500',
}) %}


{% block content %}
{% set employees = craft.entries.section('employees').with(['employeeHeadshot']) %}

{% cache globally using key craft.request.path %}

{% include '_includes/_about-nav' %}

<section class="padding-top-xl">
  <div class="container container--about env-light">
    <div class="copy-block">
      <div class="employee-board-nav">
        <h1>Our Team</h1>
        <div class="employee-board-nav-toggle">
          <a class="btn btn--no-border active employees">Leadership Team</a>
          <a class="btn btn--no-border board">Board of Directors</a>
        </div>
      </div>
      <div class="employee-board-container">
        <div class="employees-container">
          {% if teamPhoto %}
            <img class="team-photo" src="{{ teamPhotoTransformed.url }}" alt="Hampton Team Photo">
          {% endif %}
          <div style="margin-bottom: 24px">{{ leadershipTeamIntro.simpleRichText }}</div>
          <div class="employee-full-bios">
            {% for employee in employees %}
            {% set meta = employee.employeeBasicInformation %}
            {% set contact = employee.contactInformation %}
            {% set i = employee.employeeHeadshot[0] ?? null %}
            {% set transformedImage = craft.imager.transformImage(i, { width: 1000, height: 1000, mode: 'crop', position: '50% 40%' }) %}

              <div class="employee-expanded" data-name="{{ employee.title|kebab }}">
                <div class="employee-expanded-info">
                  <div class="employee-expanded-top">
                    <img class="employee-expanded-photo" src="{{ transformedImage.url }}" alt="{{ employee.title }} Headshot">
                    <div>
                      <h2 class="employee-name">{{ employee.title }}</h2>
                      <p class="employee-title">{{ meta.jobTitle }}</p>
                    </div>
                  </div>
                  <div class="employee-bio">
                    <div>
                      <h6>Started:</h6>
                      {{ meta.startYear}}
                    </div>
                    <div>
                      <h6>Professional Experience:</h6>
                      {{ employee.professionalExperience }}
                    </div>
                    <div>
                      <h6>Other Involvements:</h6>
                      {{ employee.otherInvolvements }}
                    </div>
                    <div>
                      <h6>Education:</h6>
                      {{ employee.education }}
                    </div>
                  </div>

                  <div class="employee-contact-info">
                    <a href="tel:{{ contact.phoneNumber }}">{{ icon.variation('Phone', 'White') }}<span>{{ contact.phoneNumber }}</span></a>
                    <a href="mailto:{{ contact.email }}">{{ icon.variation('Email', 'White') }} <span>{{ contact.email }}</span></a>
                    <a href="{{ contact.linkedinUrl }}" target="_blank">{{ icon.variation('Linkedin', 'White') }}<span>{{ employee.title }}</span></a>
                  </div>
                </div>
                {# <div class="employee-expanded-photo" style="background-image: url({{ transformedImage.url }})">
                </div> #}

                <div class="nav-close">{{ icon.variation('X', 'White') }}</div>
                {% if not loop.first %}
                <div class="nav-arrow prev">{{ icon.variation('Left', 'White') }}</div>
                {% endif %}
                {% if not loop.last %}
                <div class="nav-arrow next">{{ icon.variation('Left', 'White') }}</div>
                {% endif %}
              </div>

            {% endfor %}
          </div>

          <div class="employee-thumbnails">
            {% for employee in employees %}
            {% set i = employee.employeeHeadshot[0] ?? null %}
            {% set transformedImage = craft.imager.transformImage(i, { width: 600, height: 600, mode: 'crop', position: '50% 40%' }) %}
              <div class="employee-thumbnail" data-name="{{ employee.title|kebab }}">
                <img src="{{ transformedImage.url }}">
                <div class="employee-thumbnail-name">
                  <span class="name">{{ employee.title }}</span>
                  <span class="job-title">{{ employee.employeeBasicInformation.jobTitle }}</span>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="board-container hidden">
          {% set outsideMembers = boardOfDirectors.outsideBoardOfDirectors %}
          {% set insideMembers = boardOfDirectors.insideBoardOfDirectors %}
          <h2>Outside Board of Directors</h2>
            {% for member in outsideMembers %}
                <p class="board-member">{{ member.boardMember }}, <span>{{ member.boardMemberCompany }}</span></p>
            {% endfor %}
          {# <h2>Inside Board of Directors</h2>
            <p class="board-member">{{ insideMembers.permanentMembers }}</p>
            <p class="board-member"><span>On alternating years -</span> {{ insideMembers.alternatingMembers }}</p> #}
        </div>

      </div>
    </div>
  </div>
</section>
{% endcache %}
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
  $('.employee-thumbnail').click(function() {
    var employee = $(this).attr('data-name');
    $('.employee-thumbnails').addClass('hidden');
    $('.employee-full-bios').addClass('show');
    $('.employee-expanded').removeClass('active');
    $('.employee-expanded[data-name='+employee+']').addClass('active');
  })

  $('.employee-expanded .nav-close').click(function() {
    $('.employee-thumbnails').removeClass('hidden');
    $('.employee-full-bios').removeClass('show');
    $('.employee-expanded').removeClass('active');
  })

  $('.nav-arrow.next').click(function() {
    $(this).parent().removeClass('active');
    $(this).parent().next('.employee-expanded').addClass('active');
  })

  $('.nav-arrow.prev').click(function() {
    $(this).parent().removeClass('active');
    $(this).parent().prev('.employee-expanded').addClass('active');
  })

  $('.btn.employees').click(function() {
    $('.btn--no-border').removeClass('active');
    $(this).addClass('active');
    $('.employees-container').removeClass('hidden');
    $('.board-container').addClass('hidden')
  })

  $('.btn.board').click(function() {
    $('.btn--no-border').removeClass('active');
    $(this).addClass('active');
    $('.board-container').removeClass('hidden');
    $('.employees-container').addClass('hidden')
  })
})
</script>
{% endblock %}
