@mixin res($size, $rule: min-width) {
  @for $i from 1 through 400 {
    @if $size == $i {
      @media only screen and (#{$rule}: #{$i}em) {
        @content;
      }
    }
  }
}

@mixin transition($property: all, $timing: cubic-bezier(.785, .135, .15, .86), $duration: 0.25s) {
  transition: $property $timing $duration;
}

@mixin linear-gradient($direction, $color1, $color2) {
  background: linear-gradient($direction, $color1, $color2);
}

@mixin radial-gradient($position, $color1, $color2) {
  background: radial-gradient(ellipse at $position, $color1 0%, $color2 100%)
}
