$color-brand-red: rgba(208, 17, 43, 1); // #d0112b
$color-brand-yellow: rgba(244, 167, 28, 1); // #f6a704 #fb9b46
$color-brand-blue: rgba(9, 46, 110, 1); // #092e6e
$color-brand-dark-blue: rgba(29, 55, 102, 1);

$color-base-white: rgba(255, 255, 255, 1);
$color-base-off-white: #ddd;
$color-base-light-gray: #ccc;
$color-base-black: #000;

$color-text-white: #fff;
$color-text-neutral: #aaa;
$color-text-subtle: #888;
$color-text-default: #333;

$color-bg-dark: rgba(11, 21, 34, 1); // #0b1522
$color-bg-light: #f4f4f4; // #0b1522

// Consistent spacing among elements
$u: 16px;

$container-max-width: 1024px;
