@import 'variables';
@import 'mixins';
$font-default: ('EB Garamond', Georgia, serif);
$font-display: ('proxima-nova', 'Montserrat', Helvetica, sans-serif);

@import url('https://fonts.googleapis.com/css?family=EB+Garamond');


#global-sidebar {
  background: $color-bg-dark;
}

#nav li a {
  font-size: 14px;
  @include transition;
}


#page-header {
  #page-title h1 {
    color: $color-brand-red;
  }
}

.sidebar nav li a.sel {
  background: $color-brand-blue;
  // @include linear-gradient(to right, $color-brand-yellow, $color-brand-red);
}

.topbar {
  background: $color-brand-blue;
  height: 8px;
  @include linear-gradient(to right, $color-brand-yellow, $color-brand-red);
  // border-bottom: 2px solid $color-brand-yellow;
}

#global-sidebar .topbar a.site-name {
  background: $color-brand-blue;
}

#global-sidebar .topbar a.updates {
  background: $color-brand-blue;
  color: $color-base-white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-display;
}

body, input, select, textarea {
  font-family: $font-display;
  font-weight: 400;
}

.btn.submit {
  background: $color-brand-red;
  @include transition;

  &:hover {
    background: darken($color-brand-red, 10%);
  }
}

.btn.submit:not(.disabled):not(.inactive):hover, .btn.submit:not(.disabled):not(.inactive).hover {
  background: darken($color-brand-red, 10%);
}

.fieldlayoutform, .fld-tab, .fld-field {
  font-style: normal;
}


.redactor-styles address, .redactor-styles blockquote, .redactor-styles dl, .redactor-styles figure, .redactor-styles hr, .redactor-styles ol, .redactor-styles p, .redactor-styles pre, .redactor-styles table, .redactor-styles ul {
  font-family: $font-display;
  font-size: 18px;
  line-height: 1.5;
}

.redactor-styles h1, .redactor-styles h2, .redactor-styles h3, .redactor-styles h4, .redactor-styles h5, .redactor-styles h6 {
  font-family: $font-display !important;
  font-weight: 300;
}

#global-sidebar #devmode {
  position: absolute;
  z-index: 100;
}
