@import 'variables';
@import 'mixins';
$font-default: ('EB Garamond', Georgia, serif);
$font-display: ('proxima-nova', Helvetica, sans-serif);

@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-default;
  font-size: 18px;
}
b, strong {
  font-weight: 400;
}

.back-to-site {
  display: none;
}

.search-page.listing .back-to-site,
#results-page .back-to-site {
  display: block;
  max-width: 1000px;
  margin: 36px auto;
  padding: 0 24px;
  font-size: 22px;
  font-family: $font-default;

  a {
    font-weight: 400;
  }
}

#header #nav-links {
  font-family: $font-display;
  margin: 36px auto 0;
  max-width: 1000px;

  a {
    font-size: 16px;

    &:hover {
      background: none;
      border-color: transparent;
      color: rgb(42, 100, 150);
    }
  }
}

#search .main-search-area #property-type-options label {
  font-family: $font-default;
  font-size: 18px;
  color: $color-text-subtle;
}
h1, h2, h3, h4, h5 {
  font-family: $font-display;
}

#main h1 {
  font-weight: 200;
  font-size: 42px;
}
h4 {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.125;
  margin: 48px 0 16px;
}

.form-control {
  box-shadow: none;
  border: 2px solid $color-base-light-gray;
  outline: none;
  height: auto;
  padding: 8px 12px;
  font-size: 18px;
  font-family: $font-default;

  &:focus,
  &:active {
    box-shadow: none;
    border-color: $color-text-neutral;
  }
}

select.form-control {
  height: 45px;
}

// .btn-primary {
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//
//   padding: $u ($u*2);
//
//   border: 2px solid $color-brand-yellow;
//   border-radius: 40px;
//   background-color: rgba(255, 255, 255, 0.9);
//
//   color: $color-text-subtle;
//   font-weight: 700;
//   font-family: $font-display;
//   font-size: 12px;
//   line-height: 1;
//   text-transform: uppercase;
//   text-decoration: none;
//   text-shadow: none;
//   letter-spacing: 1px;
//
//   cursor: pointer;
//
//   @include transition;
//
//   &:hover {
//     border-color: $color-brand-yellow;
//     color: $color-text-default;
//   }
// }

// #search .main-search-area .btn, .btn-primary {
//   font-size: 11px;
//   line-height: 1;
//   letter-spacing: 2px;
//   // text-transform: none;
//   background: none;
//   border: 2px solid lighten($color-bg-dark, 10%);
//   background: lighten($color-bg-dark, 10%);
//   color: $color-base-white;
//   border-radius: 40px !important;
//   margin-right: 16px;;
//   padding: 12px 20px;
//
//   &:hover {
//     background: $color-bg-dark;
//     color: $color-base-white;
//     border-color: $color-bg-dark;
//   }
// }

#search .main-search-area .btn, .btn-primary {
  background: lighten($color-bg-dark, 10%);

  &:hover {
    background: $color-bg-dark;
  }
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
  padding: 14px 16px 13px;
  margin-left: 0 !important;
  // border-top-left-radius: 0 !important;
  // border-bottom-left-radius: 0 !important;
  // font-size: 13px;
  // text-transform: uppercase;
  font-family: $font-display;
  // font-weight: 700;
  line-height: 1;
  border-width: 2px;
  border-left: 0;
  // z-index: 10;
  // background: none;

  @include transition;

  &:hover {
    background: $color-base-off-white;
    border-color: $color-base-light-gray;
  }
}

// .input-group .twitter-typeahead:first-child .tt-hint, .input-group .twitter-typeahead:first-child .tt-input, .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
//   border-right: 0;
// }

.add-criteria .input-group-btn:last-child>.btn {
  margin: 0;
  padding: 11px 16px 12px;
 }

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  font-family: $font-default;
  font-size: 18px;
  color: $color-text-default;
  line-height: 1.35;
}

.ur,
.lr,
.ll,
#footer-container {
  display: none;
}

.rounded-corners {
  background: none;
  padding: 0;
}

.listing-right-column  .details .listing-action a {
  font-family: $font-display;
}

.type-tag {
  font-family: $font-display;
  font-size: 12px;
  padding: 8px 12px;
  letter-spacing: 1px;
}

.type-tag.tag-lease {
  background: $color-text-neutral;
}

#page-content #overview-address .address span,
#page-content #overview-address .address span a {
  font-family: $font-default;
  font-size: 24px;
  color: $color-text-subtle;
}

#overview-context #overview-id,
#overview-context #overview-id strong {
  font-family: $font-display;
}

.moreSuitesInfo {
  margin: 0 0 48px;
}

.col-md-4.col-sm-4.extra-options:last-of-type {
  display: none !important;
}

.summary .expanded-details .listing-primary .address-location {
  color: $color-text-subtle;
  font-family: $font-default;
  font-size: 18px;
  line-height: 1.25;
}

.summary .expanded-details ul li,
.summary span.label {
  font-family: $font-display;
  font-size: 14px;
}

.indicator {
  height: auto;
  font-size: 11px;
  text-transform: uppercase;
  font-family: $font-display;
  padding: 6px 8px;
  line-height: 1;
}

// .btn-group, .btn-group-vertical {
//   margin-bottom: 36px;
// }


// .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group .form-control:last-child {
//   z-index: 5 !important;
//   padding: 11px 20px;
//   margin-left: 8px;
//   border-radius: 4px;
//   margin-top: 0;
// }

body.responsive #search-filters input[type="text"] {
  border-right: 2px solid $color-base-light-gray;
  border-radius: 4px !important;
  min-width: 80px;
}

body.responsive .add-criteria #search-filters input[type="text"] {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

#search-filters input[type="text"] {
  height: auto;
  padding: 6px 12px;
}

#search-filters label {
  font-family: $font-default;
  font-size: 18px;
}

#search-filters select {
  height: 39px;
  font-size: 18px;
  line-height: 1;
  margin-left: 6px;
}

.btn-xs, .btn-group-xs>.btn {
  border-radius: 4px;
  font-size: 12px;
  font-family: $font-display;
  text-transform: uppercase;
  margin-top: 6px;
  padding: 4px 12px;
  line-height: 1;
  font-weight: 700;
}

.criteria {
  font-family: $font-display;
}

.first {
  font-family: $font-default;
  font-size: 18px;
  font-weight: 400;
}

body.responsive #compact-search-header #highlight-message {
  font-family: $font-display;
}

body.responsive #primary-compact-search-filters {
  font-family: $font-display;
  font-weight: 300;
  font-size: 24px;
  padding: 12px 20px;
}

body.responsive #compact-search-filters #show-filters-button, body.responsive #compact-search-filters #hide-filters-button {
  bottom: 12px;
  right: 12px;
}

body.responsive #compact-search-header a {
  font-family: $font-display;
}

#results-page .tabs li a {
  font-family: $font-display;
}

.listing .listing-left-column .table .row-label {
  font-family: $font-display;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  vertical-align: middle;
  padding: 0;
  padding-right: 8px;
}

.summary span.label {
  text-transform: uppercase;
  color: $color-text-default;
  font-size: 12px !important;
  letter-spacing: 0.5px;
}

.brick {
  font-family: $font-default;
}

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
  font-family: $font-display;
}

.btn-group .btn-primary {
  border-color: white;

  &:hover {
    border-color: white;
  }
}
