{% extends "_base" %}
{% set title = entry.title ~ ' | News' %}

{% import '_includes/_macros' as icon %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.3/dist/css/lightgallery.min.css">
{% endblock %}


{% block content %}

{% set featuredImage = entry.featuredImage[0] ?? null %}

{% cache globally using key craft.request.path %}
<section class="news-featured-image" style="background-image: url({{ featuredImage.url }}); background-position: {{ featuredImage.focusPctX }}% {{ featuredImage.focusPctY }}%">

</section>

<article class="news-post-body">
  <div class="container">
    <h1 class="news-post-title">{{ entry.title }}</h1>
    <p class="news-post-date">{{ entry.postDate|date('l, F j, Y') }}</p>

    {% include 'news/_news-post-builder' %}

  </div>
</article>

<section class="share container">
  <div class="news-share">
    <h6>Share This Story</h6>

    <div class="share-icons">
      <a href="https://www.facebook.com/sharer.php?u={{ entry.url|url_encode }}">{{ icon.variation('facebook', 'grey') }}</a>
      <a href="https://twitter.com/intent/tweet?text={{ entry.title|url_encode }}%20-%20{{ entry.descriptionOverview|hacksaw(hack='characters', limit='60', append='...')|url_encode }}&url={{ entry.url|url_encode }}" target="_blank">{{ icon.variation('twitter', 'grey') }}</a>
      <a href="mailto:?subject={{ entry.title|url_encode }}%20-%20Hampton%20News%20Article">{{ icon.variation('email', 'grey') }}</a>
    </div>

  </div>
</section>

<section class="related-listings news-post container">
  {% set category = entry.newsPostCategory.first() %}
  <h2 class="color-text-default mb-default">View More {{ category|title }} News</h2>
  {% for project in craft.entries.section('news').relatedTo(category).id('not ' ~ entry.id).limit(3) %}
  {% set projectImage = project.featuredImage[0] ?? null %}
  {% set transformedImage = craft.imager.transformImage(projectImage, {
    width: 800,
    height: 800,
    mode: 'crop',
    position: projectImage.focusPctX ~ '% ' ~ projectImage.focusPctY ~ '%'
    }) %}
  <a href="{{ project.url }}" class="related-listings__listing">
    <img class="lazyload" data-src="{{ transformedImage.url }}" alt="{{ project.title }} Thumbnail Image">
    <div class="related-listings__info">
      <p class="related-listing-title">{{ project.title }}</p>
      <p class="related-listing-subtitle">{{ project.location }}</p>
    </div>
  </a>
  {% endfor %}
</section>

<section class="container">
  <div class="news-post-navigation">
    {% set criteria = {section: 'news', order: 'postDate'} %}
    {% set prev = entry.getPrev(criteria) %}
    <a href="/news">< Back to News</a>
    {% if prev %}
    <a href="{{ prev.url }}">View Next Story ></a>
    {% endif %}
  </div>
</section>

{% endcache %}

{% endblock %}

{% block scripts %}
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>

{% for block in entry.newsPostBuilder.type('imageGallery').limit(1) %}
{% if block is defined %}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lightgallery@1.2.4/dist/js/lightgallery.min.js"></script><script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lightgallery@1.2.4/dist/js/lg-thumbnail.min.js"></script><script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lightgallery@1.2.4/dist/js/lg-thumbnail.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {
    $('.gallery-preview').on('click', function() {
      $(this).lightGallery({
        dynamic: true,
        dynamicEl: [
          {% for i in block.images %}
          {% set transformedImage = craft.imager.transformImage(i, { width: 2000, allowUpscale: false, interlace: true }) %}
          {% set transformedThumb = craft.imager.transformImage(i, { width: 200, allowUpscale: false, interlace: true }) %}
          {
          'src': '{{ transformedImage.url }}',
          'thumb': '{{ transformedThumb.url }}',
          'subHtml': '{{ i.caption }}',
        }{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
      })
    });
  });
  </script>
{% endif %}
{% endfor %}
{% endblock %}
