{% extends "_base" %}
{% set title = 'News' %}
{% set query = craft.request.getParam('q') ?? null %}

{% import '_includes/_macros' as icon %}
{% block stylesheets %}

{% endblock %}

{% block content %}

<div class="arrow-container arrow-container-news">
  <a class="hero-arrow-icon" href="#jump">{{ icon.variation('down', 'white') }}</a>
</div>

<section class="padding-top-2xl" style="position: relative">
  <div class="container env-light news-hero flex-ai-start flex-jc-center">
    <div class="news-hero-col">
      <h1>News</h1>
      <div class="company-tagline line-underneath">Because Relationships Really Do Matter.</div>
      <div>{{ entry.descriptionOverview }}</div>
    </div>
    <div class="news-hero-col">
      <a class="view-archives" href="/news/archives">View the Archives »</a>
      <div class="news-sort">
        <div class="news-sort-col">
          <h6 class="body-text-button color-text-white">Sort by Field</h6>
          <ul class="filter-list--list-view post-type-category">
            <li data-cat="construction">Construction</li>
            <li data-cat="properties">Properties</li>
            <li data-cat="company">Company</li>
          </ul>
        </div>
      </div>
      <div class="news-search">
        <h6 class="body-text-button color-text-white">Search</h6>
          <form class="search__bar" action="{{ url('news/search') }}">
            <button type="submit" value="" class="search-button">{{ icon.variation('search', 'grey') }}</button>
            <input type="text" value="{{ query }}" name="q" placeholder="Search News Articles">
          </form>
      </div>
    </div>
  </div>
</section>

  {# Set the post variable to the Featured Post, or if one isn't selected, set the post variable to the most recent post #}
  {% set checkForFeaturedPost = entry.featuredNewsPost.first ?? null %}
  {% set recentPost = craft.entries.section('news').first() %}
  {% set featuredPost = checkForFeaturedPost ?? recentPost %}

  {% set firstBlock = featuredPost.newsPostBuilder.type('textBlock').first() %}
  {% set excerpt = firstBlock.text %}
  {% set featuredImage = featuredPost.featuredImage[0] ?? null %}
  {% set featuredImageTransformed = craft.imager.transformImage(featuredImage, {
    interlace: true,
    width: '2400',
    }) %}

<section class="lazyload news-featured-post" data-bg="{{ featuredImageTransformed.url }}" style="background-position: {{ featuredImage.focusPctX }}% {{ featuredImage.focusPctY }}%;" id="jump" data-cat="{{ featuredPost.newsPostCategory.first.slug }}">

  <div class="featured-project news">
    <div class="band--yellow">
      <h6>{{ featuredPost.postDate|date('l, F j, Y') }}</h6>
    </div>
    <div class="featured-project__info">
      <h1>{{ featuredPost.title }}</h1>
      <div class="news-post-excerpt">{{ excerpt|hacksaw(hack='words', limit='40', append='...') }}</div>
      <div class="featured-post__links">
        <a href="{{ featuredPost.url }}" class="btn btn--gray btn--no-border btn--with-icon">{{ icon.variation('book', 'grey') }} Continue Reading</a>
      </div>
    </div>
  </div>

</section>


{% set newsPosts = craft.entries.section('news').with(['featuredImage']).limit(null) %}
{% set allIds = newsPosts.ids() %}
{% set featuredId = featuredPost.id %}
{% set filteredIds = allIds|without(featuredId) %}

<section class="news-posts-ajax">
  <div class="news-posts-list">
  {% paginate newsPosts.id(filteredIds).limit(7) as articles %}

    {% for article in articles %}
    {% set featuredImage = article.featuredImage[0] ?? null %}
    {% set featuredImageTransformed = craft.imager.transformImage(featuredImage, {
      interlace: true,
      width: '1200',
      }) %}
      <a href="{{ article.url }}" class="news-posts-list__post lazyload" data-bg="{{ featuredImageTransformed.url }}" style="background-position: {{ featuredImage.focusPctX }}% {{ featuredImage.focusPctY }}%" data-cat="{{ article.newsPostCategory.first.slug }}">
        <div class="news-posts-list__post-info">
          <h2>{{ article.title }}</h2>
          <p class="news-posts-list__post-date">{{ article.postDate|date('F j, Y') }}</p>
        </div>
      </a>
    {% endfor %}

  </div>
</section>

<div class="container ajax-load centered">
  <a class="btn btn--round btn--gray btn--small" id="loadLabel">Show More Articles</a>
</div>



{% if not craft.request.isAjax %}
<script type="text/javascript">
window.currentPage = {{ paginate.currentPage }};
window.totalPages = {{ paginate.totalPages }};
window.lazyLoading = false;
</script>
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function() {

      $.extend($.expr[":"], {
        "containsIN": function(elem, i, match, array) {
        return (elem.textContent || elem.innerText || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
        }
      })

      $('.post-type-category li').click(function() {
        var cat = $(this).attr('data-cat');

        if( $(this).hasClass('active') ) {
          $(this).removeClass('active');
          $('.news-posts-list__post, .news-featured-post').show();
        } else {
          $('.post-type-category li').removeClass('active');
          $(this).addClass('active');
          $('.news-posts-list__post, .news-featured-post').hide();
          $('.news-posts-list__post[data-cat="'+cat+'"],.news-featured-post[data-cat="'+cat+'"]').show();
        }

      });
  })
</script>

{% if not craft.request.isAjax %}
<script type="text/javascript">
if(currentPage >= totalPages) {
  $("#loadLabel").hide();
}
function lazyload(noContentLabel, loadingLabel) {
  if(currentPage >= totalPages) {
    $("#loadLabel").text(noContentLabel);
  } else {
    window.lazyLoading = true;
    $("#loadLabel").text(loadingLabel).toggleClass("loading");
    $.get('{{ craft.request.url }}' + '/p' + (currentPage + 1), function(data){
      data = $(data).find(".news-posts-list");
      $(".news-posts-ajax").append(data);
      $("#loadLabel").text("Show More Articles");
      window.lazyLoading = false;
      $("#loadLabel").toggleClass("loading");
      if(currentPage == totalPages) {
        $("#loadLabel").hide();
        $('.btn').append( "<p class='no-results'><em>No more articles to show</em></p>" );
      };
    });
    window.currentPage++;
  }
}
$("#loadLabel").click(function() {
  if(!lazyLoading) {
    lazyload("No More", "Loading...");
  }
});
</script>

{% endif %}

{% endblock %}
