{% for block in entry.newsPostBuilder %}

  {% switch block.type %}

    {% case "textBlock" %}
      <div class="block block__text">
        {{ block.text }}
      </div>


    {% case "singleImage" %}
    {% set i = block.image[0] ?? null %}
    {% set iTransformed = craft.imager.transformImage(i, {
      interlace: true,
      width: '1800',
      }) %}

      <div class="block block__image block__image--{{ block.imagePosition }}{% if loop.first %} image--first{% endif %}">
        <img class="lazyload" src="{{ iTransformed.url }}" alt="{{ i.title }}"{% if block.imageWidth|length %} style="width: {{ block.imageWidth }}; margin-left: auto; margin-right: auto;"{% endif %}>
        {% if block.imageCaption|length %}
        <p class="block__image-caption">{{ block.imageCaption }}</p>
        {% endif %}
      </div>


    {% case 'imageGallery' %}
    {% set galleryPreviewImage = block.images.first %}
    {% set galleryPreviewImageTransformed = craft.imager.transformImage(galleryPreviewImage, {
      width: 1200,
      ratio: '4:3',
      mode: 'crop',
      }) %}
    <div class="block block__gallery">
      <a class="gallery-preview news-post-gallery flexed-default flex-ai-center flex-jc-center">
        <img class="lazyload" data-src="{{ galleryPreviewImageTransformed.url }}" alt="{{ galleryPreviewImage.title }}">
        <div class="btn btn--no-border btn--with-icon btn--white">{{ icon.variation('gallery', 'white') }}View Full<br>Gallery</div>
      </a>
      {% if block.imageGalleryCaption|length %}
      <p class="block__image-caption">{{ block.imageGalleryCaption }}</p>
      {% endif %}
    </div>
    {# <a class="gallery-preview">image gallery</a> #}


    {% case "blockquote" %}
      <blockquote class="block block__blockquote">
        {{ block.quote }}
      </blockquote>

    {% default %}


  {% endswitch %}

{% endfor %}
