{% extends "_base" %}

{% set query = craft.request.getParam('q') %}
{% set title = query ~ ' - Hampton Search' %}
{% set entries = craft.entries({
  section: ['construction', 'properties', 'aboutUs', 'constructionHomePage', 'propertiesHomePage', 'news', 'developments'],
  search: {
    query: query,
    subLeft: true,
    subRight: true
  }
}) %}

{% import '_includes/_macros' as icon %}

{% block content %}

<section class="padding-top-xl">
  <div class="container env-light">
    <form class="nav-search-bar" action="{{ url('search') }}">
      <input type="submit" value="" class="nav-search-bar-icon">
      <input type="text" value="{{ query }}" id="search" name="q" placeholder="Search">
    </form>

    <div class="results">
      <p class="results__label">{% if entries.total == 0 %}We couldn't find any results for "{{ query }}." Try searching for a new term.{% else %}{{ entries.total }} results for "{{ query }}"{% endif %}</p>

      {% for entry in entries.order('score') if entry.url|length %}
      <div class="results-hit">
        <p class="hit-title"><a href="{{ entry.url }}">{{ entry.title }}</a></p>
        <p class="hit-url">{{ entry.uri }}</p>

        {% if entry.descriptionOverview is defined %}
          <div class="hit-description">{{ entry.descriptionOverview|hacksaw(hack='words', limit='40', append='...') }}</div>
        {% endif %}

      </div>
      {% endfor %}

    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}
{% endblock %}
