.container--about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // color: white;
  max-width: 52em;

  @include res(36) {
    flex-direction: row;
  }

  .copy-block {
    flex: 1;
  }

  @include res(56) {
    margin-left: 224px;
  }
}

.nav--about {
  z-index: 999;
  flex: none;
  padding-bottom: ($u*2);
  margin-bottom: ($u*2);
  border-bottom: 2px solid darken($color-bg-dark, 20%);

  @include transition;

  @include res(36) {
    padding-right: $u;
    padding-bottom: 0;
    margin-right: ($u*3);
    margin-bottom: 0;
    border-right: 2px solid $color-base-white;
    border-bottom: 0;
  }

  &.hide {
    z-index: 999;
    opacity: 0;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 0;
    list-style: none;
    text-align: right;

    @include res(36) {
      position: sticky;
      top: ($u*10);
      flex-direction: column;
      justify-content: flex-start;
      // margin-top: 30vh;
    }
  }

  li {
    margin-right: ($u*1.5);
  }

  a {
    color: darken($color-text-subtle, 8%);
    font-weight: 700;
    font-family: $font-display;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;

    @include transition;

    &.active {
      color: $color-base-white;
    }

    &:hover {
      color: $color-base-light-gray;
    }
  }
}

.team-photo {
  border: 2px solid $color-base-white;
  margin: ($u*2) 0 $u;
}

.copy-block {
  ul {
    margin-top: ($u*2)
  }
}

.timeline {
  display: flex;
  flex-wrap: wrap;
  min-height: 450px;
  // justify-content: space-between;

  margin-top: ($u*2);
}

.timeline-content {
  position: relative;
  flex: 1;
}

.timeline-content-arrow {

  display: none;

  @include res(48) {
    @include transition;

    position: absolute;
    z-index: 10;
    top: -56px;
    right: -144px;

    display: block;

    width: 40px;
    height: 40px;

    transform: rotate(180deg);

    opacity: 0.75;

    cursor: pointer;

    img {
      width: 40px;
    }

    &:hover {
      transform: scale(1.15) rotate(180deg);
      opacity: 1;
    }

    &.down {
      top: auto;
      top: 420px;
      transform: none;

      &:hover {
        transform: scale(1.15);
      }
    }

  }

}


.timeline-entry {
  padding-bottom: ($u*2);
  margin-bottom: ($u*2);
  border-bottom: 2px solid $color-base-light-gray;

  &:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
  }

  @include res(48) {
    position: absolute;
    top: 0;
    left: 0;

    transform: scale(0.95);

    padding-bottom: 0;
    margin-bottom: 0;

    border-bottom: 0;

    opacity: 0;

    @include transition($duration: 0.5s);

    &.active {
      transform: none;
      opacity: 1;
      transition-delay: .5s;
    }

  }
}

.timeline-entry-year {
  display: inline-block;

  margin: $u 0;

  font-weight: 100;
  font-family: $font-display;
  font-size: 48px;
  line-height: 1;

  @include res(48) {
    padding-bottom: ($u*2);
    margin: ($u*2) 0;
    border-bottom: 2px solid;
    font-size: 124px;
  }
}

.timeline-entry-title {
  margin-bottom: ($u*2);
  font-weight: 300;
  font-family: $font-display;
  font-size: 30px;
  line-height: 1.25;
}

.timeline-nav {
  position: relative;
  display: none;

  @include res(48) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: none;
    order: 1;

    // height: 50vh;
    // height: 352px;
    // overflow: hidden;

    padding-left: ($u*3);
  }
}

.timeline-nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 400px;
  overflow: hidden;
}

.timeline-nav-item {
  @include transition;
  // position: relative;
  width: 150px;
  padding: 8px;
  margin-bottom: ($u/2);

  border: 2px solid transparent;

  color: $color-text-subtle;
  font-weight: 700;
  font-family: $font-display;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    border: 2px solid $color-base-off-white;
  }

  &.active {
    border: 2px solid $color-base-black;
    // font-weight: 700;
    transition-delay: 0.5s;

    span.year {
      // background: $color-base-white;
      color: $color-text-default;
      // transition-delay: 0.5s;
    }

    span.title {
      opacity: 1;
      color: $color-text-default;
    }
  }

  &::after {
    position: absolute;
    top: calc((#{$u}*2.5));
    left: 50%;

    width: 1px;
    height: $u;

    background: $color-text-neutral;

    // content: '';
  }

  &:last-of-type {
    &::after {
      display: none;
    }
  }

  span.year {
    // padding: 2px 4px;
  }

  span.title {
    @include transition;
    color: $color-text-subtle;
    display: block;
    margin-top: 4px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    pointer-events: none;
  }
}

// Founder page

.founder-photo {
  width: 300px;
  margin-right: ($u*2);
  margin-bottom: $u;
  border: 2px solid $color-base-white;

  @include res(50) {
    float: left;
  }
}

.dateline {
  font-family: $font-default;
  font-size: 0.5em;
}

// Values page
.value {
  margin-top: ($u*3);

  h2 {
    margin-bottom: ($u/2);
  }
}

.yellow-link {
  color: $color-brand-yellow;
  font-weight: 700;
  font-family: $font-display;
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;

  &:hover {
    color: darken($color-brand-yellow, 10%);
  }
}

// Team page
.employees-container {
  position: relative;
  height: 100vh;
  min-height: 1620px;
  @include transition;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.employee-thumbnails {
  display: flex;
  flex-wrap: wrap;

  &:hover .employee-thumbnail img {
    filter: blur(2px);
  }

  .employee-thumbnail:hover img {
    filter: none;
  }

  &.hidden {
    opacity: 0;
  }
}

.employee-thumbnail {
  position: relative;
  flex: 0 0 50%;

  cursor: pointer;

  &:hover {
    z-index: 5;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;

    width: calc(100% - 8px);
    height: calc(100% - 8px);

    border: 4px solid $color-brand-yellow;

    opacity: 0;

    content: '';

    @include transition;
  }

  @include res(48) {
    flex: 0 0 50%;
  }

  img {
    line-height: 0;
    display: block;
    @include transition($duration: 0.1s);
  }

  &:hover {

    &::after,
    .employee-thumbnail-name {
      opacity: 1;
    }
  }
}

.employee-thumbnail-name {
  position: absolute;
  bottom: 0;

  display: block;

  width: 100%;

  padding: ($u/2) ($u/2) $u;

  background: $color-brand-yellow;

  color: $color-base-white;
  font-family: $font-display;
  font-size: 16px;
  text-align: center;

  opacity: 0;

  @include transition;

  @include res(60) {
    font-size: 20px;
  }

  span.job-title {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
  }
}

.employee-full-bios {
  position: absolute;
  z-index: 1;

  width: 100%;

  opacity: 0;

  pointer-events: none;

  @include transition;

  &.show {
    opacity: 1;
    pointer-events: inherit;
  }

  @include res(64) {
    width: calc(100% + ( (100vw - #{$container-max-width})/2 ) );
  }
}

.employee-expanded {
  position: absolute;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 896px;

  border: 2px solid $color-brand-yellow;
  background: $color-base-black;

  opacity: 0;

  pointer-events: none;

  @include transition;

  @include res(36) {
    border-width: 4px;
  }

  @include res(80) {
    flex-direction: row;
  }

  &.active {
    opacity: 1;
    pointer-events: inherit;
  }

  .nav-arrow {
    position: absolute;
    z-index: 2;
    top: 80px;

    // transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    background: $color-brand-yellow;

    cursor: pointer;


    &:hover {
      img {
        transform: scale(1.15);
      }
    }

    &.prev {
      left: 0;
    }

    &.next {
      right: 0;

      img {
        transform: rotate(180deg);
      }

      &:hover img {
        transform: scale(1.15) rotate(180deg);
      }
    }

    img {
      width: 24px;
      @include transition;
    }

    @include res(60) {
      top: 120px;
      // width: 36px;
      // height: 36px;

      img {
        width: 24px;
      }
    }
  }

  .nav-close {
    position: absolute;
    z-index: 2;
    top: $u;
    right: $u;

    cursor: pointer;
  }
}

.employee-expanded-info  {
  z-index: 1;
  width: 100%;
  overflow: auto;
  padding: $u*2;

  @include res(60) {
    padding: ($u*3);
  }

  @include res(80) {
    padding: ($u*3) ($u*4);

    // width: 60%;
    // padding: ($u*3) ($u*4) ($u*3) ($u*6);
    // border-right: 4px solid $color-brand-yellow;
  }
}

.employee-expanded-top {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: ($u*2);

  text-align: center;

  @include res(48) {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    padding-right: ($u*3);
    // padding-left: ($u*2);
  }
}

.employee-expanded-photo {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto $u;

  @include res(48) {
    width: 150px;
    height: 150px;
    margin-right: ($u * 2);
    margin-bottom: 0;
    margin-left: 0;
  }

  @include res(62) {
    width: 200px;
    height: 200px;
  }
}

h2.employee-name {
  color: white;
  margin-bottom: ($u/2);

  font-size: 36px;
  line-height: 1;

  @include res(60) {
    font-size: 64px;
    // white-space: nowrap;
  }

  @include res(80) {
    padding-bottom: $u;
    margin-bottom: $u;
    border-bottom: 2px solid $color-base-white;
  }
}

p.employee-title {
  font-size: 24px;
  line-height: 1;
  letter-spacing: 1px;
  color: white;

  @include res(60) {
    font-size: 30px;
  }
}

.employee-bio {
  max-width: 700px;

  div {
    margin-top: $u;
  }

  h6 {
    margin-bottom: 0;
    color: $color-brand-yellow;
    font-size: 12px;
    text-transform: uppercase;
  }

  ul {
    margin-top: 0;
  }

  li,
  p {
    color: $color-base-off-white;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.25;
  }
}

.employee-contact-info {
  display: block;
  margin-top: $u;
  line-height: 1;

  a {
    display: block;
    margin-bottom: ($u/2);
    color: $color-base-off-white;
    font-size: 16px;
    text-decoration: none;

    &:hover {
      color: $color-base-white;
    }
  }

  img {
    position: relative;
    top: 8px;
    width: 24px;
    height: 24px;
    margin-right: ($u/2);

    border-radius: 50%;
    background: white;
  }

  span {
    display: inline;
  }
}

.employee-board-container {
  position: relative;
  margin-top: ($u * 2);
}

.employee-board-nav {
  display: flex;
  flex-direction: column;

  @include res(62) {
    flex-direction: row;
    align-items: flex-end;

    h1 {
      margin-bottom: 0;
    }
  }
}

.employee-board-nav-toggle {
  margin-bottom: $u;

  @include res(62) {
    margin-bottom: ($u / 2);
    margin-left: ($u * 2);
  }

  .btn {
    padding-right: $u;
    padding-left: $u;
    margin-left: -3px;
    border-bottom: 3px solid;
    color: $color-text-subtle;
    @include transition;

    &.active {
      color: $color-brand-yellow;
      border-color: $color-brand-yellow;

      &:hover {
        color: $color-brand-yellow;
      }
    }

    &:hover {
      color: $color-text-neutral;
    }

    @include res(62) {

    }
  }
}

.board-container {
  position: absolute;
  top: 0;
  @include transition;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  // h2:last-of-type {
  //   margin-top: ($u*4);
  // }
}

.board-member {
  @include typi($h3-map);

  span {
    @include typi($h5-map);
    color: $color-text-subtle;
  }
}
