.community-quote {
  margin: ($u*3) auto 0;
  color: white;
  font-family: $font-display;
  font-weight: 400;
  font-size: 30px;
  // text-align: center;
}

.community-quote-author {
  margin-bottom: ($u*3);
  color: white;
  font-size: 24px;
  // text-align: center;
}

.community-involvement-grid {
  display: flex;
  flex-wrap: wrap;

  .company {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 8px);

    height: 150px;

    padding: $u;

    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;

    margin-right: $u;
    margin-bottom: $u;

    border: 2px solid $color-brand-blue;

    text-decoration: none;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    @include res(38) {
      flex-basis: calc(33.333% - 11px);

      &:nth-of-type(2n) {
        margin-right: $u;
      }

      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }

    @include res(48) {
      flex-basis: calc(25% - 12px);

      &:nth-of-type(3n) {
        margin-right: $u;
      }

      &:nth-of-type(4n) {
        margin-right: 0;
      }

    }

    @include res(56) {
      flex-basis: calc(20% - 13px);

      &:nth-of-type(4n) {
        margin-right: $u;
      }

      &:nth-of-type(5n) {
        margin-right: 0;
      }
    }

    &::after {
      @include transition;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
      content: '';
    }

    &:hover::after {
      background: $color-brand-yellow;
    }

    &:hover {
      border-color: $color-brand-yellow;
    }

    h4 {
      position: relative;
      z-index: 5;
      color: $color-text-default;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.25;
      text-align: center;
    }
  }

  .company-logo {
    position: absolute;
    top: 16px;
    left: 16px;

    width: calc(100% - 32px);
    height: calc(100% - 32px);

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

  }

}
