.construction-details {
  display: flex;
  flex-direction: column;

  @include res(60) {
    flex-direction: row;
  }
}

.details-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 50%;
  padding: ($u*3);

  @include res(80) {
    flex: 1 0 60%;
    flex-direction: row;
    padding: ($u*4);
  }
}

.details-box__meta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  margin-top: ($u*2);
  order: 2;

  @include res(32) {
    flex-direction: row;
  }

  @include res(80) {
    flex-direction: column;
    flex: none;
    order: 0;

    width: 200px;

    padding-right: ($u*4);
    margin-top: 0;
  }

  div {
    flex-grow: 1;
    flex-shrink: 0;

    flex-basis: calc(50% - #{$u});
    margin-right: $u;
    margin-bottom: ($u*1.5);

    &:last-of-type {
      margin-bottom: 0;
    }

    @include res(60) {
      margin-right: 0;
    }
  }

  p {
    margin-bottom: ($u*1.5);
    color: $color-text-subtle;
    font-size: 16px;
    line-height: 1.25;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.details-box__description {
  flex: 1 1 auto;
  width: 100%;
  h1 {
      margin-bottom: $u;
  }
  p {
    line-height: 1.35;
  }
}

.project-testimonial {
    padding-left: ($u*2);
    margin-top: ($u*2);
    border-left: 2px solid $color-base-off-white;
}

.project-testimonial-quote {
    color: $color-text-subtle;
    font-size: 16px;
    font-family: $font-display;
    font-weight: 400;
}

.project-testimonial-author {
    color: $color-text-subtle;
    font-size: 18px;
    font-weight: 700;
    font-family: $font-display;
}

.gallery-preview {
  position: relative;
  height: 400px;
  background-size: cover;
  text-decoration: none;
  cursor: pointer;

  @include res(60) {
    flex: 1 0 50%;
    height: auto;
  }

  @include res(80) {
    flex: 1 0 40%;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    content: '';

    @include transition;
  }

  > * {
    z-index: 2;
  }

  &:hover::after {
    background: rgba(0, 0, 0, 0.45);
  }

  &.no-gallery {
      cursor: inherit;

      &::after {
          display: none;
      }
  }
}

.construction-images {

  img {
    display: block;
    margin: 0;
  }
}

.share {
  margin: ($u*3) auto;
  text-align: center;

  .news-share {
    padding-top: ($u*3);
    margin: 0 auto;
    border-top: 2px solid $color-base-off-white;
    border-bottom: 2px solid $color-base-off-white;
  }
}

.share-icons {
  padding-bottom: ($u*3);
  margin-top: $u;
  border-bottom: 2px solid $color-base-off-white;

  .news-share & {
    border-bottom: 0;
  }

  img {
    width: 24px;
  }

  a {
    text-decoration: none;
  }

  a + a {
    margin-left: $u;
  }
}
