.construction-home-intro {
  position: relative;


  @include res(60) {
    flex-direction: row;
  }

    &::after {
      position: absolute;
      z-index: 0;

      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background: rgba(0,0,0,0.5);
      // mix-blend-mode: multiply;
      // background: linear-gradient(to right, transparent 60%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
      // @include radial-gradient(bottom right, rgba($color-brand-blue, 0.75), rgba($color-bg-dark, 0.75));

      content: '';
    }


  @include res(60) {
    &::after {
      position: absolute;
      z-index: 0;

      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      // background: linear-gradient(to right, rgba($color-bg-dark, 0.9) 0%, rgba($color-brand-blue, 0.9) 60%, rgba(0,0,0,0) 60%);
      // mix-blend-mode: multiply;
      // background: linear-gradient(to right, transparent 60%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
      // @include radial-gradient(bottom right, rgba($color-brand-blue, 0.75), rgba($color-bg-dark, 0.75));

      content: '';
    }
  }

  // .container {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   padding-top: ($u*6);
  //   padding-right: 0;
  //   padding-left: 0;
  //
  //   @include res(60) {
  //     flex-direction: row;
  //   }
  // }
}

.full-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0;
    padding-left: 0;

    @include res(60) {
        flex-direction: row;
    }
}


.col-60 {
  position: relative;
  z-index: 2;
  padding: ($u*5) 0;
  padding-top: ($u*2);

  // color: white;
  background: white;


  @include res(60) {
    flex: none;
    width: 60%;
    padding-right: ($u*2);
    padding-top: ($u*10);
  }
}

.col-40 {
  position: relative;
  z-index: 2;

  padding: ($u*5) ($u*2);
  color: white;

  @include res(60) {
    flex: none;
    width: 40%;
    // padding-left: ($u*6);
  }
}

.container--inner-60 {
  padding-right: $u;
  padding-left: $u;
  margin-left: auto;
  margin-right: auto;

  @include res(60) {
    // max-width: ($container-max-width * 0.6);
    padding-right: ($u*3);
    padding-left: ($u*3);
    margin-right: 0;
  }
}

.container--inner-40 {
  padding-right: ($u*2);
  padding-left: ($u*2);
  margin-left: auto;
  margin-right: auto;

  @include res(60) {
    max-width: ($container-max-width * 0.4);
    margin-left: 0;
    margin-right: auto;
  }
}


.blurb {
    position: relative;
    z-index: 1;

    max-width: 40em;

    padding-top: ($u*4);
    padding-bottom: ($u*4);
    margin: auto;

    color: $color-base-white;
    text-align: center;
}

.popup {
  position: fixed;
  // z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;

  .intro p,
  .intro li {
    // font-size: 24px;
  }

  .intro h2 {
    color: white;
  }

  ul, ol {
    margin-top: 24px;
    padding-left: 16px;
  }

  p, li {
    // color: rgba($color-base-white, 0.7);
    font-size: 20px;
  }

  h3 {
    color: white;
    cursor: pointer;

    img {
      position: relative;
      width: 24px;
      top: 4px;
      left: 4px;
      transform: rotate(90deg);
    }

    &.expand img {
      transform: rotate(180deg);
    }
  }

  .container {
    position: relative;
    top: 5rem;
    height: calc(100vh - 8rem);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .close-button {
    position: absolute;
    top: 0;
    right: ($u*2);
    // width: 40px;
    // height: 40px;

    img {
      width: 100%;
    }
  }

  &.active {
    z-index: 999;
    background: rgba($color-base-off-white, 0.975);
    pointer-events: inherit;
    opacity: 1;
  }

  &.active * {
    opacity: 1;
    pointer-events: inherit;
  }

  * {
    @include transition;
    opacity: 0;
    pointer-events: none;
  }
}

.delivery-method {
  margin-top: ($u*3);
}

.archived-project-item {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(0,0,0,0.75);

  @include res(40) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  h5 {
    flex: 0 1 50%;
    color: white;
    font-family: $font-display;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;

    span {
      margin-left: 8px;
      color: rgba($color-brand-yellow, 0.75);
      font-weight: 400;
      font-family: $font-default;
      font-size: 16px;
      cursor: pointer;

      img {
        position: relative;
        top: 4px;
        left: 2px;
        transform: rotate(90deg);
        width: 16px;
        opacity: 0.75 !important;
      }

      &:hover {
        color: $color-brand-yellow;

        img {
          opacity: 1 !important;
        }
      }

      &.activate {
        color: $color-brand-yellow;

        img {
          transform: rotate(180deg);
          opacity: 1 !important;
        }
      }
    }
  }

  p {
    flex: 1;
    margin: 8px 0;
    font-family: $font-display;
    font-size: 14px;

    @include res(40) {
      margin: 0 0 0 24px;
    }
  }

  .archived-project-type {
    flex: 2;
  }

  &.header h5, &.header p {
    display: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: rgba($color-base-white, 0.7);

    @include res(40) {
      display: block;
    }
  }
}

.archived-project-item__extras {
  flex: 1 1 100%;
  max-height: 0;
  opacity: 0 !important;
  pointer-events: none !important;

  @include res(40) {
    padding-left: ($u*2);
  }

  p {
    margin: 0 0 16px;
    color: $color-base-white;
    font-family: $font-default;
    font-size: 16px;
    line-height: 1.5;
  }

  &.expand {
    opacity: 1 !important;
    max-height: 500px;
    transition: 0.35s ease-in;
    pointer-events: inherit !important;
  }
}

.archived-project-item__description,
.archived-project-item__expanded-details {
  margin: 16px 0 0;
  flex: 1 1 100%;
}

.archived-project-item__expanded-details {
  display: flex;

  h6 {
    color: $color-base-white;
  }

  div {
    margin-right: 24px;
  }
}
