.development-logo {
    @include transition;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate3d(-50%, -50%, 0);
    width: 200px;
    opacity: 0;
    filter: drop-shadow(0 0 70px $color-base-black);

    .search-result:hover & {
        opacity: 1;
    }
}

.development-intro {
  padding: 0 ($u*2);
  margin-bottom: 84px;
  text-align: center;

  img {
    filter: drop-shadow(0 0 70px $color-base-black);
    margin-bottom: ($u*2);
  }
}

.developments-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  order: 2;
  padding: ($u*2) $u 0;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 calc(50% - #{($u / 2)});
    margin-right: $u;
    margin-bottom: $u;
    padding: 0 0 $u;
    text-decoration: none;
    border-bottom: 1px solid $color-base-off-white;

    &:nth-of-type(even) {
      margin-right: 0;
    }

    &:last-of-type {
      margin-right: 0;
      border-bottom: 0;
    }

    &:hover h5 {
      text-decoration: underline;
    }
  }

  img {
    width: 140px;
    height: 65px;
    object-fit: contain;
    margin-bottom: $u;

    @include res(40) {
      // width: 150px;
      // height: 75px;
    }
  }

  h5 {
    // display: none;
    color: $color-text-default;
    font-weight: 600;
    font-family: $font-display;
    font-size: 14px;
    line-height: 1.125;
    text-align: center;
  }
}

.development-name {
  color: $color-text-default;
}
