

.two-col {
  display: flex;
  flex-direction: column;

  .col--properties {
    position: absolute;
  }

  .col--construction {
    position: absolute;
    transform: translateX(100%);
    pointer-events: none;
  }

  &.slide {
    .col--properties {
      transform: translateX(-100%);
    }

    .col--construction {
      transform: none;
      opacity: 1;
      pointer-events: inherit;
    }
  }

  @include res(48) {
    flex-direction: row;

    .col {
      position: relative;
      flex: 1 0 50%;
    }

    .col--construction {
      transform: none;
      pointer-events: inherit;
    }

    &.slide {
      .col--properties,
      .col--construction {
        transform: none;
      }
    }
  }
}

.badge {
  width: 200px;
  margin-bottom: ($u*2);

  @include res(40) {
    width: 300px;
  }
}

.video-popup,
.request-access {
  position: relative;
  display: inline-block;

  margin: $u $u 0;

  color: $color-base-white;
  font-weight: 700;
  font-family: $font-display;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;

  @include transition;

  span {
    display: flex;
    align-items: center;

    img {
      transform: scale(2);
      height: 10px;
      margin-right: 10px;
    }
  }

  &::after {
    position: relative;

    display: block;

    width: 80%;
    height: 2px;

    margin: ($u*0.75) auto;

    background: $color-brand-yellow;

    content: '';

    @include transition;
  }

  &:hover {
    color: $color-brand-yellow;

    &::before,
    &::after {
      background: $color-brand-yellow;
      width: 100%;
    }
  }
}

.request-access::after {
  background: $color-brand-dark-blue;

  &:hover {
    background: $color-brand-dark-blue;
  }
}
