// News homepage styles
.news-hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include res(48) {
    flex-direction: row;
  }
}

.news-hero-col {
  display: flex;
  flex-direction: column;

  &:first-of-type {
    margin-bottom: ($u*2);
  }

  @include res(48) {

    &:first-of-type {
      flex: 1;
      padding-right: ($u*2);
      margin-bottom: 0;
    }

    &:last-of-type {
      flex: none;
      width: 350px;
      padding-left: ($u*2);
    }
  }
}

.news-sort {
  display: flex;
}

.news-sort-col {

  .filter-list--list-view li {

    color: $color-text-subtle;

    &::before {
      background: rgba($color-text-default, 0.25);
      @include transition;
    }

    &:hover::before {
      background: rgba($color-text-default, 0.5);
    }

    &.active {
      color: $color-brand-yellow;

      &::before {
        background: $color-brand-yellow;
      }
    }
  }
}

.view-archives {
  display: block;

  margin-bottom: $u;

  color: $color-brand-yellow;
  font-size: 18px;
  text-decoration: none;

  &:hover {
    color: $color-brand-yellow;
    text-decoration: underline;
  }
}

.news-search {
  padding-top: ($u*1.5);
  margin-top: ($u*1.5);
  border-top: 2px solid $color-base-light-gray;

  .search__bar {
    display: flex;
    padding: 0;
    border: none;

    span {
      opacity: 0.5;
    }

    input[type="text"] {
      margin-left: 8px;
      background: none;
      color: $color-text-subtle;

      &:hover {
        border-color: rgba($color-text-default, 0.15);
      }

      &:active,
      &:focus {
        border-color: rgba($color-text-default, 0.25);
        color: $color-text-default;
      }
    }
  }
}

.search-button {
  flex: none;

  padding: 0;
  margin-right: ($u/4);

  border: 0;
  background: transparent;

  opacity: 0.5;

  cursor: pointer;

  @include transition;

  &:hover {
    opacity: 1;
  }
}

.news-featured-post {
  display: flex;

  height: 90vh;
  min-height: 600px;

  border-bottom: 2px solid $color-base-white;
  background-size: cover;

  .featured-project {
    // align-self: flex-start;
    flex-direction: column;
    margin-bottom: ($u*4);
    margin-left: auto;
    max-width: 800px;

    h1 {
        width: 100%;
        padding: 0;
        text-align: left;
        margin-bottom: $u;
    }

    .band--yellow {
        padding: $u ($u*2);

        h6 {
            font-size: 12px;
            text-align: left;
        }
    }
  }

  .featured-project__info {
      padding: ($u*2);
  }

  .news-post-excerpt {
    @include typi($body-text-tight);
  }
}

.news-posts-list {
  display: flex;
  flex-wrap: wrap;
  border-right: 2px solid $color-base-white;
  border-left: 2px solid $color-base-white;
}

.news-posts-list__post {
  position: relative;

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 1 1 100%;

  // max-width: 50%;
  height: 400px;

  border: 2px solid $color-base-white;
  background-size: cover;

  text-decoration: none;

  &:hover {
    filter: contrast(1.5);

    .news-posts-list__post-info {
      border-color: $color-brand-yellow;
      background: $color-base-white;
    }
  }

  @include res(40) {
    flex: 0 0 50%;
  }

  @include res(70) {
    flex: 1 1 33.333%;

    max-width: 50%;
    &:nth-of-type(4n) {
      flex: 1 1 66.667%;
      max-width: 66.667%;
    }
  }

}

.news-posts-list__post-info {
  max-width: calc(100% - (#{$u} * 4));

  padding: $u ($u*2);
  margin-bottom: ($u*2);
  margin-left: -4px;

  border: 4px solid transparent;
  background: rgba($color-base-white, 0.8);

  @include transition;

  h2 {
    margin-bottom: ($u/2);

    color: $color-text-default;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.5px;
  }
}

.news-posts-list__post-date {
  color: $color-text-subtle;
  font-family: $font-display;
  font-size: 13px;
  text-transform: uppercase;
}


// News post styles
.news-featured-image {
  height: 400px;
  margin-bottom: ($u*3);
  background-size: cover;
}

.news-post-body {

  .container {
    max-width: 50em;
    margin: ($u*3) auto ($u*6);
  }
}

.news-post-title {
  position: relative;
  color: $color-text-default;
  letter-spacing: -1px;

  &::after {
    position: relative;
    bottom: 0;

    display: block;

    width: 400px;
    max-width: 100%;
    height: 2px;

    margin: ($u*2) 0;

    background: $color-brand-yellow;

    content: '';
  }
}

.news-post-date {
  display: block;

  margin-bottom: ($u*4);

  color: $color-text-default;
  font-weight: 700;
  font-family: $font-display;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.block + .block {
  margin-top: ($u*2);
}

.block__text {

  p {
    margin-top: ($u*2);
    @include typi($body-text-tight);
  }
}

.block__image {

  img {
    display: block;
    line-height: 0;
  }

  &.block__image--left {
    float: left;
    margin-bottom: $u;

    @include res(46) {
      width: 400px;
      max-width: 100%;
      margin-top: 38px;
      margin-right: ($u*2);

      &.image--first {
        margin-top: 6px;
      }
    }

    @include res(65) {
      margin-left: -($u*8);
    }
  }

  &.block__image--right {
    float: right;
    margin-bottom: $u;

    @include res(46) {
      width: 400px;
      max-width: 100%;
      margin-top: 38px;
      margin-left: ($u*2);

      &.image--first {
        margin-top: 6px;
      }
    }

    @include res(65) {
      margin-right: -($u*8);
    }
  }

  &.block__image--full {

    @include res(65) {
      width: calc(100% + #{$u*16});
      margin-left: -($u*8);
    }
  }
}

.block__image-caption {
  padding: ($u/2) 0;
  margin-bottom: $u;
  border-bottom: 1px solid $color-base-off-white;

  color: $color-text-subtle;
  font-weight: 300;
  font-family: $font-display;
  font-size: 14px;

  @include res(45) {
    margin-bottom: 0;
  }
}

.block__blockquote {

  p {
    position: relative;

    display: block;

    font-size: 32px;
    line-height: 1.25;
    text-align: center;

    &::before,
    &::after {
      position: relative;

      display: block;

      width: 400px;
      max-width: 100%;
      height: 2px;

      margin: ($u*2) auto;

      background: $color-brand-yellow;

      content: '';
    }

    &::before {
      margin-top: ($u*3);
    }

    &::after {
      margin-bottom: ($u*3);
    }
  }

  @include res(65) {
    width: calc(100% + #{$u*16});
    margin-left: -($u*8);
  }
}

.related-listings.news-post {
  margin-top: ($u*5);
}

.news-post-navigation {
  display: flex;
  justify-content: space-between;

  padding-top: $u;
  margin-bottom: ($u*3);

  border-top: 2px solid $color-base-off-white;

  a {
    color: $color-text-subtle;
    font-weight: 700;
    font-family: $font-display;
    text-decoration: none;
    text-transform: uppercase;
    @include typi($body-text-button);
  }
}

.news-archive {
  margin: ($u*4) auto;
}

.archive-month {
  margin-bottom: $u*4;

  h3 {
    margin-bottom: ($u/2);
    font-family: $font-default;
  }

  ul {
    margin: 0;
  }

  li {
    margin: 0 0 ($u/2);

    font-family: $font-display;
    font-weight: 700;
    font-size: 18px;
    list-style: none;

    a {
      text-decoration: none;
    }
  }
}

.ajax-load {
  margin: ($u*3) auto;
}

.gallery-preview.news-post-gallery::after {
  z-index: 2;
  background: rgba(0, 0, 0, 0.45);
}

.gallery-preview.news-post-gallery:hover::after {
  background: rgba(0, 0, 0, 0.25);
}
.news-post-gallery .btn {
  position: absolute;
  z-index: 5;
}

#lg-counter,
.lg-sub-html {
  font-family: $font-display;
}
