@media print {

  * {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;
  }

  .nav__icons, .nav, nav, footer, .gallery-preview, .share, .related-listings, .print {
    display: none;
  }

  header {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 1;
    width: 300px;
    height: 100px;
    background: url('https://hampton1.com/images/logos/Hampton-Logo-Horizontal-Color-Reversed.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
  }

  .hero--with-image {
    // float: left;
    // width: 50%;
    height: 350px;
    min-height: 350px;
  }

  .construction-images img {
   display: none;
  }

  .details-box__meta {
    display: flex;
    flex-direction: row;
    div {
      flex: none;
    }
  }
}
