.development-slider {
  flex-direction: column;

  @include res(60) {
    flex-direction: row;
  }
}

.container--inner-50 {
  padding-right: ($u*2);
  padding-left: ($u*2);
  margin-left: auto;
  margin-right: auto;

  @include res(60) {
    max-width: ($container-max-width/2);
    padding-right: ($u*5);
    padding-left: $u;
    margin-left: auto;
    margin-right: 0;
  }
}

.properties-page-intro {
    .full-container {
        align-items: stretch;
    }

    .col-40 {
        padding: 0;
    }
}

.development-image {
  height: 500px;
  order: 2;
  background-color: $color-base-white;

  @include res(60) {
    flex: 1;
    order: 1;
    height: auto;
  }

  // .btn {
  //     position: absolute;
  //     bottom: 0;
  //     width: 100%;
  // }
}

.development-list {
  flex: none;
  padding: ($u*3) ($u);
  background: white;
}

.filter-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  order: 0;

  &::after {
    position: absolute;
    left: 50%;
    bottom: -20px;

    transform: translateX(-50%);

    width: 0;
    height: 0;

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;

    content: '';
  }

  @include res(60) {
    order: 1;

    &::after {
      top: -20px;
      bottom: 0;
      border-top: 0;
      border-bottom: 20px solid white;
    }
  }
}

.filter-list-label {
  padding-bottom: ($u/2);
  margin: ($u/2) $u;

  border-bottom: 2px solid transparent;

  font-size: 18px;
  line-height: 1.25;

  cursor: pointer;

  @include transition;

  &:hover {
    border-color: $color-text-neutral;
  }

  &.active {
    border-color: $color-brand-yellow;
    color: $color-brand-yellow;
  }

  .search__filters & {
    color: $color-text-subtle;
    margin-right: ($u*2);
    margin-left: 0;

    &.active {
      color: $color-brand-yellow
    }
  }
}
