// .block {
//   margin-bottom: ($u*4);
// }

.property-information {
  padding-top: ($u*4);
  padding-bottom: ($u*4);

  h2,
  h3,
  h4 {
    margin-bottom: $u;
    color: $color-text-default;
  }
}

.property-details-table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include res(36) {
    flex-direction: row;
  }
}

.details-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(50% - (#{$u}*4));

  margin-bottom: $u;


  &:nth-of-type(odd) {
    margin-right: ($u*4);
  }

  @include res(50) {
    flex-direction: row;
    margin-bottom: 0;
    border-bottom: 2px solid $color-base-off-white;
  }
}

.details-label {
  flex: 0 0 50%;
  padding: 0 0 ($u/2) 0;

  @include res(50) {
    padding: ($u*1.5) ($u/2) ($u/2) 0;
  }

  h6 {
    position: relative;
    top: 6px;

    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.details-value {
  flex: 0 0 50%;


  @include res(50) {
    border-left: 2px solid $color-base-off-white;
    padding: ($u*1.5) 0 ($u/2) $u;
  }
}


.details-content:nth-child(-n+2) {
  @include res(50) {
    .details-label,
    .details-value {
      padding-top: ($u/2);
    }
  }
}

.space-information {
  padding: ($u*2);
  margin-bottom: ($u*2);
  background: $color-bg-light;
}

.property-highlights {
  margin-bottom: ($u*4);
}

.related-listings {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  h2 {
    width: 100%;
  }
}

.related-listings__listing {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;

  width: 100%;

  margin-bottom: ($u*2);

  color: $color-text-default;
  text-decoration: none;

  &:hover {
    color: $color-text-default;
    text-decoration: none;

    .related-listing-title {
      text-decoration: underline;
    }
  }

  img {
    flex: none;
    width: 100px;
  }

  @include res(36) {
    img {
      width: 200px;
    }
  }

  @include res(56) {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-basis: calc(33.333% - #{$u});
    align-items: flex-start;

    margin-right: ($u*1.5);

    &:last-of-type {
      margin-right: 0;
    }

    img {
      flex: 1;
      width: auto;
    }
  }
}

.related-listings__info {
  padding-left: $u;

  @include res(56) {
    padding-left: 0;
  }
}

.related-listing-title {
  margin: ($u/2) 0 0;

  font-weight: 300;
  font-family: $font-display;
  @include typi($h4-map);
}

.related-listing-subtitle {
  margin-top: 0;

  color: $color-text-subtle;
  font-weight: 300;
  font-family: $font-display;
  font-size: 20px;
}
