.form-fields-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.form-fields-column {
  max-width: 100%;

    @include res(40) {
        flex-basis: calc(50% - 1.5rem);
        flex-grow: 1;
        flex-shrink: 0;

        &:first-of-type {
            margin-right: 3rem;
        }

        .form__row:first-of-type {
            margin-top: 0;
        }
    }

    .form__field {
        line-height: 0;
    }
}


.form__row--checkboxes {
    .form__field {
        display: flex;
        flex-wrap: wrap;
        line-height: inherit;

        div {
            flex: 0 0 50%;

            label {
                margin-left: 6px;
                font-family: $font-default;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 0;
                text-transform: none;
            }
        }
    }
}

p.emphasized {
    color: $color-brand-yellow;
}

.tenant-request-form {
  margin-top: 32px;
}

.tenant-request-form p {
    margin-bottom: ($u * 1.75);

    a {
        color: $color-brand-blue;
    }
}

p.form-tiny-text {
    margin: ($u / 2) 0 $u;
    font-family: $font-display;
    font-size: 11px;
    font-style: italic;
    opacity: 0.75;
}

.form__label label::after {
    content: '(Optional)';
}

.form__label label.required::after {
    content: '*';
}

.resume-upload {
  display: flex;
  align-items: center;
  margin: $u 0;

  img {
    margin-right: ($u/2);
  }

  input[type="file"] {
    color: rgba(255,255,255,0.6);
    font-style: italic;
  }
}

.job-openings {
  display: flex;
  flex-wrap: wrap;
}

.job-popup-trigger {
  flex: none;
  margin-right: 24px;
  text-decoration: none;
  // color: $color-brand-yellow;

  &:hover {
    // color: darken($color-brand-yellow, 10%);
  }

  h4 {
    color: $color-brand-yellow;
  }
}
