.results {
  margin-top: ($u*2);

  &.news {
    margin-bottom: ($u*6);
  }
}


.results-hit {
  padding-top: $u;
  margin-top: $u;
}

p.hit-title {
  @include typi($h3-map);
  margin: 0;
  font-family: $font-display;
  font-weight: 300;
  line-height: 1.125;

  a {
    color: $color-brand-blue;
    text-decoration: none;

    @include transition;

    &:hover {
      text-decoration: underline;
    }

    .results & {
      color: inherit;
    }
  }
}

p.hit-url {
  margin: 0 0 ($u/2);
  color: $color-text-subtle;
  font-family: $font-display;
  font-weight: 700;
  font-size: 14px;
}

p.results__label {
  font-size: 24px;
  color: $color-text-subtle;

  &.news {
    margin-top: $u;
    font-size: 18px;
  }
}

.hit-description,
.hit-description p {
  font-size: 16px;
  color: $color-text-subtle;

  .news & {
    line-height: 1.35;
    color: $color-text-subtle;
  }
}

.hit-date {
  margin: 0 0 ($u/2);

  color: $color-text-default;
  font-family: $font-display;
  font-size: 12px;
  text-transform: uppercase;
}

.news-search-page {
  padding-top: ($u*10);
  padding-bottom: ($u*4);

  @include res(36) {
    padding-top: ($u*12);
  }

  .search__bar {
    border: 0;

    input[type="text"] {
      max-width: 400px;
      border-bottom: 2px solid $color-base-light-gray;
      background: transparent;
      color: $color-base-white;
      font-family: $font-display;
      font-weight: 300;
      font-size: 24px;
    }
  }
}
