$breakpoints: () !default;
$typi: (null: (16px, 1.5)) !default;
$typi-ms: false !default;
$typi-breakpoint: null !default;

@import 'ty/mixins';
@import 'ty/functions';
@import 'typi/typi';



$breakpoints: (
  small: 40em,
  large: 60em,
  xlarge: 80em
);

$typi: (
  null: 16px,
  small: 17px,
  large: 18px,
  xlarge: 20px
);


$h1-map: (
  null: (48px, 1, 0),
  small: (56px, 1, 0),
  large: (64px, 1, 0)
);

$h2-map: (
  null: (30px, 1.125, 0),
  large: (42px, 1.125, 0)
);

$h3-map: (
  null: (24px, 1.25, 0),
  large: (28px, 1.25, 0)
);

$h4-map: (
  null: (20px, 1.5, 0),
  large: (24px, 1.25, 0)
);

$h5-map: (
  null: (16px, 1.5, 0),
  large: (20px, 1.5, 0)
);

$h6-map: (
  null: (14px, 1.5, 0),
);

$body-text-large: (
  null: (26px, 1.5, 0)
);

$body-text-normal: (
  null: (20px, 1.5, 0)
);

$body-text-tight: (
  null: (20px, 1.35, 0)
);

$body-text-button: (
  null: (13px, 1, 2px)
);
