{% extends 'amforms/_layouts/cp' %}

{% set fullPageForm = true %}

{% import '_includes/forms' as forms %}

{% set title = 'Edit submission'|t %}

{% set crumbs = [
    { label: craft.amForms.name, url: url('amforms') },
    { label: 'Submissions'|t, url: url('amforms/submissions') }
] %}

{% set userElementType = craft.elements.getElementType('User') %}

{% if namespace is not defined %}{% set namespace = 'fields' %}{% endif %}

{% block saveButton %}
    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">

        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                {% if currentUser.can('accessAmFormsExports') -%}
                    <li>
                        <a class="formsubmit" data-action="amForms/exports/exportSubmission" data-confirm="{{ "Are you sure you want to export this submission and all of it's data?"|t }}" data-redirect="amforms/exports">{{ 'Export'|t }}</a>
                    </li>
                {% endif %}
                <li>
                    <a class="formsubmit error" data-action="amForms/submissions/deleteSubmission" data-confirm="{{ "Are you sure you want to delete this submission and all of it's data?"|t }}" data-redirect="amforms/submissions">{{ 'Delete'|t }}</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <input type="hidden" name="action" value="amForms/submissions/saveSubmission">
    <input type="hidden" name="handle" value="{{ form.handle }}">
    <input type="hidden" name="submissionId" value="{{ submissionId }}">
    <input type="hidden" name="redirect" value="amforms/submissions/edit/{id}">

    <div class="grid first">
        <div class="item first" data-position="left" data-min-colspan="2" data-max-colspan="3">
            <div id="fields" class="pane">
                {% include "_includes/tabs" %}

                {% for tab in layoutTabs -%}
                    {% set fields = tab.getFields() -%}

                    <div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
                        {% namespace namespace %}
                            {% for field in fields %}
                                {% include "_includes/field" with {
                                    field: field.getField(),
                                    required: field.required,
                                    element: submission,
                                    static: null
                                } only %}
                            {% endfor %}
                        {% endnamespace %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="item" data-position="right" data-colspan="1">
            <div class="pane meta">
                {{ forms.elementSelectField({
                    label: 'Author'|t,
                    id: 'authorId',
                    name: 'authorId',
                    elementType: userElementType,
                    addButtonLabel: 'Select a user'|t,
                    limit: 1,
                    errors: submission.getErrors('authorId'),
                }) }}
            </div>

            <div class="pane lightpane meta">
                <div class="data">
                    <h5 class="heading">{{ "Date Created"|t }}</h5>
                    <div class="value">{{ submission.dateCreated.localeDate() }} {{ submission.dateCreated.localeTime() }}</div>
                </div>
                <div class="data">
                    <h5 class="heading">{{ "Date Updated"|t }}</h5>
                    <div class="value">{{ submission.dateUpdated.localeDate() }} {{ submission.dateUpdated.localeTime() }}</div>
                </div>
                <div class="data">
                    <h5 class="heading">{{ "Form name"|t }}</h5>
                    <div class="value">{{ form.name }}</div>
                </div>
                <div class="data">
                    <h5 class="heading">{{ "Submitted from"|t }}</h5>
                    <div class="value">{{ submission.submittedFrom }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
