{% extends "_base" %}
{% set title = 'News' %}
{% set query = craft.request.getParam('q') ?? null %}

{% import '_includes/_macros' as icon %}
{% block stylesheets %}

{% endblock %}

{% block content %}

{% cache globally using key craft.request.path %}

<section class="padding-top-2xl">
  <div class="container env-light">
    <a href="/news" class="btn btn--yellow btn--no-border btn--with-icon btn--faded">{{ icon.variation('left', 'white') }} Return to News Home Page</a>
    <h1>News Archives</h1>
  </div>
</section>

<section class="news-archive container">
  {% set allEntries = craft.entries.section('news').limit(null) %}
  {% for date, entries in allEntries | group("postDate|date('F Y')") %}
  <div class="archive-month">
    <h3>{{ date }}</h3>
    <ul>
      {% for entry in entries %}
        <li>{{ entry.getLink() }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</section>

{% endcache %}


{% endblock %}

{% block scripts %}
{% endblock %}
