{% extends "_base" %}

{% import '_includes/_macros' as icon %}

{% block stylesheets %}
{% endblock %}

{% block content %}

{% cache globally using key craft.request.path %}
{% set featuredImage = entry.featuredImage[0] ?? null %}
{% set featuredImageTransformed = craft.imager.transformImage(featuredImage, {
  interlace: true,
  width: '2400',
  }) %}
{% set companies = entry.communityInvolvementCompanies %}

  <section style="background-image: url('{{ featuredImageTransformed.url }}'); background-position: {{ featuredImage.focusPctX }}% {{ featuredImage.focusPctY }}%" id="scroll">
    <div class="gradient-radial-blue-sheer padding-top-xl padding-bottom-xl">
      <div class="container">
        <h2 class="size-mega line-underneath">{{ entry.title }}</h2>
        <p class="community-quote">{{ entry.testimonialQuote }}</p>
        <p class="community-quote-author">&mdash;Joe Hampton</p>
        {{ entry.richText }}
      </div>
    </div>
  </section>

  <section class="v-padding-large">
    <div class="container community-involvement-grid">
      {% for company in companies.with('companyLogo') %}
      {% set logo = company.companyLogo[0] ?? null %}
      {% if logo %}
        {% set logoTransformed = craft.imager.transformImage(logo, {
        width: 300,
        mode: 'fit',
        }) %}
      {% endif %}
        <a class="company" href="{{ company.companyWebsiteUrl }}" target="_blank">
          <div class="company-logo"{% if logo %}style="background-image: url({{ logoTransformed.url }})"{% endif %}></div>
          <h4>{{ company.companyName }}</h4>
        </a>
      {% endfor %}
    </div>
  </section>

{% endcache %}

{% endblock %}

{% block scripts %}

{% endblock %}
