{% extends "_base" %}

{% import '_includes/_macros' as icon %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.3/dist/css/lightgallery.min.css">
{% endblock %}

{% block content %}

{% cache globally using key craft.request.path %}
{% set featuredImage = entry.featuredImage[0] ?? null %}
{% set featuredImageTransformed = craft.imager.transformImage(featuredImage, {
  interlace: true,
  width: '2400',
  }) %}

{% if entry.projectPageFeaturedImages is not empty %}
    {% set galleryPreviewImage = entry.projectPageFeaturedImages.first %}
    {% set galleryPreviewImageTransformed = craft.imager.transformImage(galleryPreviewImage, {
      width: 1200,
      ratio: '4:3',
      mode: 'crop',
      position: galleryPreviewImage.focusPctX ~ '% ' ~ galleryPreviewImage.focusPctY ~ '%'
      }) %}
{% endif %}
{% set testimonial = craft.entries.section('testimonials').relatedTo(entry).first %}

<section class="hero hero--with-image hero--construction-project flex-ai-start lazyload" style="background-position: {{ featuredImage.focusPctX }}% {{ featuredImage.focusPctY }}%" data-bg="{{ featuredImageTransformed.url }}">
  <a href="#scroll" class="hero-arrow-icon">{{ icon.variation('down', 'white') }}</a>
</section>

<section id="scroll" class="construction-details">
  <div class="details-box">
    <div class="details-box__meta">
      <div>
        <h6>Location</h6>
        <p>{{ entry.location }}</p>
      </div>

      {% if entry.size|length %}
      <div>
        <h6>Size</h6>
        <p>{{ entry.size }}</p>
      </div>
      {% endif %}

      <div>
        <h6>Type</h6>
        <p>{% for type in entry.constructionProjectType %}
        {{ type.title }}{% if not loop.last %}, {% endif %}
        {% endfor %}</p>
      </div>

      {% if entry.dateOfCompletion %}
      <div>
        <h6>Completion Date</h6>
        <p>{{ entry.dateOfCompletion|date('F Y') }}</p>
      </div>
      {% endif %}

      {% if entry.constructionProjectTags is not empty %}
      <div>
          <h6>Tags</h6>
          <p>{% for tag in entry.constructionProjectTags %}<a href="/construction/tags/{{ tag.slug }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>
      </div>
      {% endif %}

      {% if entry.constructionProjectDeliveryMethod.first %}
      <div>
          <h6>Delivery Method</h6>
          <p>{{ entry.constructionProjectDeliveryMethod.first }}</p>
      </div>
      {% endif %}

    </div>

    <div class="details-box__description">
      <h1 class="color-text-default">{{ entry.title }}</h1>
      <p>{{ entry.descriptionOverview }}</p>
      <a class="btn btn--no-border btn--with-icon btn--gray print" href="#"> {{ icon.variation('PDF', 'grey') }} View Print-Friendly Version</a>

      {% if testimonial %}
      {% set author = testimonial.quoteAuthor %}
        <div class="project-testimonial">
            <p class="project-testimonial-quote">{{ testimonial.testimonialQuote }}</p>
            <p class="project-testimonial-author">{{ author.authorName }}, {{ author.titlePosition }}</p>
        </div>
      {% endif %}
    </div>

  </div>

  {% if entry.projectPageFeaturedImages is not empty %}
  <a class="gallery-preview {% if entry.imageGalleryConstruction is empty %}no-gallery {% endif %}flexed-default flex-ai-center flex-jc-center lazyload" style="background-position: {{ galleryPreviewImage.focusPctX }}% {{ galleryPreviewImage.focusPctY }}%" data-bg="{{ galleryPreviewImageTransformed.url }}">
    {% if entry.imageGalleryConstruction is not empty %}
      <div class="btn btn--no-border btn--with-icon btn--white">{{ icon.variation('gallery', 'white') }}View Photo Gallery</div>
      <div class="btn btn--yellow btn--with-icon btn--round" style="position: fixed; bottom: 24px; right: 24px; padding: 10px 20px; font-size: 12px; letter-spacing: 1px">
        <img src="/images/icons/Gallery/Yellow.svg" alt="Gallery Icon" style="width: 18px; height: 18px; margin-right: 8px;">
        View Photo Gallery
      </div>
    {% endif %}
  </a>
  {% endif %}
</section>

<section class="construction-images">
  {% for i in entry.projectPageFeaturedImages.offset(1) %}
  {% set iTransformed = craft.imager.transformImage(i, {
    interlace: true,
    width: '2400',
    allowUpscale: 'false'
    }) %}
  <img class="lazyload" data-src="{{ iTransformed.url }}" style="background-position: {{ i.focusPctX }}% {{ i.focusPctY }}%" alt="{{ i.title }}">
  {% endfor %}
</section>

<section class="share">
  <div class="container">
    <h6>Share This Project</h6>

    {# <div class="share-icons">
      <a href="https://www.facebook.com/sharer.php?u={{ entry.url|url_encode }}">{{ icon.variation('social', 'facebook') }}</a>
      <a href="https://twitter.com/intent/tweet?text={{ entry.title|url_encode }}%20-%20{{ entry.descriptionOverview|hacksaw(hack='characters', limit='60', append='...')|url_encode }}&url={{ entry.url|url_encode }}" target="_blank">{{ icon.variation('social', 'twitter') }}</a>
      <a href="#">{{ icon.variation('social', 'email') }}</a>
    </div> #}

    <div class="share-icons">
      <a href="https://www.facebook.com/sharer.php?u={{ entry.url|url_encode }}">{{ icon.variation('facebook', 'grey') }}</a>
      <a href="https://twitter.com/intent/tweet?text={{ entry.title|url_encode }}%20-%20{{ entry.descriptionOverview|hacksaw(hack='characters', limit='60', append='...')|url_encode }}&url={{ entry.url|url_encode }}" target="_blank">{{ icon.variation('twitter', 'grey') }}</a>
      <a href="mailto:?subject={{ entry.title|url_encode }}%20-%20Hampton%20Construction%20Project">{{ icon.variation('email', 'grey') }}</a>
    </div>

  </div>
</section>

<section class="related-listings container">
  <h2 class="color-text-default mb-default">View Similar Projects</h2>

  {% set ids = entry.constructionProjectTags.ids() | merge(entry.constructionProjectType.ids()) %}
  {% set limitCriteria = craft.entries.section('construction').limit(3).status('live') %}
  {% set organicRelatedEntries = craft.similar.find({ element: entry, context: ids, criteria: limitCriteria }) %}
  {% for project in organicRelatedEntries %}
  {% set projectImage = project.featuredImage[0] ?? null %}
  {% if projectImage %}
    {% set transformedImage = craft.imager.transformImage(projectImage, {
      width: 800,
      height: 800,
      mode: 'crop',
      position: projectImage.focusPctX ~ '% ' ~ projectImage.focusPctY ~ '%'
    }) %}
  {% endif %}
  <a href="{{ project.url }}" class="related-listings__listing">
    <img class="lazyload" data-src="{{ transformedImage.url }}" alt="{{ project.title }} Thumbnail Image">
    <div class="related-listings__info">
      <p class="related-listing-title">{{ project.title }}</p>
      <p class="related-listing-subtitle">{{ project.location }}</p>
    </div>
  </a>
  {% endfor %}
</section>

{% endcache %}

{% endblock %}

{% block scripts %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lightgallery@1.2.4/dist/js/lightgallery.min.js"></script><script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lightgallery@1.2.4/dist/js/lg-thumbnail.min.js"></script>
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>


<script type="text/javascript">
$(document).ready(function() {
  $('.gallery-preview').on('click', function() {
    $(this).lightGallery({
      dynamic: true,
      dynamicEl: [
        {% for i in entry.imageGalleryConstruction %}
        {% set transformedImage = craft.imager.transformImage(i, { width: 2000, allowUpscale: false, interlace: true }) %}
        {% set transformedThumb = craft.imager.transformImage(i, { width: 200, allowUpscale: false, interlace: true }) %}
        {
        'src': '{{ transformedImage.url }}',
        'thumb': '{{ transformedThumb.url }}',
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
    })
  });

  $('.print').click(function() {
    window.print();
  })
});
</script>
{% endblock %}
