{% extends "_base" %}

{% import '_includes/_macros' as icon %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css"/>
<link rel="stylesheet" href="/external/styles/YouTubePopUp.css">
<style>
  .logo--wordmark { display: none }
</style>
{% endblock %}

{% block content %}
{% set allProjects = craft.entries.section('construction').archiveThisProject('not 1').with(['featuredImage','constructionProjectType','constructionProjectTags','constructionProjectDeliveryMethod']) %}
{% set projects = shuffle(allProjects) %}

{% cache globally using key craft.request.path ~ '-top' %}

{% set featuredImage = entry.featuredImage[0] ?? null %}
{% set featuredImageTransformed = craft.imager.transformImage(featuredImage, {
  interlace: true,
  width: '2400',
}) %}

<div class="page-with-sidebar">

  <div class="sticky-nav-internal">
    <div class="sticky-nav-container">
      {% if entry.homePageVideoLinkUrl|length %}
        <a href="{{ entry.homePageVideoLinkUrl }}"class="btn btn--no-border btn--with-icon btn--white video">Message from Scott Lockard</a>
      {% endif %}
      <a class="btn btn--no-border btn--with-icon btn--white" href="#projects">Projects</a>
      <a class="btn btn--no-border btn--with-icon btn--white services-popup-trigger" href="#">Our Services</a>
      <a class="btn btn--no-border btn--with-icon btn--white" href="#testimonials">Testimonials</a>
    </div>
  </div>

  <div class="right-side-body">
    <section style="background-image: url('{{ featuredImageTransformed.url }}'); background-position: {{ featuredImage.focusPctX }}% {{ featuredImage.focusPctY }}%" id="scroll" class="construction-home-intro">
      <div class="full-container">
        <div class="col-60">
          <div class="container--inner-60">
            <h6 style="font-size: 15px; margin-bottom: 16px;">Creating Relationships That Build and Improve Communities</h6>
            <h2 class="size-mega color-text-default">Commercial Construction</h2>
            <div class="company-tagline line-underneath">Because Relationships Really Do Matter.</div>
            {{ entry.descriptionOverview }}
            {# {% if entry.homePageVideoLinkUrl|length %}
            <div style="margin-top: 24px">
              <a href="{{ entry.homePageVideoLinkUrl }}"class="btn btn--no-border btn--with-icon btn--yellow video">{{ icon.variation('play', 'yellow') }} Message from Scott Lockard</a>
            </div>
            {% endif %}
            <div style="margin-top: 32px">
              <a class="btn btn--no-border btn--with-icon btn--yellow" href="#projects"> {{ icon.variation('project', 'yellow') }} Projects</a>
            </div>
            <div>
              <a class="btn btn--no-border btn--with-icon btn--yellow services-popup-trigger" href="#"> {{ icon.variation('listview', 'yellow') }} Our Services</a>
            </div>
            <div>
              <a class="btn btn--no-border btn--with-icon btn--yellow" href="#testimonials"> {{ icon.variation('message', 'yellow') }} View Testimonials</a>
            </div> #}
          </div>
        </div>
        <div class="col-40">
          {# <div class="container--inner-40">
            <div>
              <a class="btn btn--no-border btn--with-icon btn--white" href="#projects"> {{ icon.variation('project', 'white') }} Projects</a>
            </div>
            <div>
              <a class="btn btn--no-border btn--with-icon btn--white services-popup-trigger" href="#"> {{ icon.variation('listview', 'white') }} Our Services</a>
            </div>
            <div>
              <a class="btn btn--no-border btn--with-icon btn--white" href="#testimonials"> {{ icon.variation('message', 'white') }} View Testimonials</a>
            </div>
          </div> #}
        </div>

        <div class="popup services-popup env-light">
          <div class="container v-padding-large">
            <a href="#" class="close-button btn btn--grey btn--with-icon btn--no-border">{{ icon.variation('x', 'grey') }} Close</a>
            <h2 style="margin-bottom: 16px">Our Services</h2>
            <div class="intro">{{ deliveryMethods.simpleRichText }}</div>
            {% for method in deliveryMethods.deliveryMethods %}
            <div class="delivery-method">
              <h3 class="delivery-toggle color-text-yellow" style="margin-bottom: 8px">{{ method.deliveryMethodName }}</h3>
              <div>{{ method.deliveryMethodDescription }}</div>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="popup archive-popup env-dark">
          <div class="container v-padding-large ">
            <a href="#" class="close-button btn btn--white btn--with-icon btn--no-border">{{ icon.variation('x', 'white') }} Close</a>
            <div class="intro" style="margin-bottom: 32px;"><h2>Project Archive</h2></div>
            {% set archivedCurrentProjects = craft.entries.section('construction').archiveThisProject('1').find() %}
            {% set archivedOldProjects = craft.entries.section('constructionArchive').find() %}
            {% set archivedProjects = archivedCurrentProjects|merge(archivedOldProjects) %}
            {% set projectCategories = craft.categories.group('constructionProjectType') %}

            {# {% for category in projectCategories %} #}
            {# {% set relatedProjects = archivedProjects.relatedTo(category) %} #}
              <div class="archived-project-item header">
                <h5>Project Name</h5>
                <p class="archived-project-location">Location</p>
                <p class="archived-project-type">Project Type</p>
              </div>
              {% for project in archivedProjects|supersort('sortAs', '{constructionProjectType.first}') %}
              <div class="archived-project-item">
                <h5>{{ project.title }}{% if project.type == 'construction' %} <span class="more-project-info">More Details <img src="/images/icons/Up/Yellow.svg"></span>{% endif %}</h5>
                <p class="archived-project-location">{{ project.location }}</p>
                <p class="archived-project-type">{% for type in project.constructionProjectType %}{{ type }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
                {% if project.type == 'construction' %}
                <div class="archived-project-item__extras">
                  <div class="archived-project-item__description">
                    {{ project.descriptionOverview }}
                  </div>
                  <div class="archived-project-item__expanded-details">
                    {% if project.size|length %}
                      <div>
                        <h6>Square Footage</h6>
                        <p>{{ project.size }}</p>
                      </div>
                    {% endif %}
                    {% if project.dateOfCompletion %}
                      <div>
                        <h6>Completion Date</h6>
                        <p>{{ project.dateOfCompletion|date('F Y') }}</p>
                      </div>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
              </div>
              {% endfor %}
            {# {% endfor %} #}
          </div>
        </div>
      </div>

      {% if entry.richText|length %}
        <div class="blurb">
          <div class="copy-block">
            {{ entry.richText }}
          </div>
        </div>
      {% endif %}

      {# <div class="arrow-container arrow-container-construction">
        <a class="hero-arrow-icon" href="#jump">{{ icon.variation('down', 'white') }}</a>
      </div> #}

    </section>

    <section class="search search--construction" id="jump">

      <div class="search__header band--yellow-red band--large">
        <div class="container container--alt flexed-row">
          <h2 class="size-mega" id="projects">Project Gallery</h2>
          {# <a href="#" class="btn btn--white btn--no-border btn--with-icon archive-popup-trigger">{{ icon.variation('workorder', 'white') }} View Project Archive</a> #}
        </div>
      </div>

      <div class="search-form--construction">
        <div class="container container--alt">

          <div class="search-form-column column--search">
            <p class="label-button-style mb-small">Search</p>
            <div class="search__bar">
              <span class="search-button">{{ icon.variation('search', 'grey') }}</span>
              <input type="text" class="search-string" placeholder="Search Projects">
            </div>
          </div>

          <div class="search-form-column column--type">
            <p class="label-button-style mb-small">Filter by Industry</p>
            <div class="search-form-dropdown">
              <select class="js-filter-type" name="type">
                <option value="all-types">All Types</option>
                {% for category in craft.categories.group('constructionProjectType') %}
                <option value="{{ category.slug }}">{{ category.title }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="search-form-column column--tag">
            <p class="label-button-style mb-small">Filter by Tag</p>
            <div class="search-form-dropdown">
              <select class="js-filter-tag" name="tag">
                <option value="all-tags">All Tags</option>
                {% for tag in craft.tags.group('constructionProjectTags') %}
                <option value="{{ tag.slug }}">{{ tag.title }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="search-form-column column--delivery-method">
            <p class="label-button-style mb-small">Filter by Delivery Method</p>
            <div class="search-form-dropdown">
              <select class="js-filter-method" name="method">
                <option value="all-methods">All Methods</option>
                {% for method in craft.categories.group('deliveryMethod') %}
                <option value="{{ method.slug }}">{{ method.title }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="search-form-toggles">
            <span class="toggle--grid active">{{ icon.variation('gallery', 'yellow') }}</span>
            <span class="toggle--list">{{ icon.variation('listview', 'yellow') }}</span>
          </div>

        </div>

      </div>
    </section>

    <section class="search-results-wrapper grid-view">
      <div class="search-results__table-header container">
        <div class="title-cell">Project</div>
        <div class="location-cell">Location</div>
        <div class="description-cell">Description</div>
        <div class="type-cell">Type</div>
        <div class="tag-cell">Tag</div>
      </div>

    {% endcache %}


      {% for project in projects %}
      {% cache globally using key 'project-' ~ project.title %}
      {% set featuredImage = project.featuredImage[0] ?? null %}
      {% set transformedImage = craft.imager.transformImage(featuredImage, {
        width: 1500,
        ratio: 4/3,
        position: featuredImage.focusPctX ~ '% ' ~ featuredImage.focusPctY ~ '%',
      }) %}

      <a href="{{ project.url }}" class="search-result image-as-link lazyload" data-bg="{{ transformedImage.url }}" style="background-position: {{ featuredImage.focusPctX }}% {{ featuredImage.focusPctY }}%" data-types="{% for type in project.constructionProjectType %}{{ type.slug }} {% endfor %}all-types" data-tags="{% for tag in project.constructionProjectTags %}{{ tag.slug }} {% endfor %}all-tags" data-methods="{{ project.constructionProjectDeliveryMethod[0].slug ?? null }} all-methods" data-title="{{ project.title }}">
        <div class="search-result__info">
          <p class="title-cell search-result__title">{{ project.title }}</p>
          <p class="location-cell search-result__location">{{ project.location }}</p>
          <div class="description-cell search-result__description">{{ project.descriptionOverview|hacksaw(hack='words', limit='15', allow='<a><p><strong>', append='...') }}</div>
            <div class="type-cell search-result__project-type">{% for type in project.constructionProjectType %}
              {{ type.title }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
              <div class="tag-cell search-result__tags">{% for tag in project.constructionProjectTags %}{{ tag.title }}{% if not loop.last %}, {% endif %}{% endfor %}</div>

            </div>
          </a>
          {% endcache %}
          {% endfor %}

      <div class="container ajax-load centered" style="position: relative;">
        <a class="btn btn--round btn--gray btn--small" id="loadLabel">Show More</a>
      </div>

      </section>


    {# Testiomnials slider include #}
    {% include '_includes/_testimonials' %}
  </div>
</div>

    {% endblock %}

    {% block scripts %}
    <script src="/external/js/youtube.js"></script>

    <script>
    $(document).ready(function() {
      items = $('.search-result').length;
      x=4;
      $('.search-result').hide();
      $('.search-result:lt('+x+')').show();
      $('#loadLabel').click(function () {
          x= (x+4 <= items) ? x+4 : items;
          $('.search-result:lt('+x+')').show();
          if (x >= items) {
            $(this).hide();
          }
      });

      $('.services-popup-trigger').click(function() {
        $('.services-popup').addClass('active');
        $('body').addClass('overflow');
      });

      $('.archive-popup-trigger').click(function() {
        $('.archive-popup').addClass('active');
        $('body').addClass('overflow');
      });

      $('.archived-project-item h5 span').click(function() {
        $(this).toggleClass('activate');
        $(this).parents('.archived-project-item').find('.archived-project-item__extras').toggleClass('expand');
      })

      $('.close-button').click(function() {
        $('.popup').removeClass('active');
        $('body').removeClass('overflow');
      })

      $('.delivery-toggle').click(function() {
        $(this).toggleClass('expand');
        $(this).next('div').toggleClass('expand');
      })

      $('.toggle--grid').click(function() {
        $('.search-form-toggles span').removeClass('active');
        $(this).addClass('active');
        $('.search-results-wrapper').removeClass('list-view');
        $('.search-results-wrapper').addClass('grid-view');
      })

      $('.toggle--list').click(function() {
        $('.search-form-toggles span').removeClass('active');
        $(this).addClass('active');
        $('.search-results-wrapper').removeClass('grid-view');
        $('.search-results-wrapper').addClass('list-view');
      })


      $.extend($.expr[":"], {
        "containsIN": function(elem, i, match, array) {
          return (elem.textContent || elem.innerText || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
        }
      });


      $('.search-button').click(function() {
        $("#loadLabel").hide();
        var searchstring = $('.search-string').val();
        var typeFilter = $('.js-filter-type').val();
        var tagFilter = $('.js-filter-tag').val();
        var methodFilter = $('.js-filter-method').val();
        if (searchstring.length === 0) {
          $('.search-result').show();
          $('.search-result[data-types*="'+typeFilter+'"][data-tags*="'+tagFilter+'"][data-methods*="'+methodFilter+'"]').show();
        } else {
          $('.search-result').hide();
          $('.search-result[data-title]:containsIN("' + searchstring + '")[data-types*="'+typeFilter+'"][data-tags*="'+tagFilter+'"][data-methods*="'+methodFilter+'"]').show();
        }
      });

      $(".search-string").on('keyup', function(e) {
        if (e.keyCode == 13) {
          $("#loadLabel").hide();
          var searchstring = $('.search-string').val();
          var typeFilter = $('.js-filter-type').val();
          var tagFilter = $('.js-filter-tag').val();
          var methodFilter = $('.js-filter-method').val();
          if (searchstring.length === 0) {
            $('.search-result').hide();
            $('.search-result[data-types*="'+typeFilter+'"][data-tags*="'+tagFilter+'"][data-methods*="'+methodFilter+'"]').show();
          } else {
            $("#loadLabel").hide();
            $('.search-result').hide();
            $('.search-result[data-title]:containsIN("' + searchstring + '")[data-types*="'+typeFilter+'"][data-tags*="'+tagFilter+'"][data-methods*="'+methodFilter+'"]').show();
          }
        }
      });

      $('.js-filter-type').change(function() {
        $("#loadLabel").hide();
        var searchstring = $('.search-string').val();
        var tagFilter = $('.js-filter-tag').val();
        var methodFilter = $('.js-filter-method').val();
        var typeFilter = $(this).val();
        if (searchstring.length === 0) {
          $('.search-result').hide();
          $('.search-result[data-types*="'+typeFilter+'"][data-tags*="'+tagFilter+'"][data-methods*="'+methodFilter+'"]').show();
        } else {
          $('.search-result').hide();
          $('.search-result[data-title]:containsIN("' + searchstring + '")[data-types*="'+typeFilter+'"][data-tags*="'+tagFilter+'"][data-methods*="'+methodFilter+'"]').show();
        }
      });


      $('.js-filter-tag').change(function() {
        $("#loadLabel").hide();
        var searchstring = $('.search-string').val();
        var typeFilter = $('.js-filter-type').val();
        var methodFilter = $('.js-filter-method').val();
        var tagFilter = $(this).val();
        if (searchstring.length === 0) {
          $('.search-result').hide();
          $('.search-result[data-types*="'+typeFilter+'"][data-tags*="'+tagFilter+'"][data-methods*="'+methodFilter+'"]').show();
        } else {
          $('.search-result').hide();
          $('.search-result[data-title]:containsIN("' + searchstring + '")[data-types*="'+typeFilter+'"][data-tags*="'+tagFilter+'"][data-methods*="'+methodFilter+'"]').show();
        }
      });

      $('.js-filter-method').change(function() {
        $("#loadLabel").hide();
        var searchstring = $('.search-string').val();
        var typeFilter = $('.js-filter-type').val();
        var tagFilter = $('.js-filter-tag').val();
        var methodFilter = $(this).val();
        if (searchstring.length === 0) {
          $('.search-result').hide();
          $('.search-result[data-types*="'+typeFilter+'"][data-tags*="'+tagFilter+'"][data-methods*="'+methodFilter+'"]').show();
        } else {
          $('.search-result').hide();
          $('.search-result[data-title]:containsIN("' + searchstring + '")[data-types*="'+typeFilter+'"][data-tags*="'+tagFilter+'"][data-methods*="'+methodFilter+'"]').show();
        }
      });
      $(".video").YouTubePopUp();


    });
  </script>

  {% endblock %}
