{% extends "_base" %}
{% set tag = craft.tags.group('constructionProjectTags').slug(tag).first() %}
{% set title = 'Projects tagged with ' ~ tag.title %}

{% block stylesheets %}
<style>
body {
  min-height: 100vh;
}
</style>
{% endblock %}

{% block content %}

{% cache globally using key craft.request.path %}
{% set tagEntries = craft.entries.section('construction').with(['featuredImage','projectLogo']).relatedTo(tag) %}

<section class="padding-top-2xl">
  <div class="container flexed-default flex-ai-center flex-jc-center env-light">
    <h1>{{ tag.title }} Construction Projects</h1>
  </div>
</section>

<section class="search-results-wrapper grid-view">
  {% for project in tagEntries %}
  {% set featuredImage = project.featuredImage[0] ?? null %}
  {% set transformedImage = craft.imager.transformImage(featuredImage, {
    width: 1500,
    ratio: 4/3,
    position: featuredImage.focusPctX ~ '% ' ~ featuredImage.focusPctY ~ '%',
    }) %}

  <a href="{{ project.url }}" class="search-result image-as-link lazyload" data-bg="{{ transformedImage.url }}" style="background-position: {{ featuredImage.focusPctX }}% {{ featuredImage.focusPctY }}%" data-types="{% for type in project.constructionProjectType %}{{ type.slug }} {% endfor %}all-types" data-tags="{% for tag in project.constructionProjectTags %}{{ tag.slug }} {% endfor %}all-tags" data-methods="{{ project.constructionProjectDeliveryMethod[0].slug ?? null }} all-methods" data-title="{{ project.title }}">
    <div class="search-result__info">
      <p class="title-cell search-result__title">{{ project.title }}</p>
    </div>
  </a>

  {% endfor %}

</section>

{% endcache %}



{% endblock %}

{% block scripts %}
{% endblock %}
