{% extends "_base" %}
{% set title = 'Thanks for your interest in a career at Hampton.' %}
{% import '_includes/_macros' as icon %}

{% block stylesheets %}
<style>
body {
  min-height: 100vh;
}
</style>
{% endblock %}

{% block content %}

<section class="padding-top-xl">
  <div class="container flexed-default flex-ai-center flex-jc-center env-light centered">
    <h1 style="margin-bottom: 32px">Thanks!</h1>
    <p>Thanks for your interest in a career at Hampton&mdash;we've received your resume and will be in contact with you soon.</p>
    <p><a href="/">Click here</a> to return to the homepage.</p>
  </div>
</section>

{% endblock %}

{% block scripts %}
{% endblock %}
