{% extends "_base" %}

{% import '_includes/_macros' as icon %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.3/dist/css/lightgallery.min.css">
{% endblock %}

{% block content %}

{% cache globally using key craft.request.path %}
{% set featuredImage = entry.featuredImage[0] ?? null %}
{% set galleryPreviewImage = entry.developmentFeaturedImages.first %}
{% set galleryPreviewImageTransformed = craft.imager.transformImage(galleryPreviewImage, {
  width: 1200,
  ratio: '4:3',
  mode: 'crop',
  position: galleryPreviewImage.focusPctX ~ '% ' ~ galleryPreviewImage.focusPctY ~ '%'
  }) %}
{% set featuredImageTransformed = craft.imager.transformImage(featuredImage, {
  interlace: true,
  width: '2400',
  }) %}

<section class="hero hero--with-image hero--construction-project flex-ai-center flex-jc-end centered lazyload" style="background-position: {{ featuredImage.focusPctX }}% {{ featuredImage.focusPctY }}%" data-bg="{{ featuredImageTransformed.url }}">
  <a href="#scroll" class="hero-arrow-icon">{{ icon.variation('down', 'white') }}</a>
  <div class="development-intro">
    <img src="{{ entry.developmentLogoWhite.first.url }}" width="400">
    {# <h1 class="development-name text-shadow-dark h-padding">{{ entry.title }}</h1> #}
  </div>
</section>

<section id="scroll" class="construction-details">
  <div class="details-box">
    <div class="details-box__description">
      <h1 class="development-name">{{ entry.title }}</h1>

      {# <img src="{{ entry.developmentLogo.first.url }}" width="250" style="margin-bottom: 16px;"> #}
      <p>{{ entry.descriptionOverview }}</p>
      <a href="/properties#listings" class="btn btn--no-border btn--with-icon btn--gray">{{ icon.variation('search', 'grey') }} Search Properties</a>
    </div>
  </div>

  <a class="gallery-preview flexed-default flex-ai-center flex-jc-center lazyload" data-bg="{{ galleryPreviewImageTransformed.url }}">
    <div class="btn btn--no-border btn--with-icon btn--white">{{ icon.variation('gallery', 'white') }}View Full<br>Gallery</div>
  </a>
</section>

<section class="construction-images">
  {% for i in entry.developmentFeaturedImages.offset(1) %}
  {% set iTransformed = craft.imager.transformImage(i, {
    interlace: true,
    width: '2400',
    allowUpscale: 'false'
    }) %}
    <img class="lazyload" data-src="{{ iTransformed.url }}" style="background-position: {{ i.focusPctX }}% {{ i.focusPctY }}%" alt="{{ i.title }}">
  {% endfor %}
</section>


{% endcache %}

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lightgallery@1.2.4/dist/js/lightgallery.min.js"></script><script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lightgallery@1.2.4/dist/js/lg-thumbnail.min.js"></script><script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lightgallery@1.2.4/dist/js/lg-thumbnail.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  $('.gallery-preview').on('click', function() {
    $(this).lightGallery({
      dynamic: true,
      dynamicEl: [
        {% for i in entry.imageGalleryDevelopments %}
        {% set transformedImage = craft.imager.transformImage(i, { width: 2000, allowUpscale: false, interlace: true }) %}
        {% set transformedThumb = craft.imager.transformImage(i, { width: 200, allowUpscale: false, interlace: true }) %}
        {
        'src': '{{ transformedImage.url }}',
        'thumb': '{{ transformedThumb.url }}',
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
    })
  });
});
</script>
{% endblock %}
