{% extends "_base" %}
{% set title = 'Developments' %}

{% import '_includes/_macros' as icon %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css"/>

{% endblock %}

{% block content %}

{% cache globally using key craft.request.path %}

<section class="padding-top-xl">
  <div class="container flexed-default flex-ai-center flex-jc-center env-light">
    <h1>Hampton Developments</h1>
  </div>
</section>

<section class="search-results-wrapper grid-view">
  {# <div class="search-results__table-header container">
    <div class="title-cell">Project</div>
    <div class="location-cell">Location</div>
    <div class="description-cell">Description</div>
    <div class="type-cell">Type</div>
    <div class="tag-cell">Tag</div>
  </div> #}
  {% for development in craft.entries.section('developments').with(['featuredImage','developmentLogoWhite']) %}
  {% set featuredImage = development.featuredImage[0] ?? null %}
  {% set transformedImage = craft.imager.transformImage(featuredImage, {
    width: 1500,
    ratio: 4/3,
    position: featuredImage.focusPctX ~ '% ' ~ featuredImage.focusPctY ~ '%',
    }) %}

  <a href="{{ development.url }}" class="search-result image-as-link lazyload" data-bg="{{ transformedImage.url }}" style="background-position: {{ featuredImage.focusPctX }}% {{ featuredImage.focusPctY }}%" data-types="{% for type in development.constructionProjectType %}{{ type.slug }} {% endfor %}all-types" data-tags="{% for tag in development.constructionProjectTags %}{{ tag.slug }} {% endfor %}all-tags" data-methods="{{ development.constructionProjectDeliveryMethod[0].slug ?? null }} all-methods" data-title="{{ development.title }}">
    {# <div class="btn btn--white btn--no-border btn--with-icon search-result__button">{{ icon.variation('look', 'white') }} View Full Project</div> #}
    <img class="development-logo" src="{{ development.developmentLogoWhite[0].url }}">
    <div class="search-result__info">
      <p class="title-cell search-result__title">{{ development.title }}</p>
      {# <p class="location-cell search-result__location">{{ development.location }}</p> #}
      {# <div class="description-cell search-result__description">{{ development.descriptionOverview|hacksaw(hack='words', limit='25', allow='<a><p><strong>', append='...') }}</div>
      <div class="type-cell search-result__development-type">{% for type in development.constructionProjectType %}
      {{ type.title }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
      <div class="tag-cell search-result__tags">{% for tag in development.constructionProjectTags %}{{ tag.title }}{% if not loop.last %}, {% endif %}{% endfor %}</div> #}

    </div>
  </a>

  {% endfor %}

</section>

{% endcache %}



{% endblock %}

{% block scripts %}
{% endblock %}
