{% extends "_base" %}
{% set title = '404 - Page Not Found' %}

{% import '_includes/_macros' as icon %}

{% block stylesheets %}
<style>
body {
  min-height: 100vh;
}
</style>
{% endblock %}

{% block content %}

<section class="padding-top-xl">
  <div class="container flexed-default flex-ai-center flex-jc-center centered env-light">
    <h1 style="margin-bottom: 32px">Page Not Found</h1>
    <p>We're sorry, but the page you were looking for couldn't be located. <a href="/">Click here</a> to return to the homepage.</p>
  </div>
</section>

{% endblock %}

{% block scripts %}
{% endblock %}
