<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title ?? entry.title ?? category.title }} | Hampton</title>
	<link href="{{ siteUrl }}" rel="home">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
  <link href="{{ 'assets/styles/master.css' | gulp_rev }}" rel="stylesheet">

  <link href="/images/favicons/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
  <link href="/images/favicons/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">
  <link href="/images/favicons/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16">
  <link href="/images/favicons/manifest.json" rel="manifest">
  <link href="/images/favicons/safari-pinned-tab.svg" rel="mask-icon" color="#5bbad5">
  <link href="/images/favicons/favicon.ico" rel="shortcut icon">
  <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
	<meta name="google-site-verification" content="jrulmfmZOEOJ_wkcZJHduNa6UTPW4O9etzD_lCXh_vQ" />
  <script src="https://use.typekit.net/oam6rxe.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  {% block stylesheets %}
  {% endblock %}

  {% block meta %}
  {% endblock %}
  {% hook 'seomaticRender' %}
</head>

<body class="{{ craft.request.getSegment(1) ?? 'home' }}">

{% include '_includes/_site-header' %}

<main role="main" class="p--{{ craft.request.getSegment(1) ?? 'home' }}">
  {% block content %}
  {% endblock %}
</main>


{% include '_includes/_site-footer' %}

<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
<script src="{{ 'assets/js/site.js' | gulp_rev }}"></script>

{% block scripts %}
{% endblock %}
</body>
</html>
