{% extends "_base" %}
{% set title = "Hampton Enterprises | Properties and Construction" %}

{% import '_includes/_macros' as icon %}

{% block stylesheets %}
<link rel="stylesheet" href="/external/styles/YouTubePopUp.css">
{% endblock %}

{% block content %}

{% set propertyImage = entry.featuredPropertyImage[0] ?? null %}
{% set constructionImage = entry.featuredConstructionImage[0] ?? null %}
{% set transformedPropertyImage = craft.imager.transformImage(propertyImage, {
  width: 2100,
  }) %}
{% set transformedConstructionImage = craft.imager.transformImage(constructionImage, {
  width: 2100,
  }) %}


{% cache globally using key 'homepage' %}

<section class="hero hero--home two-col">

  <a href="/properties" class="col col--properties hero--with-image flex-ai-center flex-jc-end image-as-link lazyload" style="background-position: {{ propertyImage.focusPctX }}% {{ propertyImage.focusPctY }}%;" data-bg="{{ transformedPropertyImage.url }}">
    <div class="btn btn--large">Properties</div>
  </a>

  <a href="/construction" class="col col--construction hero--with-image flex-ai-center flex-jc-end image-as-link lazyload" style="background-position: {{ constructionImage.focusPctX }}% {{ constructionImage.focusPctY }}%;" data-bg="{{ transformedConstructionImage.url }}">
    <div class="btn btn--large">Construction</div>
  </a>

  <div class="hero-arrow prev">{{ icon.variation('Left', 'White') }}</div>
  <div class="hero-arrow next">{{ icon.variation('Left', 'White') }}</div>
</section>

<section id="hamptonway" class="gradient-radial-blue flexed-default flex-jc-center full-screen">
  <div class="container centered v-padding-large">
    <!-- <img class="image-centered badge" src="{{ craft.config.get('baseUrl') }}/images/logos/Hampton-Logo-Badge.png" width="300"> -->
    <h6 style="font-size: 15px; margin-bottom: 16px; color: white">Creating Relationships That Build and Improve Communities</h6>
    <h1 class="h1-mega mb-large" id="hampton-way">The Hampton Way</h1>
    <div class="text-size-large">{{ entry.descriptionOverview }}</div>
    <div class="company-tagline color-text-white" style="margin: 32px 0 48px; font-size: 24px;">Because Relationships Really Do Matter.</div>
    <div class="flexed">
      <a class="video-popup" href="{{ entry.homePageVideoLinkUrl }}"><span>{{ icon.variation('Play', 'Yellow') }} Watch the video</span></a>
    </div>
  </div>
  <div style="margin: 0 auto 48px; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
    <a href="https://nebraska.app.bbb.org/IntegrityAwards/IA2019.html" target="_blank"><img style="display: block; margin: 16px 24px" width="400" src="https://hampton1.com/images/logos/2019-integrity-2color-WINNER.jpg"></a>
    <a href="https://nebraska.app.bbb.org/IntegrityAwards/IA2019.html" target="_blank"><img style="display: block; margin: 16px 24px" width="400" src="https://hampton1.com/images/logos/2001-integrity-2color-WINNER.jpg"></a>
    </div>
</section>


{% endcache %}

{% endblock %}

{% block scripts %}
<script src="/external/js/youtube.js"></script>
<script type="text/javascript">

$(document).ready(function() {

  $('.hero-arrow').click(function(){
    $('.hero--home').toggleClass('slide');
  });

  var timeOut = null;
  $('.hero-arrow').click(function(e,simulated){
    if(!simulated){
      clearTimeout(timeOut);
    }
  });

  var mq = window.matchMedia( "(max-width: 48em)" );
  if (mq.matches) {
      function autoAdvance (){
        $('.hero-arrow.next').trigger('click',[true]);
        timeOut = setTimeout(autoAdvance,5000);
      }
      setTimeout(autoAdvance,5000);
    }

  $(".video-popup").YouTubePopUp();

});
</script>
{% endblock %}
