body {
  height: 100%;
}

.page-with-sidebar {
  @include res(56) {
    display: flex;
  }
}

.right-side-body {
  @include res(56) {
    width: calc(100% - 200px);
    flex: 1;

  }
}

.container {
  max-width: $container-max-width;
  padding: 0 ($u*2);
  margin: 0 auto;
}

.container--alt {
  max-width: 100%;
  padding: 0 ($u*2);
  margin: 0 auto;

  @include res(56) {
    padding: 0 ($u*3);
  }
}

.sticky-nav-internal {
  @include transition;
  transition-duration: 0.75s;

  // position: fixed;
  // position: sticky;
  position: relative;

  width: 100%;
  flex: none;


  @include res(56) {
    align-items: center;
    justify-content: center;
    // padding-bottom: 24px;
    width: 200px;
  }


  .btn.btn--with-icon {
    // flex-direction: column;
    justify-content: flex-start;
    padding: 0 16px;
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0;
    line-height: 1.25;

    flex: none;
    margin-bottom: 24px;

    @include res(56) {
      padding: 0;
    }

    &.active {
      text-decoration: underline;
    }
  }
}

.sticky-nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-top: 130px;
  background: $color-brand-dark-blue;

  @include res(56) {
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    padding: 16px;
    padding-top: 160px;
  }
}
