img {
  max-width: 100%;
}

.image-as-link {
  position: relative;
  background-size: cover;
  text-decoration: none;

  @include transition;

  &::after {
    position: absolute;
    top: 0;
    left: 0;

    width: calc(100% - 8px);
    height: calc(100% - 8px);

    border: 4px solid $color-brand-yellow;
    opacity: 0;

    content: '';

    @include transition;
  }

  &:hover::after {
    opacity: 1;
  }

  &:hover .btn {
    border-color: $color-brand-yellow;
  }
}


.lazyload,
.lazyloading {
	opacity: 0;
  @include transition($duration: 0.5s);
}
.lazyloaded {
	opacity: 1;
}
