@import '../typi/typi';

$font-default: ('proxima-nova', Helvetica, sans-serif);
$font-display: ('proxima-nova', Helvetica, sans-serif);
$font-alternate: ('EB Garamond', Georgia, serif);

body {
  color: $color-text-default;
  font-family: $font-default;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
.size-mega,
.display-size-h1 {
  color: white;
  font-weight: 400;
  font-family: $font-display;
  outline: none;
  @include typi($h1-map);

  .env-light & {
    color: $color-text-default;
  }
}

h2,
.display-size-h2 {
  font-weight: 400;
  font-family: $font-display;
  @include typi($h2-map);

  .env-light & {
    color: $color-text-default;
  }
}

h3,
.display-size-h3 {
  font-weight: 400;
  font-family: $font-display;
  @include typi($h3-map);

  .env-light & {
    color: $color-text-default;
  }
}

h4,
.display-size-h4 {
  font-weight: 400;
  font-family: $font-display;
  @include typi($h4-map);

  .env-light & {
    color: $color-text-default;
  }
}

h6,
.display-size-h6 {
  font-weight: 700;
  font-family: $font-display;
  text-transform: uppercase;
  @include typi($h6-map);

  .env-light & {
    color: $color-text-default;
  }
}

p {
  @include typi($body-text-tight);

  .env-dark & {
    color: white;
  }

  .env-light & {
    color: $color-text-default;
  }
}

p + p, h1 + p, h2 + p, h3 + p {
  margin-top: $u;
}

ul {
  margin-left: ($u*1.5);
}

li {
  margin-bottom: ($u/2);
  @include typi($body-text-tight);

  .env-light & {
    color: $color-text-default;
  }
}

main a {
  color: $color-brand-blue;
  @include transition;

  &:hover {
    color: lighten($color-brand-blue, 20%);
  }

  &.link--light {
    color: $color-base-light-gray;

    &:hover {
      color: $color-base-white;
    }
  }
}

.label-button-style {
  color: $color-text-subtle;
  font-weight: 700;
  font-family: $font-display;
  text-transform: uppercase;
  text-decoration: none;
  @include typi($body-text-button);
}

.copy-block {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: $u;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.company-tagline {
  margin: 16px 0 0;
  // color: white;
  font-weight: 700;
  font-family: $font-display;
  font-size: 16px;
  font-style: italic;
}

// Typography helpers

// Add a subtle text shadow to increase readability. Primarily used for white text layed on top of a photo.
.text-shadow {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.text-shadow-dark {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.mb-small {
  margin-bottom: ($u/2);
}
.mb-default {
  margin-bottom: $u;
}
.mb-large {
  margin-bottom: ($u*2);
}

.line-underneath {
  padding-bottom: ($u*2);
  margin-bottom: ($u*2);
  border-bottom: 2px solid;
}
.color-text-yellow {
  color: $color-brand-yellow !important;
}

.color-text-default {
  color: $color-text-default;
}

.color-text-subtle {
  color: $color-text-subtle;
}

.color-text-neutral {
  color: $color-text-neutral;
}

.color-text-white {
  color: $color-base-white !important;
}

.text-size-large {
  @include typi($body-text-large);
}
