
{% extends "_base" %}
{% set title = 'Thanks for your submission' %}

{% import '_includes/_macros' as icon %}

{% block stylesheets %}
<style>
body {
  min-height: 100vh;
}
</style>
{% endblock %}

{% block content %}

<section class="padding-top-xl">
  <div class="container flexed-default flex-ai-center flex-jc-center env-light centered">
    <h1 style="margin-bottom: 32px">Message Received.</h1>
    <p>Thanks for your submission. We'll get back to you as soon as we can.</p>
    <p><a href="/">Click here</a> to return to the homepage.</p>
  </div>
</section>

{% endblock %}

{% block scripts %}
{% endblock %}
